<template>
    <div class="dashboard-content" id="service">
       <div class="domestic-content">
            <div class="domestic-head">
                <img src="../../../assets/img/truck.PNG" />
                <h4><b>START SHIPPING</b></h4>
            </div>
            <domestic-slider :activePage="page" ></domestic-slider>
            <address-book-modal 
                v-show="showAddressBook"  
                :callFrom="pointOfCall" 
                :status="showAddressBook" 
                :type= "entryType" 
                :previousSelection="previousSelection"
                @closeAddressBook= "showAddressBook = !showAddressBook"
                @populateAddress="fillPickupDetails">
            </address-book-modal>
            <div id="slider-element"></div>
            <br>
            <div class="entry-method">
                <h3>CHOOSE ENTRY METHOD</h3>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <label class="entry-type">Single
                            <input type="radio" name="radio" @click="entryMethod('single')" ref="single" checked>
                            <span class="checkmark"></span>
                        </label>
                        <label class="entry-type" v-show="!isUser">Batch
                            <input type="radio" name="radio" @click="entryMethod('batch')" ref="batch" disabled>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="domestic-item-type" id="sender-details">
                <h3>SERVICE OPTIONS</h3>
                <div class="row address-row">
                    <div class="col-md-12">
                        <div class="row address-box">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Requester name <span class="mandatory">*</span></label>
                                    <!-- <button @click="ShowAddressModal('service-data')"  >Address Book</button> -->
                                    <br>
                                    <input v-focus type="text" placeholder="Enter Requester name" name="" v-model="requesterName" :disabled="isUser"><br>
                                </div>
                                <div class="col-md-4">
                                    <label>Unit <span class="mandatory">*</span></label><br>
                                    <!-- <input type="text" placeholder="Enter Branch name" name="" :value="requesterBranch"><br> -->
                                     <select v-model="requesterBranch" :disabled="isUser">
                                         <option v-for="item in branchList" :value="item.id"  >{{ item.branch_id }}</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label>Request date <span class="mandatory">*</span></label><br>
                                    <input type="date" min="2014-05-11" max="2200-05-20"  name="" v-model="requestDate"><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Type of goods <span class="mandatory">*</span></label><br>
                                    <!-- <input type="text" placeholder="Select type of Goods.."  v-model="itemType"><br> -->
                                    <select v-model="itemType">
                                         <option v-for="item in goodsList" :value="item.type"  >{{ item.type }}</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label>Mode of dispatch <span class="mandatory">*</span></label><br>
                                    <!-- <input type="text" placeholder="Select mode of..." name=""><br> -->
                                    <select v-model="modeOfDispatch">
                                         <option v-for="item in goodsDispatchDetails" :value="item.name" :ref="item.name">{{ item.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="row provider-box">
                                <div class="col-md-12">
                                    <br>
                                    <div v-for="provider in providerDetails">
                                        <div class="provider-div">
                                            <input type="radio" name="radio" @click="entryMethod('single')" checked>
                                            <span class="checkmark"></span>
                                            <img class="provider-logo" :src="provider.logo" alt="provider-logo" />
                                        </div>
                                    </div>
                                </div>
                            </div> -->


                            <!------ provider selection section ---->
                            <!-- @click="selectRateCard(provider)" -->
                            <!-- @click= "rateCardMessage" -->
                            <div class="providers-box">
                                <div class="row">
                                    <div v-for="provider in providerDetails">
                                        <div
                                            v-if="isUser && modeOfDispatch != 'Courier' || (isUser && provider.carrier_code == 'WHO')"
                                            class="col-md-2 provider-card">
                                            <div>
                                                <input 
                                                :id="provider.id" 
                                                type="radio" 
                                                name="provider" 
                                                :ref="provider.id"
                                                @click="selectRateCard(provider, $event)">
                                            <span></span>
                                            <div class="logo-container">
                                                <img class="provider-logo" :src="provider.logo" :alt="provider.name">
                                            </div>
                                            </div>
                                        </div>

                                        <div
                                            v-if="!isUser"
                                            class="col-md-2 provider-card">
                                            <div>
                                                <input 
                                                :id="provider.id" 
                                                type="radio" 
                                                name="provider" 
                                                :ref="provider.id"
                                                @click="selectRateCard(provider, $event)">
                                            <span></span>
                                            <div class="logo-container">
                                                <img class="provider-logo" :src="provider.logo" :alt="provider.name">
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!----- provider selection section ends ---->

                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="domestic-delivery-options">

                <h4>DELIVERY OPTIONS
                    <router-link to="/home/help">
                        <span class="help-link"><i class="material-icons">play_arrow</i><span class="help-text">Help</span><i class="material-icons">help</i>
                        </span>
                    </router-link>
                </h4>
                <div class="item-type-line"></div>
                <br>
                <div class="item-type-content">
                    <div class="row table-head"><b>Service Name</b></div>
                    <div class="row table-content">
                        <div class="col-md-5 delivery-service">
                            <label>Choose a delivery service <span class="mandatory">*</span></label><br>
                            <select v-model="service" 
                                    id="serviceProvided"
                                    ref="delivery_service"
                                    @focus = "removeWarning('delivery_service')">
                                    <option value="">Please select a service</option>
                                    <option v-for="(service, index) in deliveryServices" :key="'delivery_service_'+index" :value="service.name + '@' + service.id"> {{service.name }}</option>
                            </select>
                        <img :src="providerLogo"/>
                        </div>
                        <div class="col-md-7 delivery-service-content">
                            <p>
                            {{ providerDescription }}
                            </p> 
                            <!-- <button @click= "rateCardMessage">View Rate Card</button> -->
                        </div>
                    </div>
                    <div class="row margin-top-3">
                        <div class="col-md-6">
                            <label>Customer Reference number</label><br>
                            <input type="text" placeholder="Enter the Reference no" name="" v-model="referenceNo"><br>
                        </div>
                        <div class="col-md-4">
                            <label>PTAEO  <span class="optional">(Seperate with / symbol -P/T/A/E/O)</span><span class="mandatory"> *</span></label>
                            <br>
                            <input type="text" placeholder="PTAEO Details" name="" 
                                    v-model="PTAEO" 
                                    ref="ptaeo"
                                    @focus = "removeWarning('ptaeo')">
                            
                            <br>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-3">
                            <label class="contains">
                                <input type="checkbox" @click="setPriority" ref="priorityFlag">
                              <span class="checkmark" ></span>Priority Importance
                            </label>
                        </div>
                    </div>      
                </div>
            </div>
            <!--Address details-->
            <div class="row address-row">
                <h3><b>ADDRESS DETAILS</b></h3>
                <br>
                <div class="col-md-6" id="pickup-details">
                    <div class="row">
                        <div class="col-md-6" >
                        <h4>PICKUP DETAILS</h4>
                        <hr class="line">   
                        </div>
                        <div class="col-md-6" v-show="!isUser">
                            <button class="dropbtn" @click="ShowAddressModal('pickup-data')" >Address Book</button>
                        </div>  
                    </div>
                    <div class="row address-box" id="pickup-address">
                        <div class="row">
                            <label>Full Name <span class="mandatory">*</span></label><br>
                            <input type="text" name="" 
                                    v-model ="pickupName" 
                                    @focus= "pickupNameShow('pickup_name')" 
                                    @blur= "pickupList = false" 
                                    :disabled="isUser"
                                    ref = "pickup_name">
                            <div class="pickup-list" v-show="pickupList">
                                <div v-for="address in pickupAddressList">
                                    <div class="pickup-item" @mousedown= "pickupDetailsFill(address)">
                                        {{ address.name }}
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="row">
                            <label>Company Name <span class="mandatory">*</span></label><br>
                            <input type="text" name="" 
                                    v-model ="pickupCompanyName" 
                                    :disabled="isUser"
                                    ref = "pickup_company"
                                    @focus = "removeWarning('pickup_company')"><br>
                        </div>
                        <div class="row">
                            <label>Branch Name</label><br>
                            <input type="text" name="" 
                                    v-model ="pickupBranchName" 
                                    :disabled="isUser"><br>
                        </div>
                        <div class="row">
                            <label>Address 1 <span class="mandatory">*</span></label><br>
                            <input type="text" name="" 
                                    v-model ="pickupAddress1" 
                                    :disabled="isUser"
                                    ref = "pickup_address_1"
                                    @focus = "removeWarning('pickup_address_1')"><br>
                        </div>
                        <div class="row">
                            <label>Address 2</label><br>
                            <input type="text" name="" 
                                    v-model ="pickupAddress2" 
                                    :disabled="isUser"><br>
                        </div>
                        
                        <div class="big-row row">
                            <div class="col-md-6 left-col">
                                <label>Postal Code</label><br>
                                <input type="text" name="" 
                                        v-model ="pickupPostalCode" 
                                        :disabled="isUser"
                                        ref = "pickup_postal_code">
                            </div>
                            <div class="col-md-6 right-col">
                                <label>City <span class="mandatory">*</span></label><br>
                                <input type="text" name="" 
                                        v-model ="pickupCity" 
                                        :disabled="isUser"
                                        ref= "pickup_city"
                                        @focus = "removeWarning('pickup_city')">
                            </div>
                        </div>
                        <div class="big-row row">
                            <div class="col-md-6 left-col">
                                <label>Suburb</label><br>
                                <input type="text" name="" 
                                        v-model="pickupSuburb" 
                                        :disabled="isUser">
                            </div>
                            <div class="col-md-6 right-col">
                                <label>State/ Province </label><br>
                                <input type="text" name="" 
                                        v-model ="pickupState" 
                                        :disabled="isUser">
                            </div>
                        </div>
                         <div class="row">
                            <label>Country <span class="mandatory">*</span></label><br>
                            <input type="text" name="" 
                                        v-model ="pickupCountry" 
                                        :disabled="isUser"
                                        ref = "pickup_country"
                                        @focus = "removeWarning('pickup_country')"><br>
                        </div>
                        <!-- <div class="row">
                            <label>Suburb <span class="mandatory">*</span></label><br>
                            <input type="text" name=""><br>
                        </div> -->
                        <div class="big-row row">
                            <div class="col-md-6 left-col">
                                <label>Phone</label><br>
                                <input type="text" name="" 
                                        v-model ="pickupPhone" 
                                        :disabled="isUser">
                            </div>
                            <div class="col-md-6 right-col">
                                <label>Mobile</label><br>
                                <input type="text" name="" 
                                        v-model ="pickupMobile" 
                                        :disabled="isUser">
                            </div>
                        </div>
                        <div class="row">
                            <label>Email</label><br>
                            <input type="text" name="" 
                                        v-model ="pickupEmail" 
                                        :disabled="isUser"><br>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" id="delivery-details">
                    <div class="row">
                        <div class="col-md-6">
                        <h4>DELIVERY DETAILS</h4>
                        <hr class="line">   
                        </div>
                        <div class="col-md-6">
                            <a class="address-chip" @click="ShowAddressModal('delivery-data')">{{ pickupAddressCount }} Seleceted</a>
                            <button class="dropbtn" @click="ShowAddressModal('delivery-data')">Address Book</button>
                        </div>  
                    </div>
                    <div class="row address-box" id="delivery-address">
                        <div class="row">
                            <label>Full Name <span class="mandatory">*</span></label><br>
                            <!-- <input type="text" name="" v-model ="deliveryName"><br> -->
                            <input type="text" name="" 
                                    v-model ="deliveryName" 
                                    @focus= "deliveryNameShow('delivery_name')" 
                                    @blur= "deliveryList = false"
                                    ref = "delivery_name" >
                            <div class="delivery-list" v-show="deliveryList">
                                <div v-for="address in deliveryAddressList">
                                    <div class="delivery-item" @mousedown= "deliveryDetailsFill(address)">
                                        {{ address.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label>Company Name <span class="mandatory">*</span></label><br>
                            <input type="text" name="" 
                                    v-model ="deliveryCompanyName"
                                    ref = "delivery_company"
                                    @focus = "removeWarning('delivery_company')"><br>
                        </div>
                        <div class="row">
                            <label>Branch Name</label><br>
                            <input type="text" name="" 
                                    v-model ="deliveryBranchName" 
                                    ref = "delivery_branch"
                                    @focus = "removeWarning('delivery_branch')"><br>
                        </div>
                        <div class="row">
                            <label>Address 1 <span class="mandatory">*</span></label><br>
                            <input type="text" name="" 
                                    v-model ="deliveryAddress1"
                                    ref = "delivery_address_1"
                                    @focus = "removeWarning('delivery_address_1')"><br>
                        </div>
                        <div class="row">
                            <label>Address 2</label><br>
                            <input type="text" name="" v-model ="deliveryAddress2"><br>
                        </div>
                        
                        <div class="big-row row">
                            <div class="col-md-6 left-col">
                                <label>Postal Code</label><br>
                                <input type="text" name="" v-model ="deliveryPostalCode">
                            </div>
                            <div class="col-md-6 right-col">
                                <label>City <span class="mandatory">*</span></label><br>
                                <input type="text" name="" 
                                        v-model ="deliveryCity"
                                        ref = "delivery_city"
                                        @focus = "removeWarning('delivery_city')">
                            </div>
                        </div>
                        <div class="big-row row">
                            <div class="col-md-6 left-col">
                                <label>Suburb</label><br>
                                <input type="text" name="" v-model="deliverySuburb">
                            </div>
                            <div class="col-md-6 right-col">
                                <label>State/ Province</label><br>
                                <input type="text" name="" v-model ="deliveryState">
                            </div>
                        </div>
                        <div class="row">
                            <label>Country <span class="mandatory">*</span></label><br>
                            <input type="text" name="" 
                                    v-model ="deliveryCountry"
                                    ref = "delivery_country"
                                    @focus = "removeWarning('delivery_country')"><br>
                        </div>
                        <!-- <div class="row">
                            <label>Suburb <span class="mandatory">*</span></label><br>
                            <input type="text" name=""><br>
                        </div> -->
                        <div class="big-row row">
                            <div class="col-md-6 left-col">
                                <label>Phone</label><br>
                                <input type="text" name="" v-model ="deliveryPhone">
                            </div>
                            <div class="col-md-6 right-col">
                                <label>Mobile</label><br>
                                <input type="text" name="" v-model ="deliveryMobile">
                            </div>
                        </div>
                        <div class="row">
                            <label>Email</label><br>
                            <input type="text" name="" v-model ="deliveryEmail"><br>
                        </div>
                    </div>
                    <div class="row"></div>
                </div>
            </div>
            <br>
            <div class="row button-row">
                <!-- <div class="col-md-6 left-col">
                    <button class="cancel-button domestic-btn" onclick="location.href='booking.html';">CANCEL</button>
                </div> -->
                <router-link to="/home/booking" tag="div" class="" exact>
                    <button class="previous-button domestic-btn">PREVIOUS</button>
                </router-link>
                <router-link to="/home/booking" tag="div" class="" exact>
                    <button class="cancel-button domestic-btn">CANCEL</button>
                </router-link>
                    <button class="next-button domestic-btn" @click="storeData">SAVE & NEXT</button>
            </div>
       </div>
       <rate-card v-show="rateCard" @closeRateCard="closeRateCard"></rate-card>           
    </div>

</template>
<script type="text/javascript" src="rangeslide.min.js"></script>

<script>

    import DomesticSlider from '../../../components/domestic-slider';
    import RateCard from '../../../components/rate-card';
    import router from '../../../router';
    import { CoolSelect } from 'vue-cool-select';
    import watchers from './watchers';
    import methods from './methods';

    localStorage.courierBooking = '{}';

	export default { 
		name: 'service',
        components: {
            DomesticSlider,
            CoolSelect,
            RateCard
        },
        data() {
            return {
                page: 'serviceOptions',
                pageDepth: ['Booking', 'service details'],
                pointOfCall: '',
                showAddressBook: false,
                entryType: 'single',
                referenceNo: '',
                PTAEO: '',
                hasPriority: false,
                pickupName: '',
                pickupCompanyName: '',
                pickupBranchName: '',
                pickupAddress1: '',
                pickupAddress2: '',
                pickupPostalCode: '',
                pickupCity: '',
                pickupSuburb: '',
                pickupState: '',
                pickupCountry: '',
                pickupPhone: '',
                pickupMobile: '',
                pickupEmail: '',
                deliveryName: '',
                deliveryCompanyName: '',
                deliveryBranchName: '',
                deliveryAddress1: '',
                deliveryAddress2: '',
                deliveryPostalCode: '',
                deliveryCity: '',
                deliverySuburb: '',
                deliveryState: '',
                deliveryCountry: '',
                deliveryPhone: '',
                deliveryMobile: '',
                deliveryEmail: '',
                requesterName: '',
                requesterBranch: '',
                requestDate: '',
                modeOfDispatch: '',
                dispatchDetails: [],
                goodsDispatchDetails: [],
                providerDetails: [],
                providerList: [],
                deliveryServices: [],
                service: '',
                serviceName: '',
                itemType:'',
                providerLogo: '',
                providerDescription: '',
                currentProvider: '',
                pickupAddressCount: 0,
                courierBookingData: {},
                c_good: '',
                userDetails: '',
                branchList: '',
                goodsList : [],
                senderDetails: [],
                currentGoods: {},
                items: [],
                selected: '',
                rateCard: false,
                pickupList: false,
                deliveryList: false,
                addressesArray: [],
                pickupAddressList: [],
                deliveryAddressList: [],
                pickupPreviousSelection: [],
                deliveryPreviousSelection: [],
                previousSelection: [],
                isUser: false,
                selectedDeliveryServices: '',
                currentProvider: '',
                delivery_provider: '',
                deliveryProviderId: '',
                changeGood: false,
                firstTime: true,
                carrierCode: null,
                selectedServiceType: null,
                secondTime:false
            }
        },
        created() {
            // this.requestDate = new Date().toJSON().slice(0,10).replace(/-/g,'-');
            this.courierBookingData.delivery_address = [];
            this.branchList = JSON.parse(localStorage.companyDetails)[0].branches;
            this.userDetails = JSON.parse(localStorage.user);
            this.goodsList = JSON.parse(localStorage.goods);
            this.dispatchDetails = JSON.parse(localStorage.dispatchDetails);
            // this.requesterBranch = localStorage.branches;
            this.addressesArray = JSON.parse(localStorage.addresses);
            this.items = JSON.parse(localStorage.addresses).map(addr => addr.name);
            // this.populatePickupDetails();
            // this.requesterName = this.userDetails.name;
            // // this.pickupName = this.items.find(item => item.toLowerCase() == this.requesterName.toLowerCase());
            // // let sender = JSON.parse(localStorage.user).id;
            // // this.senderDetails.push(sender);
            // // localStorage.senderDetails = JSON.stringify(this.senderDetails);
            // this.$root.$on('clearBookingView', (clear) => {
            //     Object.assign(this.$data, this.$options.data());
            // });
        },
        mounted:  function(){
            if(!this.userDetails.is_admin) {
                this.isUser = true;
            }
            // this.items = JSON.parse(localStorage.addresses).map(addr => addr.name);

            
        },
        directives: {
          focus: {
            // directive definition
            inserted: function (el) {
              el.focus()
            }
          }
        },
        beforeRouteEnter (to, from, next) {
            if(from.name == "updateBooking"){
                location.href = to.fullPath;
            }
            next(vm => {
                vm.$root.$emit('pageHierarchy', vm.pageDepth);
                vm.setCourier(to.params.id);
            });
        },
        beforeRouteLeave (to, from, next) {
            console.log('Leaving from '+from.path);
            this.firstTime = true;
            next();
        },
        updated: function () {
          this.$nextTick(function () {

          console.log('First time is '+this.firstTime);

            if(this.firstTime) {
                let couriers = JSON.parse(localStorage.courierDetails);
                let currentCourier = couriers.find(courier => courier.id == this.$route.params.id);
                let a = document.getElementById(currentCourier.provider_id);
                $('#'+currentCourier.provider_id).click();
                
                
                console.log("Anand");
                a.checked = true;
                
                console.log("Checking the element");
                //console.log(this.providerDetails)
                console.log('a',a);
                this.firstTime = false;
                this.secondTime = true;

                /*
                console.log('First time is now +'+this.firstTime);
                // this.service = currentCourier.delivery_service;
                console.log('service is:', this.service);
                let dispatchData = JSON.parse(localStorage.dispatchDetails);
                dispatchData.forEach(dispatch => {
                    dispatch.providers.forEach(provider => {
                        if(provider.id == currentCourier.provider_id) {
                            this.deliveryServices = [];
                            console.log('kittipoyi', provider);
                            provider.services.forEach(service => {
                                this.deliveryServices.push(service);
                            })
                        }
                    });
                });
                this.service = this.delivery_service + '@' + this.provider_id;
                // document.getElementById('serviceProvided').value = this.delivery_service + '@' + this.provider_id;
                */
            }else if(this.secondTime){

                //Probably this is called when we dynamically click the Provider
                console.log('Second Update - Probably the Click');
                let couriers = JSON.parse(localStorage.courierDetails);
                let currentCourier = couriers.find(courier => courier.id == this.$route.params.id);

                var selectedVal = "";
                var selected = $("input[type='radio'][name='provider']:checked");
                if (selected.length > 0) {
                    selectedVal = selected.attr('id');
                }
                console.log ('Selected Value for Courier is '+selectedVal);
                console.log ('Current courier val is '+currentCourier.provider_id);
                if(selectedVal === currentCourier.provider_id){
                    $('#serviceProvided').val(currentCourier.delivery_service + '@' + currentCourier.service_id);
                    console.log('setting'+currentCourier.delivery_service + '@' + currentCourier.service_id);
                }
                this.secondTime = false;
            }
          })
        },
        activated(){
            this.changeGood = false;
        },
        beforeDestroy() {
            this.$root.$off('editDetails');
            // this.$root.$off('clearBookingView');
            this.$root.$off('populateAddress');
        },
        watch: watchers,
        methods : methods
	}
</script>

<style lang="scss" src="../../../assets/css/service.scss"></style>
