.mail-room-booking,.courier-booking,.transport-booking{
		width:29%;
		margin: 2.5% 1.5%;
		min-height: 400px;
		color: #fff;
	}
	.margin-set-2{
		margin-left: 2%;
		width: 98%;
	}
	.mail-room-booking .title-link{
		background-image: url('../img/mailroom.PNG');
		background-color: #f99009;
	}
	.courier-booking .title-link{
		background-image: url('../img/courier-booking.PNG');
		background-color: #ffc807;
	}
	.transport-booking .title-link{
		background-image: url('../img/transport.PNG');
		background-color: #f77016;
	}

	.mail-room-booking .title-link,.courier-booking .title-link,.transport-booking .title-link{
		background-repeat: no-repeat;
		background-position: 7%;
	    background-size: 60px;
		text-align: center;
		min-height: 120px;
		.title-content{
			font-size: 20px;
		    position: absolute;
		    top: 35%;
		    left: 33%;
		}
	}
	.mail-room-booking .title-link:hover,.courier-booking .title-link:hover,.transport-booking .title-link:hover{
		cursor: pointer;
	}
	.mail-room-booking .process-steps h4{
		background-color: #f99009;
	}
	.courier-booking .process-steps h4{
		background-color: #ffc807;
	}
	.transport-booking .process-steps h4{
		background-color: #f77016;
	}
	.process-steps{
		min-height: 300px;
		margin-top: 12%;
		font-size: 16px;
		background-color: #f3f3f3;
		border: 1px solid #eee;
		padding: 0;
		padding-bottom: 5%;
		h4{
		    height: 5%;
		    margin:0;
		    font-size: 16px;
		    padding: 3% 10%;
		}
		p{
			color: #2f2f2f;
			font-weight: bold;
		    position: relative;
		    margin: 5% 10%;
		    font-size: 15px;
		    height: 50px;
		    line-height: 50px;
		}
		.steps{
			.doted-border{
				padding: 4.5% 2%;
			    border-radius: 50px;
			    margin-right: 7%;
			    font-size: 20px;
			    border: 1px dashed #fc9f0b; 
			    .step-number{
					font-size: 20px;
					padding: 3% 6%;
				    background-color: #fc9f0b;
				    border-radius: 50px;
				}
			}
		}
	}
	.courier-booking-modal{
		display: none;
		width: 100%;
	    left: 0;
	    top: 0;
	    height: 100vh;
	    position: absolute;
	    z-index: 9999999;
	    background-color: rgba(0, 0, 0, 0.4);
		.modal-box{
			position: absolute;
		    left: 26%;
		    top: 30%;
		    height: 40%;
		    width: 48%;
		    border: 1px solid #000;
		    background-color: #fcfcfc;
		    .close-modal{
		    	position: absolute;
		    	right: 2%;
		    	top: 4%;
		    	color: #000;
		    	font-size: 26px;
		    }
		    .close-modal:hover{
		    	cursor: pointer;
		    }
		    .courier-icon{
		    	display: block;
		    	margin-left: 44%;
		    	margin-top: 2%;
		    }
		    h3{
		    	font-weight: bold;
		    }
		    button{
		    	width: 40%;
			    height: 32%;
			    font-weight: bold;
			    margin: 2% 0% 0% 7%;
			    border: 1px solid #fff;
			    color: #000;
			    background-color: #ffc807;
			    img{
			    	/*width: 54px;*/
			    	margin-right: 8%;
			    }
		    }
		}
	}