<template>
  <div id="login">
    <div class="col-md-7 col-md-offset-4 right-div">
        <h2>Your email is verified already.</h2>
        <br>
        <br>
        <br>
        <br>
        <router-link to="/" >
            <button class="signin-btn" >LOGIN</button>
        </router-link>
		<div class="line"></div>
		<div class="help-box">
            <span class="help-link">Need help?
				<router-link to="/support"> Go to Support</router-link>
			</span>
        </div>
    </div>
</div>
</template>
<script>
	export default {
        name: 'AlreadyVerified',
        data()  {

        }
    } 
</script>

<style lang="scss" src="../assets/css/login.scss" scoped></style>

