<template>
	<div class="dashboard-container">
	  	<side-nav></side-nav>
	  	<div class="content-box" id="content-box">
	    	<top-nav></top-nav>
	    	<keep-alive :xinclude= "['service', 'shipmentDetails']">
			    <router-view></router-view>
			</keep-alive>
		</div>
  	</div>
</template>

<script>
	export default {
        name: 'main-app'
    } 
</script>
<style>
	body{
	font-family: 'Roboto Condensed', sans-serif !important;
	}
  	.dashboard-container{
    	clear: both;
    	display: block;
	}
	.content-box{
		width: 80%;
		height: 100vh;
		margin-left: 20%;
		background-color: white;
		box-sizing: border-box;
		float: left;
		transition: 1s ease;
	}
</style>
