<template>
	<div>
		<div class="" id="content-box">
	        <div class="row margin-set-2 dashboard-content">
	            <div class="col-md-4 courier-booking">
	                <div class="row" id="courier-booking"> <!--@click="showMailModal = !showMailModal"-->
						<router-link to='/home/mailroom' event="" class="text-light">
							<div class="col-md-12 title-link">
								<span class="title-content">MAILROOM BOOKING</span>
							</div>
						</router-link>
	                </div>
	                <div class="row">
	                    <div class="col-md-12 process-steps">
	                        <h4>Step by Step Process</h4>
	                        <div class="steps">
	                            <p><span class="doted-border"><span class="step-number">1</span></span> SERVICE OPTION</p>
	                            <p><span class="doted-border"><span class="step-number">2</span></span> ADDRESS DETAILS</p>
	                            <p><span class="doted-border"><span class="step-number">3</span></span> SHIPMENT DETAILS</p>
	                            <p><span class="doted-border"><span class="step-number">4</span></span> CONFIRM SHIPMENT</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-4 mail-room-booking" @click = "gotoBooking">
	                <div class="row" id="mail-room-booking">
	                    <div class="col-md-12 title-link">
	                        <span class="title-content">COURIER BOOKING</span>
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="col-md-12 process-steps">
	                        <h4>Step by Step Process</h4>
	                        <div class="steps">
	                            <p><span class="doted-border"><span class="step-number">1</span></span> SERVICE OPTION</p>
	                            <p><span class="doted-border"><span class="step-number">2</span></span> ADDRESS DETAILS</p>
	                            <p><span class="doted-border"><span class="step-number">3</span></span> SHIPMENT DETAILS</p>
	                            <p><span class="doted-border"><span class="step-number">4</span></span> CONFIRM SHIPMENT</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-4 transport-booking">
	                <div class="row">
	                    <div class="col-md-12 title-link">
	                        <span class="title-content">TRANSPORT BOOKING</span>
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="col-md-12 process-steps">
	                        <h4>Step by Step Process</h4>
	                        <div class="steps">
	                            <p><span class="doted-border"><span class="step-number">1</span></span> SELECT RIDE TYPE</p>
	                            <p><span class="doted-border"><span class="step-number">2</span></span> ENTER PICKUP / DROP DETAILS</p>
	                            <p><span class="doted-border"><span class="step-number">3</span></span> CONFIRM DETAILS</p>
	                            <p><span class="doted-border"><span class="step-number">4</span></span> BOOK YOUR RIDE</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>
		<!-- <booking-modal v-show="showCourierModal" @closeModal="showCourierModal = !showCourierModal" type="COURIER BOOKING" buttonName1= "DOMESTIC" buttonName2= "INTERNATIONAL" buttonName3 = "MESSENGER" ></booking-modal>
		<booking-modal v-show="showMailModal" @closeModal="showMailModal = !showMailModal" type="MAILROOM BOOKING" buttonName1= "JOB ENTRY" buttonName2= "MESSENGER DISPATCH"></booking-modal> -->
	</div>

</template>

<script>
	import BookingModal from '../components/booking-modal';
	import router from '../router';
	export default{
		name: 'booking',
		components: {
			BookingModal
		},
		data(){
			return{
				pageDepth: ['Booking'],
				showCourierModal: false,
				showMailModal: false
			}
		},
		beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.$root.$emit('pageHierarchy', vm.pageDepth);
            });
        },
        methods : {
        	gotoBooking() {
        		router.push('service');
        	}
        }
	}
</script>

<style lang="scss">
	.dashboard-content {
		margin-top: 9%;
	}
	.mail-room-booking,.courier-booking,.transport-booking{
		width:29%;
		margin: 2.5% 1.5%;
		min-height: 400px;
		color: #fff;
	}
	.margin-set-2{
		margin-left: 2%;
		width: 98%;
	}
	.mail-room-booking .title-link{
		background-image: url('../assets/img/courier-booking.PNG');
		background-color: #f99009;
	}
	.courier-booking .title-link{
		background-image: url('../assets/img/mailroom.PNG');
		background-color: #ffc807;
	}
	.transport-booking .title-link{
		background-image: url('../assets/img/transport.PNG');
		background-color: #f77016;
	}

	.mail-room-booking .title-link,.courier-booking .title-link,.transport-booking .title-link{
		background-repeat: no-repeat;
		background-position: 7%;
	    background-size: 60px;
		text-align: center;
		min-height: 120px;
		.title-content{
			font-size: 20px;
		    position: absolute;
		    top: 35%;
		    left: 33%;
		}
	}
	.mail-room-booking .title-link:hover,.courier-booking .title-link:hover,.transport-booking .title-link:hover{
		cursor: pointer;
	}
	.mail-room-booking .process-steps h4{
		background-color: #f99009;
	}
	.courier-booking .process-steps h4{
		background-color: #ffc807;
	}
	.transport-booking .process-steps h4{
		background-color: #f77016;
	}
	.process-steps{
		min-height: 300px;
		margin-top: 12%;
		font-size: 16px;
		background-color: #f3f3f3;
		border: 1px solid #eee;
		padding: 0;
		padding-bottom: 5%;
		h4{
		    height: 5%;
		    margin:0;
		    font-size: 16px;
		    padding: 3% 10%;
		}
		p{
			color: #2f2f2f;
			font-weight: bold;
		    position: relative;
		    margin: 5% 2%;
		    font-size: 15px;
		    height: 50px;
		    line-height: 50px;
		}
		.steps{
			.doted-border{
				padding: 4.4% 2%;
			    border-radius: 50px;
			    margin-right: 7%;
			    font-size: 20px;
			    border: 1px dashed #fc9f0b; 
			    .step-number{
					font-size: 20px;
					padding: 3% 5.5%;
				    background-color: #fc9f0b;
				    border-radius: 50px;
				}
			}
		}
	}
	.courier-booking-modal{
		display: none;
		width: 100%;
	    left: 0;
	    top: 0;
	    height: 100vh;
	    position: absolute;
	    z-index: 9999999;
	    background-color: rgba(0, 0, 0, 0.4);
		.modal-box{
			position: absolute;
		    left: 26%;
		    top: 30%;
		    height: 280px;
		    width: 50%;
		    border: 1px solid #000;
		    background-color: #fcfcfc;
		    .close-modal{
		    	position: absolute;
		    	right: 2%;
		    	top: 4%;
		    	color: #000;
		    	font-size: 26px;
		    }
		    .close-modal:hover{
		    	cursor: pointer;
		    }
		    .courier-icon{
		    	display: block;
		    	margin-left: 44%;
		    	margin-top: 2%;
		    }
		    h3{
		    	font-weight: bold;
		    }
		    button{
		    	width: 40%;
			    height: 32%;
			    font-weight: bold;
			    margin: 2% 0% 0% 7%;
			    border: 1px solid #fff;
			    color: #000;
			    background-color: #ffc807;
			    img{
			    	/*width: 54px;*/
			    	margin-right: 8%;
			    }
		    }
		}
	}
	.text-light{
		color:#fff!important
	}
</style>