<template>
	<div class="dashboard-content" id="edit-service">
	   <div class="domestic-content">
            <div class="domestic-head">
                <img src="../assets/img/truck.PNG" />
                <h4><b>START SHIPPING</b></h4>
            </div>
            <domestic-slider :activePage="page" ></domestic-slider>
            <address-book-modal v-show="showAddressBook"  :callFrom="pointOfCall" :status="showAddressBook" :type= "entryType"
            @closeAddressBook= "showAddressBook = !showAddressBook"></address-book-modal>
            <div id="slider-element"></div>
            <br>
            <div class="entry-method">
                <h3>CHOOSE ENTRY METHOD</h3>
                <br>
                <!-- <div class="row">
                    <div class="col-md-3">
                        <label class="contains">
                          <input type="checkbox" ref="single" @click="entryMethod('single')">
                          <span class="checkmark"></span>Single Entry
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="contains">
                          <input type="checkbox" ref="batch" @click="entryMethod('batch')">
                          <span class="checkmark"></span>Batch Entry
                        </label>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-3">
                        <label class="entry-type">Single
                            <input type="radio" name="radio" @click="entryMethod('single')" ref="single">
                            <span class="checkmark"></span>
                        </label>
                        <label class="entry-type">Batch
                            <input type="radio" name="radio" @click="entryMethod('batch')" ref="batch">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <br>
            </div>
            <br>
            <div class="domestic-item-type">
                <h3>SERVICE OPTIONS</h3>
                <div class="row address-row">
                    <div class="col-md-12">
                        <div class="row address-box">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Requester name <span class="mandatory">*</span></label><button @click="ShowAddressModal('edit-service-data')"  >Address Book</button><br>
                                    <input type="text" placeholder="Enter Requester name" name="" :value="requesterName" disabled  
                                    ><br>
                                </div>
                                <div class="col-md-4">
                                    <label>Branch <span class="mandatory">*</span></label><br>
                                    <input type="text" placeholder="Enter Branch name" name="" :value="requesterBranch" disabled><br>
                                </div>
                                <div class="col-md-4">
                                    <label>Request date <span class="mandatory">*</span></label><br>
                                    <input type="date"  name="" v-model="requestDate"><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Type of goods <span class="mandatory">*</span></label><br>
                                    <input type="text" placeholder="Select type of Goods.."  v-model="itemType" disabled><br>
                                </div>
                                <div class="col-md-4">
                                    <label>Mode of dispatch <span class="mandatory">*</span></label><br>
                                    <!-- <input type="text" placeholder="Select mode of..." name=""><br> -->
                                    <select v-model="modeOfDispatch">
                                         <option v-for="item in dispatchDetails" :value="item.name"  :ref="item.name">{{ item.name }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="domestic-delivery-options">

                <h4>DELIVERY OPTIONS<span class="help-link"><i class="material-icons">play_arrow</i><span class="help-text">Help</span><i class="material-icons">help</i></span></h4>
                <div class="item-type-line"></div>
                <br>
                <div class="item-type-content">
                    <div class="row table-head"><b>Service Name</b></div>
                    <div class="row table-content">
                        <div class="col-md-5 delivery-service">
                            <label>Choose a delivery service <span class="mandatory">*</span></label><br>
                            <select v-model="service">
                                <option v-for="service in deliveryServices" :value="service.id + '@' + service.name" > {{service.name }}</option>
                            </select>
                        <img :src="providerLogo"/>
                        </div>
                        <div class="col-md-7 delivery-service-content">
                            <p>
                            {{ providerDescription }}
                            </p> 
                            <button>View Rate Card</button>
                        </div>
                    </div>
                    <div class="row margin-top-3">
                        <div class="col-md-6">
                            <label>Customer Reference number <span class="mandatory">*</span></label><br>
                            <input type="text" placeholder="Enter the Reference no" name="" v-model="referenceNo"><br>
                        </div>
                        <div class="col-md-4">
                            <label>PTAEO <span class="mandatory">*</span></label>
                            <br>
                            <input type="text" placeholder="Enter Branch name" name="" v-model="PTAEO">
                            
                            <br>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-3">
                            <label class="contains">
                                <input type="checkbox" @click="setPriority" ref="priorityFlag">
                              <span class="checkmark" ></span>Priority Importance
                            </label>
                        </div>
                    </div>      
                </div>
            </div>
            <!--Address details-->
            <div class="row address-row">
                <h3><b>ADDRESS DETAILS</b></h3>
                <br>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                        <h4>PICKUP DETAILS</h4>
                        <hr class="line">   
                        </div>
                        <div class="col-md-6">
                            <button class="dropbtn" @click="ShowAddressModal('edit-pickup-data')" >Address Book</button>
                        </div>  
                    </div>
                    <div class="row address-box" id="pickup-address">
                        <div class="row">
                            <label>Full Name <span class="mandatory">*</span></label><br>
                            <input type="text" name="" v-model ="pickupName" disabled><br>
                        </div>
                        <div class="row">
                            <label>Company Name <span class="mandatory">*</span></label><br>
                            <input type="text" name="" v-model ="pickupCompanyName" disabled><br>
                        </div>
                        <div class="row">
                            <label>Address 1 <span class="mandatory">*</span></label><br>
                            <input type="text" name="" v-model ="pickupAddress1" disabled><br>
                        </div>
                        <div class="row">
                            <label>Address 2</label><br>
                            <input type="text" name="" v-model ="pickupAddress2" disabled><br>
                        </div>
                        
                        <div class="big-row row">
                            <div class="col-md-6 left-col">
                                <label>Postal Code <span class="mandatory">*</span></label><br>
                                <input type="text" name="" v-model ="pickupPostalCode" disabled>
                            </div>
                            <div class="col-md-6 right-col">
                                <label>City <span class="mandatory">*</span></label><br>
                                <input type="text" name="" v-model ="pickupCity" disabled>
                            </div>
                        </div>
                        <div class="big-row row">
                            <div class="col-md-6 left-col">
                                <label>Suburb <span class="mandatory">*</span></label><br>
                                <input type="text" name="" v-model="pickupSuburb" disabled>
                            </div>
                            <div class="col-md-6 right-col">
                                <label>State/ Province <span class="mandatory">*</span></label><br>
                                <input type="text" name="" v-model ="pickupState" disabled>
                            </div>
                        </div>
                         <div class="row">
                            <label>Country <span class="mandatory">*</span></label><br>
                            <input type="text" name="" v-model ="pickupCountry" disabled><br>
                        </div>
                        <!-- <div class="row">
                            <label>Suburb <span class="mandatory">*</span></label><br>
                            <input type="text" name=""><br>
                        </div> -->
                        <div class="big-row row">
                            <div class="col-md-6 left-col">
                                <label>Phone</label><br>
                                <input type="text" name="" v-model ="pickupPhone" disabled>
                            </div>
                            <div class="col-md-6 right-col">
                                <label>Mobile <span class="mandatory">*</span></label><br>
                                <input type="text" name="" v-model ="pickupMobile" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <label>Email <span class="mandatory">*</span></label><br>
                            <input type="text" name="" v-model ="pickupEmail" disabled><br>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                        <h4>DELIVERY DETAILS</h4>
                        <hr class="line">   
                        </div>
                        <div class="col-md-6">
                            <a class="address-chip">{{ pickupAddressCount }} Seleceted</a>
                            <button class="dropbtn" @click="ShowAddressModal('edit-delivery-data')">Address Book</button>
                        </div>  
                    </div>
                    <div class="row address-box" id="delivery-address">
                        <div class="row">
                            <label>Full Name <span class="mandatory">*</span></label><br>
                            <input type="text" name="" v-model ="deliveryName" disabled><br>
                        </div>
                        <div class="row">
                            <label>Company Name <span class="mandatory">*</span></label><br>
                            <input type="text" name="" v-model ="deliveryCompanyName" disabled><br>
                        </div>
                        <div class="row">
                            <label>Address 1 <span class="mandatory">*</span></label><br>
                            <input type="text" name="" v-model ="deliveryAddress1" disabled><br>
                        </div>
                        <div class="row">
                            <label>Address 2</label><br>
                            <input type="text" name="" v-model ="deliveryAddress2" disabled><br>
                        </div>
                        
                        <div class="big-row row">
                            <div class="col-md-6 left-col">
                                <label>Postal Code <span class="mandatory">*</span></label><br>
                                <input type="text" name="" v-model ="deliveryPostalCode" disabled>
                            </div>
                            <div class="col-md-6 right-col">
                                <label>City <span class="mandatory">*</span></label><br>
                                <input type="text" name="" v-model ="deliveryCity" disabled>
                            </div>
                        </div>
                        <div class="big-row row">
                            <div class="col-md-6 left-col">
                                <label>Suburb <span class="mandatory">*</span></label><br>
                                <input type="text" name="" v-model="deliverySuburb" disabled>
                            </div>
                            <div class="col-md-6 right-col">
                                <label>State/ Province <span class="mandatory">*</span></label><br>
                                <input type="text" name="" v-model ="deliveryState" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <label>Country <span class="mandatory">*</span></label><br>
                            <input type="text" name="" v-model ="deliveryCountry" disabled><br>
                        </div>
                        <!-- <div class="row">
                            <label>Suburb <span class="mandatory">*</span></label><br>
                            <input type="text" name=""><br>
                        </div> -->
                        <div class="big-row row">
                            <div class="col-md-6 left-col">
                                <label>Phone</label><br>
                                <input type="text" name="" v-model ="deliveryPhone" disabled>
                            </div>
                            <div class="col-md-6 right-col">
                                <label>Mobile <span class="mandatory">*</span></label><br>
                                <input type="text" name="" v-model ="deliveryMobile" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <label>Email <span class="mandatory">*</span></label><br>
                            <input type="text" name="" v-model ="deliveryEmail" disabled><br>
                        </div>
                    </div>
                    <div class="row"></div>
                </div>
            </div>
            <br>
            <div class="row button-row">
                <!-- <div class="col-md-6 left-col">
                    <button class="cancel-button domestic-btn" onclick="location.href='booking.html';">CANCEL</button>
                </div> -->
                <button class="previous-button domestic-btn" disabled>PREVIOUS</button>
                <button class="cancel-button domestic-btn" @click="cancelEdit">CANCEL</button>
                <button class="next-button domestic-btn" @click="storeData">NEXT</button>
            </div>
       </div>           
    </div>

</template>
<script type="text/javascript" src="rangeslide.min.js"></script>
<script>
    import DomesticSlider from '../components/domestic-slider';
    import router from '../router';

	export default { 
		name: 'edit-service',
        components: {
            DomesticSlider
        },
        data() {
            return {
                pageDepth: ['Booking', 'Edit Service details'],
                page: 'serviceOptions',
                pointOfCall: '',
                showAddressBook: false,
                entryType: 'single',
                referenceNo: '',
                PTAEO: '',
                hasPriority: false,
                pickupName: '',
                pickupCompanyName: '',
                pickupAddress1: '',
                pickupAddress2: '',
                pickupPostalCode: '',
                pickupCity: '',
                pickupSuburb: '',
                pickupState: '',
                pickupCountry: '',
                pickupPhone: '',
                pickupMobile: '',
                pickupEmail: '',
                deliveryName: '',
                deliveryCompanyName: '',
                deliveryAddress1: '',
                deliveryAddress2: '',
                deliveryPostalCode: '',
                deliveryCity: '',
                deliverySuburb: '',
                deliveryState: '',
                deliveryCountry: '',
                deliveryPhone: '',
                deliveryMobile: '',
                deliveryEmail: '',
                requesterName: '',
                requesterBranch: '',
                requestDate: '',
                modeOfDispatch: '',
                dispatchDetails: '',
                providerDetails: [],
                deliveryServices: [],
                service: '',
                serviceName: '',
                itemType:'',
                providerLogo: '',
                providerDescription: '',
                currentProvider: '',
                pickupAddressCount: 0,
                courierBookingData: {}
            }
        },
        created() {
            
            this.courierBookingData.delivery_address = [];
            // this.$root.$on('clearBookingView', (clear) => {
            //     Object.assign(this.$data, this.$options.data());
            // });
            this.$root.$on('populateAddress', (selectedAddresses) => {
                  this.fillPickupDetails(selectedAddresses);
                  this.showAddressBook = false;
              });

        },
        mounted:  function(){
            // this.fetchGoods();
            // this.$root.$on('editConsignment', (id) => {
            //     console.log('id received', id);
            //     this.fillPageDatails(id);
            // });
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.$root.$emit('pageHierarchy', vm.pageDepth);
                vm.fetchDispatchDetails();
            });
        },
        beforeDestroy () {
            this.$root.$off('populateAddress');
        },
        watch: {
            modeOfDispatch: function(newValue, oldValue) {
                if(!Array.isArray(this.dispatchDetails)){
                    return;
                }
                this.addProvider(newValue);  
            },
            service: function(newValue, oldValue) {
                this.addServices(newValue)    
            }
        },
        methods : {
            getUser(prop) {
            },
            setPriority() {
                this.hasPriority = !this.hasPriority;
            },
            cancelEdit() {
                router.push({name: 'updateBooking'});
            },
            fetchGoods() {
                this.axios.get('goods').
                then(response => {
                    console.log(response.data.goods[0].type);
                    localStorage.setItem("goods", JSON.stringify(response.data.goods));
                    this.itemType = response.data.goods[0].type;
                }).
                catch(error => {
                    console.log(error);
               })
            },
            fetchCourier(id) {
                this.axios.get(`courier/domestic/${id}`).
                then(response => {
                    localStorage.currentCourier = JSON.stringify(response.data.courier);
                    this.fillPageDetails(response.data.courier);
                    localStorage.delivery_address = JSON.stringify(response.data.courier.delivery_address);
                }).
                catch(error => {
                    console.log(error);
               })
            },
            fillPageDetails(currentCourier) {
                console.log('current: ', currentCourier);
                this.entryType = currentCourier.entry_type;
                if(this.entryType == 'batch') {
                    this.$refs.batch.checked = 'checked'; 
                }
                else {
                    this.$refs.single.checked = 'checked';
                }
                this.requesterName = currentCourier.requester_name;
                this.requesterBranch = currentCourier.branch.name;
                this.requestDate = currentCourier.request_date;
                this.modeOfDispatch = currentCourier.mode_of_dispatch;
                console.log('mode of dispatch is:', this.modeOfDispatch);
                this.itemType = currentCourier.type_of_good;
                this.referenceNo = currentCourier.reference_no;
                this.hasPriority = currentCourier.has_priority;
                if(this.hasPriority) {
                    this.$refs.priorityFlag.checked = true;
                }
                this.PTAEO = currentCourier.p + '/' + currentCourier.t + '/' +
                             currentCourier.a + '/' + currentCourier.e + '/' +
                             currentCourier.o;

                this.pickupName = currentCourier.pickup_name; 
                this.pickupCompanyName = currentCourier.pickup_company; 
                this.pickupAddress1 = currentCourier.pickup_address_1; 
                this.pickupAddress2 = currentCourier.pickup_address_2; 
                this.pickupPostalCode = currentCourier.pickup_postal_code;
                this.pickupCity = currentCourier.pickup_city;
                this.pickupSuburb = currentCourier.pickup_suburb;
                this.pickupState = currentCourier.pickup_state;
                this.pickupCountry = currentCourier.pickup_country;
                this.pickupMobile = currentCourier.pickup_mobile;
                this.pickupPhone = currentCourier.pickup_phone;
                this.pickupEmail = currentCourier.pickup_email; 

                this.deliveryName = currentCourier.delivery_address[0].delivery_name;
                this.deliveryCompanyName = currentCourier.delivery_address[0].delivery_company; 
                this.deliveryAddress1 = currentCourier.delivery_address[0].delivery_address_1; 
                this.deliveryAddress2 = currentCourier.delivery_address[0].delivery_address_2; 
                this.deliveryPostalCode = currentCourier.delivery_address[0].delivery_postal_code;
                this.deliveryCity = currentCourier.delivery_address[0].delivery_city;
                this.deliverySuburb = currentCourier.delivery_address[0].delivery_suburb;
                this.deliveryState = currentCourier.delivery_address[0].delivery_state;
                this.deliveryCountry = currentCourier.delivery_address[0].delivery_country;
                this.deliveryMobile = currentCourier.delivery_address[0].delivery_mobile;
                this.deliveryPhone = currentCourier.delivery_address[0].delivery_phone;
                this.deliveryEmail = currentCourier.delivery_address[0].delivery_email;

                this.addProvider(currentCourier.mode_of_dispatch);
                this.modeOfDispatch = currentCourier.mode_of_dispatch;
                this.service = currentCourier.service_id + '@' + currentCourier.delivery_service;

                this.courierBookingData.delivery_address = currentCourier.delivery_address;

            },
            fillPickupDetails(selectedAddresses) {
                console.log(selectedAddresses);
                let currentCourier = JSON.parse(localStorage.currentCourier);
                let addresses = JSON.parse(localStorage.addresses);
                if(this.pointOfCall == 'delivery-data' || this.pointOfCall == 'edit-delivery-data') {
                    currentCourier.delivery_address = [];
                }
                selectedAddresses.map((addr) => {
                    addresses.map((address) => {
                        if(address.id == addr ) {
                            if(this.pointOfCall == 'pickup-data' || this.pointOfCall == 'edit-pickup-data') {
                                currentCourier.pickup_name = this.pickupName = address.name;
                                currentCourier.pickup_companyName = this.pickupCompanyName = address.company_name;
                                currentCourier.pickup_address_1 = this.pickupAddress1 = address.address_1;
                                currentCourier.pickup_address_2 = this.pickupAddress2 = address.address_2;
                                currentCourier.pickup_postalCode = this.pickupPostalCode = address.postal_code;
                                currentCourier.pickup_city = this.pickupCity = address.city;
                                currentCourier.pickup_suburb = this.pickupSuburb = address.suburb ? address.suburb : '';
                                currentCourier.pickup_state = this.pickupState = address.state ? address.state : '';
                                currentCourier.pickup_country = this.pickupCountry = address.country ? address.country : '';
                                currentCourier.pickup_phone = this.pickupPhone = address.phone;
                                currentCourier.pickup_email = this.pickupEmail = address.email;

                                localStorage.currentCourier = JSON.stringify(currentCourier);
                            }
                            else if(this.pointOfCall == 'delivery-data' || this.pointOfCall == 'edit-delivery-data') {
                                this.courierBookingData.delivery_address = [];
                                this.pickupAddressCount = selectedAddresses ? selectedAddresses.length: 0;
                                this.deliveryName = address.name;
                                this.deliveryCompanyName = address.company_name;
                                this.deliveryAddress1 = address.address_1;
                                this.deliveryAddress2 = address.address_2;
                                this.deliveryPostalCode = address.postal_code;
                                this.deliveryCity = address.city;
                                this.deliverySuburb = address.suburb ? address.suburb : '';
                                this.deliveryState = address.state ? address.state : '';
                                this.deliveryCountry = address.country ? address.country : '';
                                this.deliveryPhone = address.phone;
                                this.deliveryEmail = address.email;
                                let deliverypoint = {
                                    delivery_name : this.deliveryName,
                                    delivery_company: this.deliveryCompanyName,
                                    delivery_address_1: this.deliveryAddress1,
                                    delivery_address_2: this.deliveryAddress2,
                                    delivery_postal_code: this.deliveryPostalCode,
                                    delivery_city: this.deliveryCity,
                                    delivery_suburb: this.deliverySuburb,
                                    delivery_state: this.deliveryState,
                                    delivery_country: this.deliveryCountry,
                                    delivery_mobile: this.deliveryMobile,
                                    delivery_email: this.deliveryEmail
                                }
                                this.courierBookingData.delivery_address.push(deliverypoint);
                                currentCourier.delivery_address.push(deliverypoint);
                                localStorage.currentCourier = JSON.stringify(currentCourier);
                            }
                            else if(this.pointOfCall == 'service-data' || this.pointOfCall == 'edit-service-data') {
                                localStorage.sender = JSON.stringify(address);
                                this.requesterName = address.name;
                                this.requesterBranch = address.branch_name;
                            }
                        }
                    });
                });

            },
            entryMethod(value) {
                if(value == 'single') {
                    this.entryType = 'single';
                }
                else {
                    this.entryType = 'batch';
                }
            },
            ShowAddressModal(point) {
                this.showAddressBook = true;
                this.pointOfCall = point;
            },
            fetchDispatchDetails() {
                this.axios.get('dispatch').
                then((response) => {
                    localStorage.setItem("dispatchDetails", JSON.stringify(response.data.mode_of_dispatch));
                    this.dispatchDetails = response.data.mode_of_dispatch;
                    this.fetchCourier(this.$route.params.id);
                    // this.dispatchDetails.forEach(mode => {

                    // })
                    // this.selectDeliveryServices();
                }).
                catch((error) => {
                    console.log(error)
                })
            },
            // selectDeliveryServices() {
            //     this.dispatchDetails.map((dispatcher) => {
            //         dispatcher.providers.map((provider) => {
            //             Object.entries(provider.services).forEach(([key, value]) => {
            //                 console.log(value.name);
            //                 this.deliveryServices.push(value);
            //             });
            //         });
            //     })
            // },
            storeData() {
                this.courierBookingData.entry_type = this.entryType;
                this.courierBookingData.requester_name = this.requesterName;
                this.courierBookingData.branch_id = JSON.parse(localStorage.user).branch_id;
                this.courierBookingData.request_date = this.requestDate;
                this.courierBookingData.type_of_good = this.itemType;
                this.courierBookingData.mode_of_dispatch = this.modeOfDispatch;
                this.courierBookingData.delivery_service = this.service.split('@')[1];
                this.courierBookingData.service_id = this.service.split('@')[0];
                this.courierBookingData.pickup_name = this.pickupName;
                this.courierBookingData.pickup_company = this.pickupCompanyName;
                this.courierBookingData.pickup_address_1 = this.pickupAddress1;
                this.courierBookingData.pickup_address_2 = this.pickupAddress2;
                this.courierBookingData.pickup_postal_code = this.pickupPostalCode;
                this.courierBookingData.pickup_city = this.pickupCity;
                this.courierBookingData.pickup_suburb = this.pickupSuburb;
                this.courierBookingData.pickup_state = this.pickupState;
                this.courierBookingData.pickup_country = this.pickupCountry;
                this.courierBookingData.pickup_mobile= this.pickupMobile;
                this.courierBookingData.pickup_phone= this.pickupPhone;
                this.courierBookingData.pickup_email = this.pickupEmail;
                this.courierBookingData.reference_no = this.referenceNo;
                let PTAEO = this.PTAEO.split('/');
                this.courierBookingData.p = PTAEO[0];
                this.courierBookingData.t = PTAEO[1];
                this.courierBookingData.a = PTAEO[2];
                this.courierBookingData.e = PTAEO[3];
                this.courierBookingData.o = PTAEO[4];
                this.courierBookingData.has_priority = this.hasPriority? 1 : 0;

                this.checkEmptyValue();

                localStorage.courierBookingData = JSON.stringify(this.courierBookingData);

            },
            addProvider (newValue) {
                this.deliveryServices = [];
                this.providerDetails = [];
                let currentDispatch = this.dispatchDetails.find(item => item.name == newValue)
                console.log('ssss',currentDispatch)
                currentDispatch.providers.forEach(provider => {
                    this.providerDetails.push(provider);
                    provider.services.forEach(service => {
                        this.deliveryServices.push(service);
                        // console.log(currentProvider);
                    });
                });
            },
            addServices(newValue) {
                console.log('service newValue',newValue)
                let serviceId = newValue.split('@')[0];
                let currentService = this.deliveryServices.find(item => item.id == serviceId);
                console.log('cdskdjldlwkdwk;',currentService,newValue)
                let providerId = (currentService.provider_id);
                this.currentProvider = this.providerDetails.find(data => data.id == currentService.provider_id);     
                this.providerLogo = this.currentProvider.logo; 
                this.providerDescription = this.currentProvider.description;  
            },
            checkEmptyValue(deliverypoint) {
                let flag = true;
                let errorMessage; 
                Object.keys(this.courierBookingData).forEach((key) => {
                    if(!this.courierBookingData[key] && key != 'pickup_suburb' && key != 'pickup_mobile' && key != 'pickup_state' && key != 'pickup_postal_code' && key != 'pickup_phone' && key != 'pickup_email' && key != "pickup_address_2" && key != 'has_priority' && key != 'reference_no') {
                        console.log(key);
                        errorMessage = key + ' is required';
                        flag = false;
                        this.$toasted.show(errorMessage, { 
                             theme: "primary", 
                             position: "bottom-right", 
                             type: 'error',
                             duration: 2000,
                             iconPack : 'material',
                             icon : {
                                name : 'close'
                             }
                        });
                    }
                });
                this.checkDeliveryEmptyValue(deliverypoint, flag);
            },
            checkDeliveryEmptyValue(deliverypoint, flag) {
                console.log('delivery point :', deliverypoint);
                let deliveryErrorMessage;
                let deliveyAddressLength = this.courierBookingData.delivery_address.length;
                Object.keys(deliverypoint).forEach((key) => {
                    if(!deliverypoint[key] && key != 'delivery_suburb' && key != 'delivery_mobile' && key != 'delivery_postal_code' && key != 'delivery_state' && key != 'delivery_email' && key != "delivery_address_2") {
                        console.log(key);
                        deliveryErrorMessage = key + ' is required';
                        this.$toasted.show(deliveryErrorMessage, { 
                             theme: "primary", 
                             position: "bottom-right", 
                             type: 'error',
                             duration: 2000,
                             iconPack : 'material',
                             icon : {
                                name : 'close'
                             }
                        });
                        flag = false;
                    }
                });
                if(flag) {
                    localStorage.currentGoods = JSON.stringify(this.currentGoods);
                    console.log('currentGoods:', this.currentGoods);
                    router.push({ name: 'editShipmentDetails',params: { id: this.$route.params.id }});
                    // router.push({ 
                    //     name: 'ShipmentDetails',
                    //     params: {
                    //         passCurrentGoods: this.currentGoods,
                    //         passRequesterName: this.requesterName
                    //     }
                    // });
                }
            }

        }
	}
</script>


<style lang="scss" src="../assets/css/service.scss"></style>
