<template>
    <div class="dashboard-content">
	   <div class="domestic-content">
            <div class="domestic-head">
                <img src="../assets/img/truck.PNG" />
                <h4><b>START SHIPPING</b></h4>
            </div>
            <domestic-slider :activePage="page" ></domestic-slider>
            <router-link to="/home/help" >
                <div class="help-link-div">
                	<span class="help-link">
                		<i class="material-icons">play_arrow</i>
                		<span class="help-text">Help</span>
                		<i class="material-icons">help</i>
                	</span>
                </div>
            </router-link>
            <br>
            <h4>ITEM DETAILS</h4>
            <hr class="start-shipping-line">
            <div class="item-details-box">
                <!-- single row content -->
                <div class="item-details-content">
                    <div class="input-box reference-box">
                        <label>Item Reference <span class="mandatory">*</span></label><br>
                        <input type="text" name="" placeholder="Enter any name" v-model="itemName">
                    </div>
                    <div class="input-box package-box">
                        <label>Package </label><br>
                        <input type="text" name="" :value="goodsDetails[0].type" disabled>
                    </div>
                    <div class="input-box weight-box">
                        <label>Weight (kg) </label><br>
                        <input type="text" name="" :value="goodsDetails[0].weight" disabled>
                    </div>
                    <div class="input-box item-box">
                        <label>Items</label><br>
                        <input type="text" name="" v-model="itemCount">
                    </div>
                    <div class="input-box lwh-box">
                        <label>L(m) </label><br>
                        <input type="text" name="" :value="goodsDetails[0].length" disabled>
                    </div>
                    <div class="input-box lwh-box">
                        <label>W(m) </label><br>
                        <input type="text" name="" :value="goodsDetails[0].width" disabled>
                    </div>
                    <div class="input-box lwh-box">
                        <label>H(m) </label><br>
                        <input type="text" name="" :value="goodsDetails[0].height" disabled>
                    </div>
                    <div class="input-box lwh-box">
                        <label>m3 </label><br>
                        <input type="text" name="" :value="goodsDetails[0].m3" disabled>
                    </div>
                    <div class="input-box weight-box">
                        <label>Cubic kg </label><br>
                        <input type="text" name="" :value="goodsDetails[0].cubic_kg" disabled>
                    </div>
                    <div class="input-box weight-box">
                        <label>Charge Unit </label><br>
                        <input type="text" name="" :value="goodsDetails[0].charge_unit" disabled>
                    </div>
                    <div class="input-box item-box">
                        <label>DG </label><br>
                        <label class="contains">
                          <input type="checkbox" :checked="goodsDetails[0].is_dg" disabled>
                          <span class="checkmark"></span>
                        </label> 
                   </div>
                    <div class="input-box item-box">
                        <label>Food </label><br>
                        <label class="contains">
                          <input type="checkbox" :checked="goodsDetails[0].is_food" disabled>
                          <span class="checkmark"></span>
                        </label>
                    </div>
                    <!-- <button class="close-item-btn"></button> -->
            	</div>
            	<!-- single row content -->

                <!-- <hr class="line"> -->

                <!--  Total details showing row  -->  
                <div class="sum-row">
                    <!-- <div class="input-box weight-sum">
                        <input type="text" name="" disabled>
                    </div>
                    <div class="input-box item-sum">
                        <input type="text" name="" disabled>
                    </div>
                    <div class="input-box m3-sum">
                        <input type="text" name="" disabled>
                    </div>
                    <div class="input-box cubic-sum">
                        <input type="text" name="" disabled>
                    </div> -->
                    <!-- <button class="item-add-btn">ADD</button> -->
                </div>

            </div>
            <br>
            <div class="row">
            	<div class="col-md-6">
            		<h5>DESCRIPTION OF GOODS</h5>
            	</div>
            	<div class="col-md-6">
            		<h5>REMARKS</h5>
            	</div>
            </div>
            
            <!-- shipment details conatiner -->
            <div class="shipment-details-box">
                <div class="row">
                    <div class="col-md-6">
                    	<textarea name="description" placeholder="Enter the nature of goods.." v-model="goodsDescription"></textarea>
                    </div>
                    <div class="col-md-6">
                    	<textarea name="description" placeholder="Enter any remarks" v-model= "remarks"></textarea>
                    </div>
                </div>
            </div> 
            <br>
            <br>
            <!------Scheduled pickup section-------->
            <div class="row">
            	<div class="col-md-6">
            		<h5>SCHEDULE PICKUP</h5>
            	</div>
            </div>
            <div class="schedule-pickup-box">
                <div class="row">
                    <div class="col-md-6">
                        <label>Location of package(s)</label>
                        <input type="text" name="" placeholder="" v-model="packageLocation">
                        <br>
                        <br>
                        <label>Pickup instructions<br> (upto 70 characters)</label>
                        <textarea type="text" name="" placeholder="" v-model ="pickupInstructions"></textarea>
                    </div>
                    <div class="col-md-6">
                        <label>Pickup Date</label>
                        <input type="date" name="pickupDate" v-model="pickupDate">
                        <label>My Package will be Ready By</label>
                        <div>
                            <input type="time" name="" v-model= "pickupTime">
	                        <!-- <div class="hour">
	                        	<input class="ready-time" type="" name="pickupDate" >
		                        <i class="material-icons up">keyboard_arrow_up</i>
		                        <i class="material-icons down">keyboard_arrow_down</i>
	                        </div>
	                        <div class="minute">
	                        	<input class="ready-time" type="" name="pickupDate" >
		                        <i class="material-icons up">keyboard_arrow_up</i>
		                        <i class="material-icons down">keyboard_arrow_down</i>
	                        </div>
	                        <div class="seconds">
	                        	<input class="ready-time" type="" name="pickupDate" >
		                        <i class="material-icons up">keyboard_arrow_up</i>
		                        <i class="material-icons down">keyboard_arrow_down</i>
	                        </div> -->
	                    </div>
                        <br>
                        <label>Office close at</label>
                        <div>
                            <input type="time" name="" v-model= "officeCloseTime">
                        	<!-- <div class="hour">
	                        	<input class="ready-time" type="" name="pickupDate" >
		                        <i class="material-icons up">keyboard_arrow_up</i>
		                        <i class="material-icons down">keyboard_arrow_down</i>
	                        </div>
	                        <div class="minute">
	                        	<input class="ready-time" type="" name="pickupDate" >
		                        <i class="material-icons up">keyboard_arrow_up</i>
		                        <i class="material-icons down">keyboard_arrow_down</i>
	                        </div>
	                        <div class="seconds">
	                        	<input class="ready-time" type="" name="pickupDate" >
		                        <i class="material-icons up">keyboard_arrow_up</i>
		                        <i class="material-icons down">keyboard_arrow_down</i>
	                        </div> -->
                        </div>
                        <p class="mandatory float-right" style="margin-right: 5%;">Please keep your package ready By {{ pickupTime }}</p>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <!--Update booking details section------>
            <div v-show= "isUpdate">
                <div class="row" >
                    <div class="col-md-6">
                        <h5>UPDATE BOOKING DETAILS</h5>
                    </div>
                </div>
                <div class="update-booking-details">
                    <div class="row">
                        <div class="col-md-6">
                            <label>No.of parcels / documents</label>
                            <input type="text" name="" value="0">

                            <label>Dispatched Date</label>
                            <input type="date" name="">

                            <label>Dispatch Company</label>
                            <select>
                                <option>My Unit</option>
                                <option>Other Unit</option>
                                <option>Global Addresse</option>    
                            </select>

                            <label>Cost</label>
                            <input type="text" name="" value ="0">
                        </div>
                        <div class="col-md-6">
                            <label>Weight</label>
                            <input type="text" name="" value="0.000">

                            <label>Reg Mode of Dispatch</label>
                            <select ref="">
                                <option>My Unit</option>
                                <option>Other Unit</option>
                                <option>Global Addresse</option>    
                            </select>

                            <label>Airway Bill</label>
                            <input type="text" name="">

                            <label>Reg Remarks</label>
                            <textarea placeholder="Enter the remarks.."></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row button-row">
                <!-- <div class="col-md-6 left-col">
                    <button class="cancel-button domestic-btn" onclick="location.href='booking.html';">CANCEL</button>
                </div> -->
                <button class="previous-button domestic-btn" @click="previousEdit">PREVIOUS</button>
                <button class="cancel-button domestic-btn" @click="cancelEdit">CANCEL</button>
                <button class="next-button domestic-btn" @click="storeData">NEXT</button>
            </div>
	   </div>
    </div>
</template>
<script type="text/javascript" src="rangeslide.min.js"></script>
<script>
	import DomesticSlider from '../components/domestic-slider';
    import router from '../router';

    // console.log(goods[0]);

	export default { 
		name: 'editShipmentDetails',
        components: {
            DomesticSlider
        },
        data() {
            return {
                pageDepth: ['Booking', 'Edit Shipment details'],
                page: 'shipmentDetails',
                isUpdate: false,
                itemName: '',
                itemCount: '',
                goodsDescription: '',
                remarks: '',
                packageLocation: '',
                pickupInstructions: '',
                pickupDate: '',
                pickupTime: '',
                officeCloseTime: '',
                courierBookingData: {},
                goodsDetails: {}
            }
        },
         beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.$root.$emit('pageHierarchy', vm.pageDepth);
            });
        },
        created() {
            this.goodsDetails = JSON.parse(localStorage.getItem("goods"));
            console.log(this.goodsDetails);
            this.fillData();
        },
        mounted() {
            this.$root.$on('updateConsignment', (id) => {
                console.log('id received', id);
                this.isUpdate = true;
                // this.fillPageDatails(id);
            });
        },
        methods: {
            cancelEdit() {
                router.push({name: 'updateBooking'});
            },
            previousEdit() {
                router.push({ name: 'EditService',params: {id: this.$route.params.id}});
            },
            storeData() {
                this.courierBookingData.item_reference = this.itemName;
                this.courierBookingData.item_weight = this.goodsDetails[0].weight;
                this.courierBookingData.item_qty = this.itemCount;
                this.courierBookingData.item_length = this.goodsDetails[0].length;
                this.courierBookingData.item_width = this.goodsDetails[0].width;
                this.courierBookingData.item_height = this.goodsDetails[0].height;
                this.courierBookingData.item_m3 = this.goodsDetails[0].m3;
                this.courierBookingData.item_cubic_kg = this.cubicKg;
                this.courierBookingData.item_charge_unit = this.goodsDetails[0].charge_unit;
                this.courierBookingData.item_is_dg = this.goodsDetails[0].is_dg ? '1' : '0';
                this.courierBookingData.item_is_food = this.goodsDetails[0].is_food ? '1' : '0';
                this.courierBookingData.goods_description = this.goodsDescription;
                this.courierBookingData.remarks = this.remarks;
                this.courierBookingData.package_location = this.packageLocation;
                this.courierBookingData.pickup_instructions = this.pickupInstructions;
                this.courierBookingData.pickup_date = this.pickupDate;
                this.courierBookingData.pickup_time = this.pickupTime;
                this.courierBookingData.office_close_time = this.officeCloseTime;

                let data = JSON.parse(localStorage.courierBookingData);
                let currentCourier = JSON.parse(localStorage.currentCourier);
                let updatedData = Object.assign(data, this.courierBookingData);
                currentCourier = Object.assign(currentCourier, updatedData);
                localStorage.courierBookingData = JSON.stringify(updatedData);
                localStorage.currentCourier = JSON.stringify(currentCourier);
                console.log('c:', this.courierBookingData);
                console.log('data:', updatedData);

                this.checkEmptyValue();

            },
            fillData () {
                let currentCourier = JSON.parse(localStorage.currentCourier);
                this.itemName = currentCourier.item_reference;
                this.itemCount = currentCourier.item_qty;
                this.goodsDescription = currentCourier.goods_description;
                this.remarks = currentCourier.remarks;
                this.packageLocation = currentCourier.package_location;
                this.pickupInstructions = currentCourier.pickup_instructions;
                this.pickupDate = currentCourier.pickup_date;
                this.pickupTime = currentCourier.pickup_time;
                this.officeCloseTime = currentCourier.office_close_time;         
            },
            checkEmptyValue() {
                let flag = true;
                Object.keys(this.courierBookingData).forEach((key) => {
                    if(!this.courierBookingData[key] && key != 'item_width' && key != 'item_height' && key != 'item_m3' && key != 'item_cubic_kg' && key != 'item_charge_unit') {
                        console.log(key);
                        flag = false;
                    }
                });
                if(!flag) {
                    this.$toasted.show("Please fill All Fields", { 
                         theme: "primary", 
                         position: "bottom-right", 
                         type: 'error',
                         duration: 2000,
                         iconPack : 'material',
                         icon : {
                            name : 'close'
                         }
                    });
                }
                else {
                    router.push({ name: 'editConfirmShipment', params: { id: this.$route.params.id }});
                }
            }
        }

	}


</script>

<style lang="scss" src="../assets/css/shipmentDetails.scss"></style>
