<template>
  <div id="login">
    <div class="col-md-7 col-md-offset-4 right-div">
        <h2>Forgot your password?</h2>
        <br>
        <div class="login-failed" v-show="loginFailed">
          <p>{{ loginMessage }}</p>
        </div>
        <label>Your Email Address</label>
        <label class="email-warning" v-show="emailWarning">Not a valid email Id</label>
        <br>
        <input type="email" name="email" v-model="email" @focus="loginFailed = false" required>
        <br>
        <br>
		<button class="signin-btn" @click="sendMail">SEND MAIL</button>
		<div class="line"></div>
		<div class="help-box">
            <span class="help-link">Need to Login?
				<router-link to="/">Click here</router-link>
			</span>
        </div>
    </div>
</div>
</template>
<script>

	
	import router from '../router';

	export default {
        name: 'ForgotPassword',
        data()  {
        	return {
                loginMessage: 'Not a valid credentials.Please try again..',
        		email: '',
        		emailWarning: false,
        		loginFailed: false,
        	}
        },
        created() {
        },
        mounted: function(){
        },
        methods : {
        	sendMail() {
        		const credentials = {
					email: this.email
				};
        		//api call 
        		this.axios.post('user/password/email',credentials)
        		.then((response) => {
                    this.email = '';
                    this.emailWarning = false;
                    this.showToast();
        			//router.push({ name: 'default' });                            //Redirect to home page
        		})
        		.catch((error) => {      			
        			console.log(error.response);
                    if(error.response.status == 401) {
                        this.loginMessage = error.response.data.msg;
                    }
                    this.loginFailed = true;
                    this.$toasted.show('Please check your inputs', { 
                         theme: "primary", 
                         position: "bottom-right", 
                         type: 'error',
                         duration: 2000,
                         iconPack : 'material',
                         icon : {
                            name : 'close'
                         }
                    });
        		});  
        	},
            showToast(msg) {
                this.$toasted.show("Please check your email for reset link.", { 
                    theme: "primary", 
                    position: "bottom-right", 
                    duration: 2000,
                    iconPack : 'material',
                    icon : {
                       name : 'check'
                    }
                });
            }
        }
    } 
</script>

<style lang="scss" src="../assets/css/login.scss" scoped></style>

