<template>
		<div class="dashboard-content" id="home">
        		<div class="dashboard-content-row1 row">
        			<div class="col-md-6 profile-details-card">
        				<div class="row">
							<div class="col-xs-4">
								<div class="profile-pic">
									<img :src="userData.avatar"/>
									<div class="status-indicator"></div>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="profile-content">
									<h4>{{ name }}</h4>
									<h5><span><i class="material-icons">phone </i>{{ phone }}</span><span><i class="material-icons">email </i>{{ email }}</span></h5>
									<h5><span><i class="material-icons">location_on</i><div class="address">{{ address }}</div></span></h5>
								</div>
							</div>
        				</div>
        			</div>
        			<div class="col-md-6 receipt-details-card">
        				<div class="col-md-9 receipt-left-col">
        					<h4>View Processed</h4>
        					<div v-if= "showTicket">
        						<img src="../assets/img/ticket.PNG" class="ticket-img" />
	        					<div class="receipt-card-details">
		        					<h5><b>Receipt No: {{ receiptNo.slice(0,20) }}</b></h5>
		        					<!-- <h6>Consignment No: #DB4512</h6> -->
	        					</div>
        					</div>
        					<div class="no-receipt-div" v-else>
        						<span>No Bookings details</span>
        					</div>
        				</div>
        				<div class="col-md-3 receipt-right-col">
        					<router-link to="/home/bookings"><button>View All</button></router-link>
						</div>      				
        			</div>
        		</div>
        		<div class="dashboard-content-row2">
        			<div class="col-md-7 bookings-card">
        				<div class="row bookings-card-row">
        					<div class="col-md-12 my-bookings-card">
        						<div class="row">
        							<div class="col-md-12 booking-card-left-col">
        								<h4>View Pending</h4>
        								<div class="row my-bookings-row">
        									<router-link tag="div" class="col-md-4 cursor not-available" to="/home">
        										<div class="red-ring pt-3">
        											<img src="../assets/img/files.PNG" />   
        										</div>
        										<h4>Total</h4>
        										<h2 class="red-text">{{ mailRoomCount }}</h2>
        										<h4>MAIL ROOM</h4>
        									</router-link>
        									<router-link tag="div" class="col-md-4 cursor" to="/home/updateBooking">
        										<div class="orange-ring pt-3">
        											<img src="../assets/img/delivery.PNG" />          						
        										</div>
        										<h4>Total</h4>
        										<h2 class="orange-text">{{ courierCount }}</h2>
        										<h4>COURIER</h4>
        									</router-link>
        									<router-link tag="div" class="col-md-4 cursor not-available" to="/home">
        										<div class="yellow-ring pt-3">  
        											<img src="../assets/img/location.PNG" />        								
        										</div>
        										<h4>Total</h4>
        										<h2 class="yellow-text">{{ transportCount }}</h2>
        										<h4>TRANSPORT</h4>
        									</router-link>
        								</div>
        							</div>
        							<!-- <div class="col-md-4 booking-card-right-col">
        								<h4>Recent Bookings</h4>
        								<br>
        								<div class="recent-booking-content">
        									<h5><b>John Doe</b></h5>
        									<h6><b>From: </b>Phillipines</h6>
        									<h6><b>From: </b>Australia</h6>
        									<hr class="recent-booking-line">
        									<h6><b>Date: </b>15-April-2018</h6>
        									<h6><b>Time: </b>10:50 AM</h6>
        								</div>
        								<button>View All</button>
        							</div> -->
        						</div>
        					</div> 
        					<div class="col-md-12 bookings-report-card">
        						<h4>Booking Reports</h4>
    							<select v-model="provider" class="form-control pull-right" style="width:30%;margin-top:-30px;" @change="fetchGraphData">
        							<option value="all">All Carriers</option>
        							<option v-for="carrier in carriers" :value="carrier.id">{{carrier.name}}</option>
        						</select>
                                <canvas id="myChart" width="400" height="150"></canvas>
        					</div>
        				</div>
        			</div>
        			<div  class="col-md-5 recent-activity-card">
        				<h4>Recent Activities</h4>
        				<div class="scroll-set-div">
	        				<div class="recent-activity-div" v-for="item in recentActivities">
	        					<i class="material-icons yellow-dot">fiber_manual_record</i>
	        					<h6 class="recent-activity-time"><b>{{ moment(item.created_at, "DDMMYYYY h:mm:ss").fromNow() }}</b></h6>
	        					<h5 class="recent-activity-content">{{ item.description }}</h5>
	        				</div>
	        			</div>       				
        				<!-- <div class="recent-activity-div">
        					<i class="material-icons yellow-dot">fiber_manual_record</i>
        					<h6 class="recent-activity-time"><b>5 minutes ago</b></h6>
        					<h5 class="recent-activity-content">john booked a ride</h5>
        				</div>
        				<div class="recent-activity-div">
        					<i class="material-icons yellow-dot">fiber_manual_record</i>
        					<h6 class="recent-activity-time"><b>5 minutes ago</b></h6>
        					<h5 class="recent-activity-content">john booked a ride</h5>
        				</div>
        				<h6><b>Yesterday</b></h6>
        				<div class="recent-activity-div">
        					<i class="material-icons yellow-dot">fiber_manual_record</i>
        					<h6 class="recent-activity-time"><b>5 minutes ago</b></h6>
        					<h5 class="recent-activity-content">john booked a ride</h5>
        				</div>      				
        				<div class="recent-activity-div">
        					<i class="material-icons yellow-dot">fiber_manual_record</i>
        					<h6 class="recent-activity-time"><b>5 minutes ago</b></h6>
        					<h5 class="recent-activity-content">john booked a ride</h5>
        				</div>
        				<div class="recent-activity-div">
        					<i class="material-icons yellow-dot">fiber_manual_record</i>
        					<h6 class="recent-activity-time"><b>5 minutes ago</b></h6>
        					<h5 class="recent-activity-content">john booked a ride</h5>
        				</div> -->       			
        			</div>
        		</div>
        	</div>
</template>

<script>
	import router from '../router';
	import chartAnnotation from 'chartjs-plugin-annotation';

	export default{
		data(){
			return{
				pageDepth: [],
				userData: '',
				name: '',
				phone : '',
				email: '',
				address: '',
				showTicket: false,
				courierCount: 0,
				mailRoomCount: 0,
				transportCount: 0,
				receiptNo: '',
				c_goods: '',
				recentActivities: [],
				graphData : [0, 0, 0, 0, 0, 0, 0],
				provider: 'all',
				carriers: []
			}
		},
		components :{
			chartAnnotation
		},
		created() {

		},
		mounted(){
			this.userData = JSON.parse(localStorage.user);
			this.fetchUserDetails();
			this.setDetails();
			this.checkDetailsUploaded();
			this.fetchDispatchDetails();
			this.fetchGoods();
			this.fetchRecentActivities();
			console.log(document.getElementById('#notification'));

			
		},
		activated() {

		},
		beforeRouteEnter (to, from, next) {
			// this.fetchUserDetails();
			next(vm => {
				vm.fetchUserDetails();
				vm.fetchAddresses();
				vm.fetchBookingList();
				vm.fetchCarriers();
				vm.fetchGraphData();
				vm.$root.$emit('pageHierarchy', vm.pageDepth);
			});
		},
		methods: {
			checkDetailsUploaded() {
				if(!this.phone) {
					router.push({name: 'profile'});
				}
			},
			setDetails() {
				this.name = this.userData.name;
				this.phone = this.userData.phone ? this.userData.phone : '' ;
				this.email = this.userData.email;
				this.address = this.userData.branch.address_1 + ', ' + (this.userData.branch.address_2 ? this.userData.branch.address_2 + ', ' : '') + this.userData.branch.postal_code + " " + this.userData.branch.city + ', '  + this.userData.branch.country;
			},
			fetchCarriers() {
				this.axios.get('provider').
				then(response => {
					this.carriers = response.data.providers;
				})
				.catch(error => {
					console.log(error);
				})
			},
			fetchGraphData() {
				this.axios.get(`chart/${this.provider}`).
        		then((response) => {
        			this.showGraph(response.data);
        		})
        		.catch((error) => {
        			console.log(error);
        		});
			},
			fetchAddresses() {
        		this.axios.get('address').
        		then((response) => {
					this.addressesArray = response.data.address;
					console.log('addressArray:', this.addressesArray);
					localStorage.setItem("addresses", JSON.stringify(response.data.address));

        		})
        		.catch((error) => {
        			console.log(error);
        		}) 
        	},
			fetchBookingList() {
				this.axios.get('courier/domestic').
				then(response => {
					let data = response.data.couriers;
					localStorage.courierDetails = JSON.stringify(data);
					if(data.length) {
						this.showTicket = true;
						this.courierCount = data.length;
					}
					this.receiptNo = data[0].reference_no ? data[0].reference_no: '';
				}).
				catch(error => {
					console.log(error);
				});
			},
			fetchDispatchDetails() {
                this.axios.get('dispatch').
                then((response) => {
                    localStorage.dispatchDetails = JSON.stringify(response.data.mode_of_dispatch);
                }).
                catch((error) => {
                    console.log(error)
                })
            },
			fetchGoods() {
                this.axios.get('goods').
                then(response => {
                    localStorage.goods =  JSON.stringify(response.data.goods);
					this.goodsId = JSON.parse(localStorage.user).goods_id;
					if(this.goodsId) {
						this.c_goods = response.data.goods.find(item => item.id == this.goodsId);
						console.log('c_goods:', this.c_goods);
						localStorage.currentGoods = JSON.stringify(this.c_goods);
					}
                }).
                catch(error => {
                    console.log(error);
               })
            },
            fetchUserDetails() {
            	this.axios.get('user').
                then(response => {
                    localStorage.user =  JSON.stringify(response.data.user);
                    this.userData = response.data.user;
                    console.log(this.userData);
                    this.setDetails();
                }).
                catch(error => {
                   console.log(error);
               })
            },
            fetchRecentActivities() {
            	this.axios.get('/events/user').
            	then(response => {
            		console.log('response', response);
            		if(response.status == 200) {
            			this.recentActivities = response.data.recent_activities;
            		}
            		else {
            			console.error('error to fetch recent activites..this error is initiated from fetchRecentActivities() method..');
            		}
            	}).
            	catch(error => {
            		console.log('error', error.response);
            	})
            },
            getWeekLabel() {
            	let index;
            	let week = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
            	let labelArr = [];
            	let day = new Date().getDay();
            	let length = week.length
            	for(let i = 0; i < length; i++) 
            	{ 
            		index = (i+day) % length; 
            		labelArr.push(week[index]);
            	}
            	return this.rotateArray(labelArr);
            },
            rotateArray(arr){
            	let temp;
            	for (let i = 0; i < 6; i++) {
            		temp = arr.pop();
            		arr.unshift(temp);
            	}
            	return arr;
            },
            getDay(day){
            	switch(day) {
            		case 1 : return 'Sun';
            		case 2 : return 'Mon';
            		case 3 : return 'Tue';
            		case 4 : return 'Wed';
            		case 5 : return 'Thu';
            		case 6 : return 'Fri';
            		case 7 : return 'Sat';
            	}
            },
            findIndex(arr, day) {
            	let dayPrefix = this.getDay(day);
            	return arr.findIndex(dayItem => dayItem == dayPrefix);
            },
			showGraph(data){
				var ctx = document.getElementById("myChart").getContext('2d');
				let cost = [0, 0, 0, 0, 0, 0, 0];
				let count = [0, 0, 0, 0, 0, 0, 0];
				let labelArr = this.getWeekLabel();
				let dayIndex;
				data.data.forEach(item => {


					dayIndex = this.findIndex(labelArr, item.day);
					console.log('day  ',dayIndex);

					if(dayIndex == 0) {
						cost[dayIndex] = item.cost ? item.cost : 0;
					} else {
						cost[dayIndex] = item.cost ? cost[dayIndex - 1] + item.cost : cost[dayIndex - 1] + 0;
					}
					count[dayIndex] = item.count ? item.count : 0;


					// if(item.day == 1) {
					// 	cost[item.day - 1] = item.cost ? item.cost : 0;
					// } else {
					// 	cost[item.day - 1] = item.cost ? cost[item.day - 2] + item.cost : cost[item.day - 2] + 0;
					// }
					// count[item.day - 1] = item.count ? item.count : 0;
				});
				var myChart = new Chart(ctx, {
				    type: 'line',
				    data: {
				        labels: labelArr,
				        datasets: [{
				            label: 'Cost',
				            data: cost,
				            count : count,
				            backgroundColor: [
				                'rgba(214, 48, 49,0.5)',
				                'rgba(214, 48, 49,0.5)',
				                'rgba(214, 48, 49,0.5)',
				                'rgba(214, 48, 49,0.5)',
				                'rgba(214, 48, 49,0.5)',
				                'rgba(214, 48, 49,0.5)'
				            ],
				            borderColor: [
				                'rgba(214, 48, 49,0.5)',
				                'rgba(214, 48, 49,0.5)',
				                'rgba(214, 48, 49,0.5)',
				                'rgba(214, 48, 49,0.5)',
				                'rgba(214, 48, 49,0.5)',
				                'rgba(214, 48, 49,0.5)'
				            ],
				            borderWidth: 1
				        }]
				    },
				    options: {
				    	tooltips: {
				            callbacks: {
				                label: function(tooltipItem, data) {
				                    var label = data.datasets[tooltipItem.datasetIndex].label || '';

				                    if (label) {
				                        label += ': ';
				                    }
				                    let count = data.datasets[tooltipItem.datasetIndex].count[tooltipItem.index];
				                    label += Math.round(tooltipItem.yLabel * 100) / 100;
				                    label += ` # of Bookings: ${count}`;
				                    return label;
				                }
				            }
				        },
				        scales: {
				            yAxes: [{
				                ticks: {
				                    beginAtZero:true
				                }
				            }]
				        },
				        annotation: {
					      annotations: [{
					        type: 'line',
					        mode: 'horizontal',
					        scaleID: 'y-axis-0',
					        value: Math.floor(data.monthly_budget),
					        borderColor: 'red',
					        borderWidth: 2,
					        label: {
					          enabled: false,
					          content: 'Monthly Budget'
					        }
					      }]
					    }
				    }
				});
			}
		}
	}		
</script>

<style lang="scss">
	.track-booking {
		position: absolute;
	    width: 14%;
	    top: 27%;
	    padding: 5px 0;
	    right: 0;
	    background-color: #fcbc0f;
	    border: none;
	}
	.dashboard-content{
		margin-top: 9%;
	}
	
	.dashboard-content-row1{
		margin: 0px;
		/*padding: 3%;*/

	}
	.profile-pic{
		height:150px;
		width:150px;
		float:left;
	}
	.profile-content{
		padding:2rem 0;
		float:left;
		width:300px;
	}
	.profile-details-card{
		border:0.5px solid rgba(0,0,0,0.1);
		width: 46%;
		margin-left: 3%;
		margin-right: 1%;
		margin-top: 3%;
		height: 170px;
		box-sizing: border-box;
		color: #5e5e5e;
		border-top: 5px solid #f8cb00;
		background-color: white;
		box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 50%;
			margin-top: 5%;
		}
		h4{font-weight: 600;}
		h5{font-weight: 500;}
		span{margin-right: 5%;}
		.address{padding-left: 7%;position: relative;top: -15px;}
		.status-indicator{color: #4f9d16;position: absolute;left: 60%;top: 70%;}
		i{color: #f8cb00;position:relative;top: 5px;font-size: 18px;margin-right: 2%;}
	}
	.profile-details-card:hover{
		box-shadow: 3px 6px 15px rgba(0,0,0,0.1);
	}
	.receipt-details-card{
		width: 46%;
		margin-left: 1%;
		margin-right: 3%;
		margin-top: 3%;
		border:0.5px solid rgba(0,0,0,0.1);
		height: 170px;
		box-sizing: border-box;
		padding: 2%;
		color: #5e5e5e;
		border-top: 5px solid #f54442;
		background-color: white;
		box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
		h4{font-weight: 600;}
		.receipt-left-col{
			border-right: 1px solid rgba(0,0,0,0.1);
			.ticket-img{position: relative;width: 100%;height: auto;object-fit: cover;}
			.receipt-card-details{
				position: absolute;
				top: 52%;
				left: 48%;
				color: black;
			}
			.no-receipt-div {
				padding-top: 7%;
				font-size: 18px;
				font-weight: 500;
			}
		}
		.receipt-right-col{
			text-align: center;
			a{
			color:#5e5e5e;
			}
            button{
                outline: none;
            	border-radius: 50px;
            	border: none;
                position: relative;
                margin-top: 60%;
            	padding: 8% 20% 8% 20%;
            	border: 1px solid rgba(0,0,0,0.2);
            }  
		}
	}
	.receipt-details-card:hover{
		box-shadow: 3px 6px 15px rgba(0,0,0,0.1);
	}
	.bookings-card{
	    margin-left: 3%;
		margin-right: 1%;
		margin-top: 3%;
		padding: 0px;
		.bookings-card-row{
			margin: 0px;
		}
		.recent-booking-content{
			background-image: url('../assets/img/grey-card.PNG');
			background-repeat: no-repeat;
			background-position: 0px 0px;
			background-size: 100%;
			height: 180px;
			margin-bottom: 5%;
			padding-left: 10%;
			padding-top: 10%;
			.recent-booking-line{
				margin: 0px;
				width: 90%;
				border-top: 1px solid rgba(0,0,0,0.1);
			}
		}
		button{margin-left: 25%;outline: none}
	}
	.recent-activity-card:hover{
		box-shadow: 3px 6px 15px rgba(0,0,0,0.1);
	}
	.recent-activity-card{
		margin-left: 1%;
		margin-right: 3%;
		margin-top: 3%;
		width: 33.5%;
		border:0.5px solid rgba(0,0,0,0.1);
		border-top: 5px solid #1e1e1e;
		background-color: white;
		box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
		h4{
			margin-bottom: 5%;
		}
		.scroll-set-div {
			height: 596px;
			overflow-y: scroll;
			.recent-activity-div{
				border-left: 1px solid rgba(0,0,0,0.3);
				padding-left: 5%;
				margin-left: 5%;
				position: relative;
				.recent-activity-time{color: rgba(0,0,0,0.3);}
			}

			.yellow-dot{
				font-size: 12px;
				color: #ffd10a;
				position: absolute;
				left: -2%;
				top: -8%;

			}
		}

	}
	.my-bookings-card:hover{
		box-shadow: 3px 6px 15px rgba(0,0,0,0.1);
	}
	.my-bookings-card{
		border:0.5px solid rgba(0,0,0,0.1);
		border-top: 5px solid #2ec675;
		background-color: white;
		box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
		margin-bottom: 3%;
		padding-top: 2%;
		padding-bottom: 2%;
		button{
                outline: none;
            	border-radius: 50px;
            	border: none;
                position: relative;
            	padding: 3% 15% 3% 15%;
            	border: 1px solid rgba(0,0,0,0.2);
            } 
        .booking-card-left-col{
        	border-right: 1px solid rgba(0,0,0,0.1);
        }

		.red-ring{
			width: 100px;
			height: 100px;
			border: 3px solid #f54543;
			border-radius: 50%;
			text-align: center;
			margin-left:auto;
			margin-right: auto;
			img{width: 90%;margin-left: auto;margin-right: auto;}
		}
		.orange-ring{
			border: 3px solid #ff9600;
			@extend .red-ring;
		}
		.yellow-ring{
			border: 3px solid #ffd10a;
			@extend .red-ring;
		}
		.red-text{
            color: #f54543;
		}
		.orange-text{
            color: #ff9600;
		}
		.yellow-text{
			color: #ffd10a;
		}
		.my-bookings-row{
			.cursor {
				cursor: pointer;
			}
			text-align: center;
			padding-top: 5%;
			h2{font-weight: 600;}
		}
	}
	.bookings-report-card:hover{
		box-shadow: 3px 6px 15px rgba(0,0,0,0.1);
	}
	.bookings-report-card{
		border:0.5px solid rgba(0,0,0,0.1);
		border-top: 5px solid #29abcb;
		background-color: white;
		margin-bottom: 10%;
		box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
		padding-bottom: 3%;
	}
.not-available:hover:after{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000c4;
	display: block;
	content: "Currently not available";
	color: #fff;
	line-height: 200px;
}
</style>
