<template>
  <div id="login">
    <div class="col-md-5 left-div">
      <div class="black-overlay"></div>
      <div class="pos-img">
        <img src="../assets/img/logos.PNG" class="-start logo"/>
        <img src="../assets/img/who-logo.PNG" />
        <img src="../assets/img/drake-logo1.PNG" class="-end drake"/>
      </div>
		</div>
      <div class="col-md-7 right-div">
        <h2>Sign In to your account</h2>
        <br>
        <div class="login-failed" v-show="loginFailed">
          <p>{{ loginMessage }}</p>
        </div>
        <label>Your Email Address</label>
        <label class="email-warning" v-show="emailWarning">Not a valid email Id</label>
        <br>
        <input type="email" name="email" v-model="email" @focus="loginFailed = false" required>
        <br>
        <br>
        <label>Password</label><br>
        <input type="password" name="password" v-model="password" @keyup.enter="userLogin" @focus="loginFailed = false" required>
        <br>
        <div class="option-box">
            <label class="contains">
            <input type="checkbox" checked="checked">
                <span class="checkmark"></span>Remember me
			</label>
			<router-link to="forgot/password">Forgot your password?</router-link>
				
		</div>
		<button class="signin-btn" @click="userLogin">SIGN IN</button>
		<div class="line"></div>
		<!--<div class="help-box">
			<span class="signup-link">Don't have an account?
				<router-link to="/signup"> SIGNUP</router-link>
			</span>
            <span class="help-link">Need help?
				<router-link to="/support"> Go to Support</router-link>
			</span>
        </div>-->
    </div>
    <div class="black-shadow" v-show="verifiedMessage">
        <div class="verified-message">
            <h4>Verified</h4>
            <hr>
            <img src="../assets/img/verified.PNG" class="" />
            <h3>Email address successfully verified.Login to continue</h3>
            <button class="ok-button" @click= "verifiedMessage =false">Continue</button>
        </div>
    </div>
</div>
</template>
<script>

	
	import router from '../router';

	const emailPattern = /^\w+\.?\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/;

	export default {
        name: 'login',
        props: ['verified'],
        data()  {
        	return {
                loginMessage: 'Not a valid credentials.Please try again..',
        		email: '',
        		password: '',
        		emailWarning: false,
        		loginFailed: false,
                verifiedMessage: false
        	}
        },
        watch: {
        	email(newValue, oldValue) {
        		return this.emailWarning = this.email.match(emailPattern)? false : true;
        	}
        },
        created() {
            if(this.verified) {
                this.verifiedMessage = true;
            }
            if(localStorage.getItem("token")){
                router.push({ name: 'default' });
            }
        },
        mounted: function(){
        	this.fetchDetails(); 
            console.log('verified: ', this.verified);
        },
        methods : {
        	userLogin() {
        		const credentials = {
					email: this.email,
					password: this.password ? this.password : '',
				};
        		//api call 
        		this.axios.post('auth/login',credentials)
        		.then((response) => {
        			localStorage.token = response.data.token;
                    localStorage.timeStamp = new Date().getTime();
                    localStorage.expiresIn = response.data.expires_in;
        			localStorage.user = JSON.stringify(response.data.user);
                    if(response.data.user.is_admin || response.data.user.is_super_admin){
                        router.push({ name: 'default' }); 
                    }else{
                        router.push('/home/service');
                    }                           //Redirect to home page
        		})
        		.catch((error) => {      			
        			console.log(error.response);
                    if(error.response.status == 401) {
                        this.loginMessage = error.response.data.msg;
                    }
                    this.loginMessage = error.response.data.msg;
        			this.loginFailed = true;
        		});  
        	},
        	fetchDetails() {
        		this.axios.get('fetch/company').
        		then((response) => {
                    localStorage.companyDetails= JSON.stringify(response.data.company); 
        			console.log(response.data.company[0].branches);
        			localStorage.branches = response.data.company[0].branches[0].branch_id;  			
        		}).
        		catch((error) => { console.log(error) })
        	},
        }
    } 
</script>

<style lang="scss" src="../assets/css/login.scss" scoped></style>
<style scoped>
.pos-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}
.pos-img img{
    position: relative;
    width: 50%;
    margin: 0 auto;
    display: block;
}
.pos-img .-start {
    margin-bottom: auto;
}

.pos-img .-end {
    margin-top: auto;
}
.pos-img img.logo{
    width: 45%;
}
.pos-img img.drake{
    width: 30%;
}
</style>
