<template>
<section class="mode-of-dispatch">
    <h2>Pasword Management</h2>
  <hr>
  <div class="tab-div">
      <div class="tab-head">
            <button class="update" :class="{'active-tab':locked_users}" @click="lockedUsersTab">Locked Users</button>
            <button class="view" :class="{'active-tab':manage_passwords}"  @click="managePasswordsTab">Manage Passwords</button>
      </div>
      <div class="tab-content-div">
        <div class="view-box" :class="{'hide-content': hide_locked_users}">
            <table style="width: 100%;">
              <tr class="table-head">
                <th>Name</th>
                <th>Unit</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
              <tr class="table-body" v-for="user in lockedUsers">
                <td>{{user.name}}</td>
                <td>{{user.branch.branch_id}}</td>
                <td>{{user.email}}</td>
                <td>
                  <button class="unlock-user-btn" @click="unlockUser(user.id)">Unlock</button>
                </td>
              </tr>
            </table>
        </div>   
        <div class="view-box" :class="{'hide-content': hide_password_users}">
            <table style="width: 100%;">
              <tr class="table-head">
                <th>Name</th>
                <th>Unit</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
              <tr class="table-body" v-for="data in users">
                <td>{{data.name}}</td>
                <td>{{data.branch.branch_id}}</td>
                <td>{{data.email}}</td>
                <td>
                  <button class="unlock-user-btn" @click="changePasswordPopup(data)">Change Password</button>
                </td>
              </tr>
            </table>
        </div>  
      </div>  
  </div>
  <update-password v-if="currentUser" :user="currentUser" @close="closeModal"/>
</section>
</template>

<script>
    import updatePassword from "../components/update-password";
    export default{
        name: 'password-management',
        components:{ updatePassword },
        data() {
            return {
                locked_users:true,
                manage_passwords:false,
                hide_locked_users:false,
                hide_password_users:true,
                lockedUsers : [],
                users:[],
                pageDepth: ['Password Management'],
                currentUser:""
            }
        },
        activated() {
            this.fetchLockedUsers();
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.$root.$emit('pageHierarchy', vm.pageDepth);
            });
        },
        methods: {
            lockedUsersTab(){
                this.locked_users = true;
                this.manage_passwords = false;
                this.hide_locked_users = false;
                this.hide_password_users = true;
                this.fetchLockedUsers();
            },
            managePasswordsTab(){
                this.locked_users = false;
                this.manage_passwords = true;
                this.hide_locked_users = true;
                this.hide_password_users = false;
                this.fetchAllUsers();
            },
            fetchLockedUsers(){
                this.axios.get('user/lockedusers')
                    .then(response => {
                        this.lockedUsers = response.data.locked_users;
                    })
                    .catch(error => console.log(error));
            },
            unlockUser(id) {
                let confirmed = confirm('Are you sure to unlock this user ?');
                if(confirmed) {
                    this.axios.get(`user/unlock/${id}`)
                    .then(response => {
                        this.removeUser(id);
                        this.showSuccessToast();
                    })
                }
            },
            fetchAllUsers(){
              this.axios.get("user/all")
                        .then(response => {
                          this.users = response.data.users;
                        })
                        .catch(error => {
                          console.log(error);
                        });
            },
            removeUser(id) {
                let index = this.lockedUsers.findIndex(user => user.id === id);
                this.lockedUsers.splice(index, 1);
            },
            showSuccessToast() {
                this.$toasted.show("User successfully unlocked", { 
                     theme: "primary", 
                     position: "bottom-right", 
                     type: 'success',
                     duration: 2000,
                     iconPack : 'material',
                     icon : {
                        name : 'check'
                     }
                });
            },
            changePasswordPopup(user){
                this.currentUser = user;
            },
            closeModal(){
                this.currentUser = '';
                this.managePasswordsTab();
            }
        }
    }
</script>

<style lang="scss" scoped>

/*table styles*/
select, input{
  outline: none;
  background-color: #fff;
}
select:disabled, input:disabled {
  background-color: #ececec;
}

table th, td{
  padding-left: 2%;
  width: 10%;
  background-color: whitesmoke;
}

table td{
  padding-bottom: 3%;
}
table .table-head{
  background-color: #323232;
  color: white;
  border-top: 3px solid #ffd20a;
}
table th{
   border-bottom: 1px solid rgba(0,0,0,0.1);
   padding: 3% 0% 3% 2%;
   background-color: #323232;
}
table td{
  padding-top: 2%;
}
td input{
  width: 100% !important;
}
table .table-body {
    .unlock-user-btn{
      padding: 4% 15% 4% 15% !important;
      border-radius: 3px;
      width: 50%; 
      outline: none;
      border: none;
      cursor: pointer;
      background-color: #ffd20a ;
    }
    .unlock-user-btn:hover{
      background-color: #feb901;
    }
}




.hide-content{
    display: none;
}
input[type="checkbox"]
{
    vertical-align:middle;
    margin-right: 10%;
    margin-top: 2px;
}
input[type="checkbox"]:disabled {
  background-color: blue;
}
.checkbox-row{
  width: 100%;
  display: flex;
  margin-bottom: 3%;
}
.first-col, .second-col, .third-col{
  width: 200px;
 
}
.checkbox-label{
  width: 120px;
}
.mode-of-dispatch{
  padding-left: 5%;
  padding-top: 10%;
  padding-bottom: 15%;
  height: 100%;
}

.tab-head{
    width: 90%;
    display: flex;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
}
.tab-head button{
    border: none;
    outline: none;
    padding-top: 1%;
    font-size: 20px;
    padding-bottom: 1%;
    background-color: whitesmoke;
    border:1px solid rgba(0,0,0,0.2);
    border-bottom: 0px;

   
}
.tab-head button:hover{
    background-color: #F5F5F5;
}

.active-tab{
    background-color: #323232 !important;
    color: white;
}
.tab-head .update{    
    flex: 45%;
    margin-right: 5%;
}
.tab-head .view{
    flex: 45%;
}
.tab-head button{
    width: 50%;
    margin: 0px;
}
.tab-content-div{
    background-color: white;
    padding: 0% 5% 5% 0%;
    width: 95%;
}
.mode-of-dispatch h2{
  margin-bottom: 2%;
}
.mode-of-dispatch input, .dispatch-option{
  height: 40px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);
  padding-left: 2%;
}
.dispatch-option{
   width: 90%;
}
.tab-row{
  display: flex;
  margin-bottom: 5%;
}
.tab-col{
  flex: 50%;
}
.tab-col-4{
  flex: 25%;
}

.tab-col-4 input[type="text"]{
  width: 80%;
}
.tab-col input[type="text"]{
  width: 90%;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 3px; 
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #ffd10a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 6px;
    height: 13px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
</style>