<template>
	<div class="dashboard-content" id="service">
	   <div class="domestic-content">
            <div class="domestic-head">
                <img src="../assets/img/truck.PNG" />
                <h4><b>START SHIPPING</b></h4>
            </div>
            <domestic-slider :activePage="page" ></domestic-slider>
            <address-book-modal 
                v-show="showAddressBook"  
                :callFrom="pointOfCall" 
                :status="showAddressBook" 
                :type= "entryType" 
                :previousSelection="previousSelection"
                @closeAddressBook= "showAddressBook = !showAddressBook"
                @populateAddress="fillPickupDetails">
            </address-book-modal>
            <div id="slider-element"></div>
            <br>
            <div class="entry-method">
                <h3>CHOOSE ENTRY METHOD</h3>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <label class="entry-type">Single
                            <input type="radio" name="radio" @click="entryMethod('single')" ref="single" checked>
                            <span class="checkmark"></span>
                        </label>
                        <label class="entry-type">Batch
                            <input type="radio" name="radio" @click="entryMethod('batch')" ref="batch">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="domestic-item-type" id="sender-details">
                <h3>SERVICE OPTIONS</h3>
                <div class="row address-row">
                    <div class="col-md-12">
                        <div class="row address-box">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Requester name <span class="mandatory">*</span></label>
                                    <!-- <button @click="ShowAddressModal('service-data')"  >Address Book</button> -->
                                    <br>
                                    <input type="text" placeholder="Enter Requester name" name="" v-model="requesterName" :disabled="isUser"><br>
                                </div>
                                <div class="col-md-4">
                                    <label>Unit <span class="mandatory">*</span></label><br>
                                    <!-- <input type="text" placeholder="Enter Branch name" name="" :value="requesterBranch"><br> -->
                                     <select v-model="requesterBranch" :disabled="!(userDetails.is_admin||userDetails.is_super_admin)">
                                         <option v-for="item in branchList" :value="item.branch_id"  >{{ item.branch_id }}</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label>Request date <span class="mandatory">*</span></label><br>
                                    <flat-pickr v-model="requestDate"></flat-pickr>
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Type of goods <span class="mandatory">*</span></label><br>
                                    <!-- <input type="text" placeholder="Select type of Goods.."  v-model="itemType"><br> -->
                                    <select v-model="itemType">
                                         <option v-for="item in goodsList" :value="item.type"  >{{ item.type }}</option>
                                    </select>
                                </div>
                                <div class="col-md-4" v-if="userDetails.is_admin || userDetails.is_super_admin">
                                    <label>Mode of dispatch <span class="mandatory">*</span></label><br>
                                    <!-- <input type="text" placeholder="Select mode of..." name=""><br> -->
                                    <select v-model="modeOfDispatch">
                                         <option v-for="item in goodsDispatchDetails" :value="item.name">{{ item.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="row provider-box">
                                <div class="col-md-12">
                                    <br>
                                    <div v-for="provider in providerDetails">
                                        <div class="provider-div">
                                            <input type="radio" name="radio" @click="entryMethod('single')" checked>
                                            <span class="checkmark"></span>
                                            <img class="provider-logo" :src="provider.logo" alt="provider-logo" />
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <!------ provider selection section ---->
                            <!-- @click="selectRateCard(provider)" -->
                            <!-- @click= "rateCardMessage" -->
                            <div class="providers-box">
                                <div class="row">
                                    <div v-for="(provider,i) in providerDetails" :key="'provider'+i">
                                        <div
                                            v-if="isUser && modeOfDispatch != 'Courier' || (isUser && provider.carrier_code == 'WHO')"
                                            class="col-md-2 provider-card">
                                            <div>
                                                <input 
                                                :id="provider.id" 
                                                type="radio" 
                                                name="provider" 
                                                :ref="provider.id"
                                                @click="selectRateCard(provider, $event)">
                                            <span></span>
                                            <div class="logo-container">
                                                <img class="provider-logo" :src="provider.logo" :alt="provider.name" @click="triggerRateCard(provider)"/>
                                            </div>
                                            </div>
                                        </div>

                                        <div
                                            v-if="!isUser"
                                            class="col-md-2 provider-card">
                                            <div>
                                                <input 
                                                :id="provider.id" 
                                                type="radio" 
                                                name="provider" 
                                                :ref="provider.id"
                                                @click="selectRateCard(provider, $event)">
                                            <span></span>
                                            <div class="logo-container">
                                                <img class="provider-logo" :src="provider.logo" :alt="provider.name" @click="triggerRateCard(provider)">
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!----- provider selection section ends ---->

                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="domestic-delivery-options">

                <h4>DELIVERY OPTIONS
                    <router-link to="/home/help">
                        <span class="help-link"><i class="material-icons">play_arrow</i><span class="help-text">Help</span><i class="material-icons">help</i>
                        </span>
                    </router-link>
                </h4>
                <div class="item-type-line"></div>
                <br>
                <div class="item-type-content">
                    <div class="row table-head"><b>Service Name</b></div>
                    <div class="row table-content">
                        <div class="col-md-5 delivery-service">
                            <label>Choose a delivery service <span class="mandatory">*</span></label><br>
                            <select v-model="service" 
                                    ref="delivery_service"
                                    @focus = "removeWarning('delivery_service')">
                                    <option value="">Please select a service</option>
                                    <option v-for="(service, index) in deliveryServices" :key="'delivery_service_'+index" :value="service.name + '@' + service.id"> {{service.name }}</option>
                            </select>
                        <img :src="providerLogo"/>
                        </div>
                        <div class="col-md-7 delivery-service-content">
                            <p>
                            {{ providerDescription }}
                            </p>
                            <div v-if="userDetails.is_admin || userDetails.is_super_admin">
                                <button ref="rate_card_image" v-if="providerRatecard && (providerRatecard.split('.').pop()=='jpg' || providerRatecard.split('.').pop()=='jpeg'|| providerRatecard.split('.').pop()=='png')" @click="rateCardMessage">View Rate Card</button>
                                <a ref="rate_card_excel" v-else-if="providerRatecard && providerRatecard.split('.').pop()=='xlsx'" :href="providerRatecard" download>View Rate Card</a>
                                <a ref="rate_card_pdf" v-else-if="providerRatecard && providerRatecard.split('.').pop()=='pdf'" :href="providerRatecard" target="_blank">View Rate Card</a>
                                <p v-else-if="providerRatecard && (providerRatecard.split('.').pop()!='pdf' || providerRatecard.split('.').pop()!='jpg' || providerRatecard.split('.').pop()!='jpeg' || providerRatecard.split('.').pop()!='xlsx' || providerRatecard.split('.').pop()!='png')" class="help-text">No rate card found</p>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-3">
                        <div class="col-md-6">
                            <label>Customer Reference number</label><br>
                            <input type="text" placeholder="Enter the Reference no" name="" v-model="referenceNo"><br>
                        </div>
                            <div class="col-md-6 ptaeo-box">
                            <label>PTAEO  <span class="optional">(Seperate with / symbol -P/T/A/E/O)</span><span class="mandatory"> *</span></label>
                            <br>
                            <input type="text" placeholder="PTAEO Details" name="" 
                                    v-model="PTAEO" 
                                    ref="ptaeo"
                                    @focus="ptaeoSuggestion"
                                    @keyup="ptaeoSuggestion"
                                    @blur="show_ptaeo_suggestion = false">
                            <div class="ptaeo-list" v-show="show_ptaeo_suggestion">
                                <div v-for="(data,i) in ptaeo_suggestions" :key="'ptaeo_suggestion_list_'+i">
                                    <div class="ptaeo-item" @mousedown="ptaeoSuggestionSelected(data.ptaeo)">
                                        {{ data.ptaeo }}
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        
                    </div> 
                    <div class="row">
                        <div class="col-md-3">
                            <label class="contains">
                                <input type="checkbox" @click="setPriority" ref="priorityFlag">
                                <span class="checkmark" ></span>Priority Importance
                            </label>
                        </div>
                    </div>      
                </div>
            </div>
            <!--Address details-->
            <div class="row address-row">
                <h3><b>ADDRESS DETAILS</b></h3>
                <br>
                <div class="col-md-6" id="pickup-details">
                    <div class="row">
                        <div class="col-md-6" >
                        <h4>PICKUP DETAILS</h4>
                        <hr class="line">   
                        </div>
                        <div class="col-md-6" v-show="!isUser">
                            <button class="dropbtn" @click="ShowAddressModal('pickup-data')" >Address Book</button>
                        </div>  
                    </div>
                    <div class="row address-box" id="pickup-address">
                        <div class="row">
                            <label>Full Name <span class="mandatory">*</span></label><br>
                            <input type="text" name="" 
                                    v-model ="pickupName" 
                                    @focus= "pickupNameShow('pickup_name')" 
                                    @blur= "pickupList = false" 
                                    :disabled="isUser"
                                    ref = "pickup_name">
                            <div class="pickup-list" v-show="pickupList">
                                <div v-for="address in pickupAddressList">
                                    <div class="pickup-item" @mousedown="pickupDetailsFill(address)">
                                        {{ address.name }}
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="row">
                            <label>Company Name <span class="mandatory">*</span></label><br>
                            <input type="text" name="" 
                                    v-model ="pickupCompanyName" 
                                    :disabled="isUser"
                                    ref = "pickup_company"
                                    @focus = "removeWarning('pickup_company')"><br>
                        </div>
                        <div class="row">
                            <label>Branch Name <span class="mandatory">*</span></label><br>
                            <input type="text" name="" 
                                    v-model ="pickupBranchName" 
                                    :disabled="isUser"><br>
                        </div>
                        <div class="row">
                            <label>Address 1 <span class="mandatory">*</span></label><br>
                            <input type="text" name="" 
                                    v-model ="pickupAddress1" 
                                    :disabled="isUser"
                                    ref = "pickup_address_1"
                                    @focus = "removeWarning('pickup_address_1')"><br>
                        </div>
                        <div class="row">
                            <label>Address 2</label><br>
                            <input type="text" name="" 
                                    v-model ="pickupAddress2" 
                                    :disabled="isUser"
                                    ref = "pickup_address_2"
                                    @focus = "removeWarning('pickup_address_2')"><br>
                        </div>
                        
                        <div class="big-row row">
                            <div class="col-md-6 left-col">
                                <label>Postal Code </label><br>
                                <input type="text" name="" 
                                        v-model ="pickupPostalCode" 
                                        :disabled="isUser"
                                        ref = "pickup_postal_code">
                            </div>
                            <div class="col-md-6 right-col">
                                <label>City <span class="mandatory">*</span></label><br>
                                <input type="text" name="" 
                                        v-model ="pickupCity" 
                                        :disabled="isUser"
                                        ref= "pickup_city"
                                        @focus = "removeWarning('pickup_city')">
                            </div>
                        </div>
                        <div class="big-row row">
                            <div class="col-md-6 left-col">
                                <label>Suburb</label><br>
                                <input type="text" name="" 
                                        v-model="pickupSuburb" 
                                        :disabled="isUser">
                            </div>
                            <div class="col-md-6 right-col">
                                <label>State/ Province</label><br>
                                <input type="text" name="" 
                                        v-model ="pickupState" 
                                        ref="pickup_state"
                                        @focus = "removeWarning('pickup_state')"
                                        :disabled="isUser">
                            </div>
                        </div>
                         <div class="row">
                            <label>Country <span class="mandatory">*</span></label><br>
                            <input type="text" name="" 
                                        v-model ="pickupCountry" 
                                        :disabled="isUser"
                                        ref = "pickup_country"
                                        @focus = "removeWarning('pickup_country')"><br>
                        </div>
                        <!-- <div class="row">
                            <label>Suburb <span class="mandatory">*</span></label><br>
                            <input type="text" name=""><br>
                        </div> -->
                        <div class="big-row row">
                            <div class="col-md-6 left-col">
                                <label>Phone <span class="mandatory">*</span></label><br>
                                <input type="text" name="" 
                                        v-model ="pickupPhone" 
                                        ref="pickup_phone"
                                        :disabled="isUser"
                                        @focus = "removeWarning('pickup_phone')"
                                        >
                            </div>
                            <div class="col-md-6 right-col">
                                <label>Mobile</label><br>
                                <input type="text" name="" 
                                        v-model ="pickupMobile" 
                                        :disabled="isUser">
                            </div>
                        </div>
                        <div class="row">
                            <label>Email</label><br>
                            <input type="text" name="" 
                                        v-model ="pickupEmail" 
                                        :disabled="isUser"><br>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" id="delivery-details">
                    <div class="row">
                        <div class="col-md-6">
                        <h4>DELIVERY DETAILS</h4>
                        <hr class="line">   
                        </div>
                        <div class="col-md-6">
                            <a class="address-chip" @click="ShowAddressModal('delivery-data')">{{ pickupAddressCount }} Seleceted</a>
                            <button class="dropbtn" @click="ShowAddressModal('delivery-data')">Address Book</button>
                        </div>  
                    </div>
                    <div class="row address-box" id="delivery-address">
                        <div class="row">
                            <label>Full Name <span class="mandatory">*</span></label><br>
                            <!-- <input type="text" name="" v-model ="deliveryName"><br> -->
                            <input type="text" name="" 
                                    v-model ="deliveryName" 
                                    @focus= "deliveryNameShow('delivery_name')" 
                                    @blur= "deliveryList = false"
                                    ref = "delivery_name" >
                            <div class="delivery-list" v-show="deliveryList">
                                <div v-for="(address,i) in deliveryAddressList" :key="'addresslist'+i">
                                    <div class="delivery-item" @mousedown= "deliveryDetailsFill(address)">
                                        {{ address.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label>Company Name <span class="mandatory">*</span></label><br>
                            <input type="text" name="" 
                                    v-model ="deliveryCompanyName"
                                    ref = "delivery_company"
                                    @focus = "removeWarning('delivery_company')"><br>
                        </div>
                        <div class="row">
                            <label>Branch Name  <span class="mandatory">*</span></label><br>
                            <input type="text" name="" 
                                    v-model ="deliveryBranchName"
                                    ref = "delivery_branch"
                                    @focus = "removeWarning('delivery_branch')"><br>
                        </div>
                        <div class="row">
                            <label>Address 1 <span class="mandatory">*</span></label><br>
                            <input type="text" name="" 
                                    v-model ="deliveryAddress1"
                                    ref = "delivery_address_1"
                                    @focus = "removeWarning('delivery_address_1')"><br>
                        </div>
                        <div class="row">
                            <label>Address 2</label><br>
                            <input type="text" name="" 
                                    v-model ="deliveryAddress2"
                                    ref = "delivery_address_2"
                                    @focus = "removeWarning('delivery_address_2')"><br>
                        </div>
                        
                        <div class="big-row row">
                            <div class="col-md-6 left-col">
                                <label>Postal Code</label><br>
                                <input type="text" name="" 
                                        v-model ="deliveryPostalCode"
                                        ref = "delivery_postal_code"
                                        @focus = "removeWarning('delivery_postal_code')">
                            </div>
                            <div class="col-md-6 right-col">
                                <label>City <span class="mandatory">*</span></label><br>
                                <input type="text" name="" 
                                        v-model ="deliveryCity"
                                        ref = "delivery_city"
                                        @focus = "removeWarning('delivery_city')">
                            </div>
                        </div>
                        <div class="big-row row">
                            <div class="col-md-6 left-col">
                                <label>Suburb</label><br>
                                <input type="text" name="" v-model="deliverySuburb">
                            </div>
                            <div class="col-md-6 right-col">
                                <label>State/ Province</label><br>
                                <input type="text" name="" 
                                        v-model ="deliveryState"
                                        ref = "delivery_state"
                                        @focus = "removeWarning('delivery_state')">
                            </div>
                        </div>
                        <div class="row">
                            <label>Country <span class="mandatory">*</span></label><br>
                            <input type="text" name="" 
                                    v-model ="deliveryCountry"
                                    ref = "delivery_country"
                                    @focus = "removeWarning('delivery_country')"><br>
                        </div>
                        <!-- <div class="row">
                            <label>Suburb <span class="mandatory">*</span></label><br>
                            <input type="text" name=""><br>
                        </div> -->
                        <div class="big-row row">
                            <div class="col-md-6 left-col">
                                <label>Phone <span class="mandatory">*</span></label><br>
                                <input type="text" ref = "delivery_phone" @focus = "removeWarning('delivery_phone')" name="" v-model ="deliveryPhone">
                            </div>
                            <div class="col-md-6 right-col">
                                <label>Mobile</label><br>
                                <input type="text" name="" v-model ="deliveryMobile">
                            </div>
                        </div>
                        <div class="row">
                            <label>Email</label><br>
                            <input type="text" name="" v-model ="deliveryEmail"><br>
                        </div>
                    </div>
                    <div class="row"></div>
                </div>
            </div>
            <br>
            <div class="row button-row">
                <!-- <div class="col-md-6 left-col">
                    <button class="cancel-button domestic-btn" onclick="location.href='booking.html';">CANCEL</button>
                </div> -->
                <router-link to="/home/booking" tag="div" class="" exact>
                    <button class="previous-button domestic-btn">PREVIOUS</button>
                </router-link>
                <button class="cancel-button domestic-btn" @click.prevent="cancelbtn">CANCEL</button>
                <button class="next-button domestic-btn" @click="storeData">SAVE & NEXT</button>
            </div>
       </div>
       <rate-card :image="providerRatecard" v-show="rateCard" @closeRateCard="closeRateCard"></rate-card>           
    </div>

</template>
<script type="text/javascript" src="rangeslide.min.js"></script>

<script>

    import DomesticSlider from '../components/domestic-slider';
    import RateCard from '../components/rate-card';
    import router from '../router';
    import { CoolSelect } from 'vue-cool-select';
    import flatPickr from "vue-flatpickr-component";
    import "flatpickr/dist/flatpickr.css";

    localStorage.courierBooking = '{}';

	export default { 
		name: 'service',
        components: {
            DomesticSlider,
            CoolSelect,
            RateCard,
            flatPickr
        },
        data() {
            return {
                page: 'serviceOptions',
                pageDepth: ['Booking', 'service details'],
                pointOfCall: '',
                showAddressBook: false,
                entryType: 'single',
                referenceNo: '',
                PTAEO: '',
                hasPriority: false,
                pickupId:'',
                deliveryId: '',
                pickupName: '',
                pickupCompanyName: '',
                pickupBranchName: '',
                pickupAddress1: '',
                pickupAddress2: '',
                pickupPostalCode: '',
                pickupCity: '',
                pickupSuburb: '',
                pickupState: '',
                pickupCountry: '',
                pickupPhone: '',
                pickupMobile: '',
                pickupEmail: '',
                deliveryName: '',
                deliveryCompanyName: '',
                deliveryBranchName: '',
                deliveryAddress1: '',
                deliveryAddress2: '',
                deliveryPostalCode: '',
                deliveryCity: '',
                deliverySuburb: '',
                deliveryState: '',
                deliveryCountry: '',
                deliveryPhone: '',
                deliveryMobile: '',
                deliveryEmail: '',
                requesterName: '',
                requesterBranch: '',
                requestDate: '',
                modeOfDispatch: '',
                dispatchDetails: [],
                goodsDispatchDetails: [],
                providerDetails: [],
                providerList: [],
                deliveryServices: [],
                service: '',
                serviceName: '',
                itemType:'',
                providerLogo: '',
                providerDescription: '',
                providerRatecard:'',
                currentProvider: '',
                pickupAddressCount: 0,
                courierBookingData: {},
                c_good: '',
                userDetails: '',
                branchList: '',
                goodsList : [],
                senderDetails: [],
                currentGoods: {},
                items: [],
                selected: '',
                rateCard: false,
                pickupList: false,
                deliveryList: true,
                addressesArray: [],
                pickupAddressList: [],
                deliveryAddressList: [],
                pickupPreviousSelection: [],
                deliveryPreviousSelection: [],
                previousSelection: [],
                isUser: false,
                selectedDeliveryServices: '',
                currentProvider: '',
                delivery_provider: '',
                deliveryProviderId: '',
                changeGood: false,
                selectedServiceType: null,
                selectedAddresses: [],
                draftId: null,
                deliverySelection: null,
                carrierCode: null,
                ptaeo_details:[],
                ptaeo_suggestions:[],
                show_ptaeo_suggestion:false
            }
        },
        created() {
            console.log('rerendered');
            try{
                var myDate = new Date();
                var myDateString;

                myDateString = myDate.getFullYear() + '-'
                            + ('0' + (myDate.getMonth()+1)).slice(-2) + '-'
                            + ('0' + myDate.getDate()).slice(-2);

                this.requestDate = myDateString;
                this.courierBookingData.delivery_address = [];
                this.branchList = JSON.parse(localStorage.companyDetails)[0].branches.sort((a,b) => {
                    return a.branch_id.localeCompare(b.branch_id);
                });
                this.userDetails = JSON.parse(localStorage.user);
                this.requesterBranch = this.userDetails.branch.branch_id;
                this.addressesArray = JSON.parse(localStorage.addresses);
                this.items = JSON.parse(localStorage.addresses).map(addr => addr.name);
                if(!this.items.includes(this.userDetails.name)) {
                    this.items.push(this.userDetails.name);
                }
            }catch(e){
                console.log(e.message);
            }
            
            this.populatePickupDetails();
            this.fetchPtaeoDetails();
            this.requesterName = this.userDetails.name;
            this.$root.$on('clearBookingView', (clear) => {
                Object.assign(this.$data, this.$options.data());
            });
        },
        mounted:  function(){
            if(!this.userDetails.is_admin) {
                this.isUser = true;
            }        },
        beforeRouteEnter (to, from, next) {
            // this.fetchUserDetails();
            console.log('from:', from);
            if(from.name == 'ShipmentDetails') {
                next(vm => {
                    // vm.draftId = localStorage.draftId;
                    console.log('draft ID', vm.draftId);
                })
            }
            else {
                next(vm => {
                    vm.fetchGoods();
                    vm.$root.$emit('pageHierarchy', vm.pageDepth);
                    vm.draftId = null;
                    if(vm.$route.params.pos) {
                        document.getElementById(vm.$route.params.pos).scrollIntoView();
                    }
                });
            }

            
        },
        beforeDestroy() {
            this.$root.$off('editDetails');
            this.$root.$off('clearBookingView');
            this.$root.$off('populateAddress');
        },
        watch: {
            requesterName: function(newValue, oldValue) {
                this.pickupName = newValue;
                console.log('requesterName => ',newValue);
            },
            pickupName: function(newValue, oldValue) {
                console.log('pickupname => ',newValue);
                if(newValue !== '') {
                    let searchAddress = [];
                    let searchTerm = newValue.toLowerCase();
                    this.addressesArray.forEach(address => {

                        if(address.name.toLowerCase().includes(searchTerm)) {
                            searchAddress.push(address);
                        }
                    });
                    console.log('ethaanu', searchAddress[0].id);
                    this.pickupId = searchAddress[0].id;
                    this.pickupAddressList = searchAddress;
                } 
                else {
                    this.pickupAddressList = this.addressesArray;
                }
                
            },
            deliveryName: function(newValue, oldValue) {
                try{
                    if(newValue !== '') {
                        let searchAddress = [];
                        let searchTerm = newValue.toLowerCase();
                        this.addressesArray.forEach(address => {
                            if(address.name.toLowerCase().includes(searchTerm)) {
                                searchAddress.push(address);
                            }
                        });
                        console.log(searchAddress);
                        console.log('ethaanu', searchAddress[0].id);
                        this.deliverySelection = 'list';
                        this.deliveryId = searchAddress[0].id;
                        this.deliveryAddressList = searchAddress;
                    } 
                    else {
                        this.deliveryAddressList = this.addressesArray;
                    }
                }catch(e){
                    console.log(e.message)
                }
            },
            selectedDeliveryServices(newValue, oldValue) {
                this.deliveryServices = [];
                this.currentProvider = newValue;
                this.currentProvider.services.forEach(item => {
                        this.deliveryServices.push(item);
                });
                console.log('List',this.deliveryServices);
                if(this.deliveryServices.length == 1){
                    this.service = this.deliveryServices[0].name + '@' + this.deliveryServices[0].id;
                }else{
                    this.service = "";
                }
            },
            toLower(str){
                return (str == null) ? '' : str.toLowerCase();
            },
            itemType: function(newValue, oldValue) {
                if(localStorage.currentGoods && newValue != JSON.parse(localStorage.currentGoods).type) {
                    console.log('goods changed');
                    this.changeGood = true;
                    this.currentGoods = this.goodsList.find(item => item.type == newValue); 
                } else {
                    this.currentGoods = this.goodsList.find(item => item.type == newValue);
                    console.log('current goods:', this.currentGoods);
                    // if(!this.currentGoods) {
                    //     this.currentGoods = this.goodList[0];
                    // }
                }
                this.goodsDispatchDetails = this.currentGoods.modes;
                this.modeOfDispatch = this.currentGoods.modes[0].name;
            },
            modeOfDispatch: function(newValue, oldValue) {
                this.addProvider(newValue);  
            },
            service: function(newValue, oldValue) {
                console.log('caller', service.caller)
                console.log('provider',this.currentProvider, 'newValue', newValue);

                if(newValue) {
                    let serviceId = newValue.split('@')[1];
                    this.currentProvider.services.forEach( item => {
                        if (serviceId == item.id) {
                            console.log(item.type);
                            this.selectedServiceType = item.type;
                            localStorage.selectedServiceType = item.type;
                        }
                    });
                }
                this.providerLogo = this.currentProvider.logo; 
                this.providerDescription = this.currentProvider.description;
                this.providerRatecard = this.currentProvider.rate_card;      
            },
            requesterBranch(newValue, oldValue){
                this.pickupBranchName = newValue;
            }
        },
        methods : {
            cancelbtn(){
                router.push("/home/booking");
                location.reload();
            },
            triggerRateCard(provider){
                console.log('clicked')
                if(provider.rate_card){
                    this.providerRatecard = provider.rate_card;
                    const ratecardtype = provider.rate_card.split('.').pop();
                    switch(ratecardtype){
                        case 'jpg':
                            this.$refs.rate_card_image.click();
                            break;
                        case 'png':
                            this.$refs.rate_card_image.click();
                            break;
                        case 'jpeg':
                            this.$refs.rate_card_image.click();
                            break;
                        case 'xlsx':
                            this.$refs.rate_card_excel.click();
                            break;
                        case 'pdf':
                            this.$refs.rate_card_pdf.click();
                            break;
                        default:
                            alert("No rate card found");                
                    }
                }
                this.$refs[provider.id][0].checked = true;
                this.carrierCode = provider.carrier_code;
                this.deliveryProviderId = provider.id;
                this.delivery_provider = provider.name;
                this.selectedDeliveryServices = provider;
                this.service = this.selectedDeliveryServices.name
            },
            setPickupName(name) {
                console.log('called set pickupname',name);
                this.pickupName = name;
            },
            setRequesterName(name) {
                console.log('called set requestername',name);
                this.requesterName = name;
            },
            selectRateCard(provider, event) {
                event.preventDefault();
                setTimeout(()=>{
                    event.target.checked = true;
                })
                if(this.$refs[provider.id][0].checked) {
                    console.log('provider aane:',provider);
                    this.carrierCode = provider.carrier_code;
                    this.deliveryProviderId = provider.id;
                    console.log('delivery provider id', this.deliveryProviderId);
                    this.delivery_provider = provider.name;
                    this.selectedDeliveryServices = provider;
                    this.service = this.selectedDeliveryServices.name;

                }
            },
            pickupNameShow(item) {
                this.pickupList = true;
                this.$refs[item].classList.remove('warning');

            },
            deliveryNameShow(item) {
                this.deliveryList = true;
                this.$refs[item].classList.remove('warning');
            },
            fetchPtaeoDetails(){
                this.axios.get("ptaeo")
                        .then(response => {
                            this.ptaeo_details = response.data.ptaeo_details;
                            this.ptaeo_suggestions = this.ptaeo_details;
                        })
                        .catch(error => {
                            console.log("Ptaeo details could not be fetched");
                        })
            },
            ptaeoSuggestion(){
                this.show_ptaeo_suggestion = true;
                if(this.PTAEO){
                    this.ptaeo_suggestions = this.ptaeo_details.filter(element => {
                        if(element.ptaeo.toLowerCase().includes(this.PTAEO.toLowerCase())){
                            return element;
                        }
                    });
                }else{
                    this.ptaeo_suggestions = this.ptaeo_details;
                }
            },
            ptaeoSuggestionSelected(ptaeo){
                this.PTAEO = ptaeo;
            },
            pickupDetailsFill(address) {
                console.log(address);
                try{
                    if(address != undefined) {
                        this.pickupName = address.name;
                        this.pickupAddress1 = address.address_1;
                        this.pickupAddress2 = address.address_2;
                        this.pickupPostalCode = address.postal_code;
                        this.pickupCity = address.city;
                        this.pickupSuburb = address.suburb;
                        this.pickupState = address.state;
                        this.pickupCountry = address.country;
                        this.pickupPhone = address.phone;
                        this.pickupMobile = address.mobile ? addr.mobile : '';
                        this.pickupEmail = address.email;
                    }
                }catch(e){
                    console.log(e.message)
                }
            },
            deliveryDetailsFill(address) {
                console.log(address);
                if(address != undefined) {
                    this.deliveryName = address.name;
                    this.deliveryCompanyName = address.company_name;
                    this.deliveryBranchName = address.branch_name;
                    this.deliveryAddress1 = address.address_1;
                    this.deliveryAddress2 = address.address_2;
                    this.deliveryPostalCode = address.postal_code;
                    this.deliveryCity = address.city;
                    this.deliverySuburb = address.suburb;
                    this.deliveryState = address.state;
                    this.deliveryCountry = address.country;
                    this.deliveryPhone = address.phone;
                    this.deliveryMobile = address.mobile ? addr.mobile : '';
                    this.deliveryEmail = address.email;
                }
            },
            getUser(prop) {
                // if(prop) {
                //     return data[prop];
                // } else {
                //     return data;                    
                // }
            },
            setPriority() {
                this.hasPriority = !this.hasPriority;
            },
            closeRateCard(data) {
                this.rateCard = false;
            },
            rateCardMessage() {
                this.rateCard = true;
                // else {
                //     this.$toasted.show("No Rate card to Display", { 
                //          theme: "primary", 
                //          position: "bottom-right", 
                //          type: 'success',
                //          duration: 2000,
                //          iconPack : 'material',
                //          icon : {
                //             name : 'error'
                //          }
                //     });
                // }
            },
            populatePickupDetails() {
                console.log('populating pickup',this.userDetails.name);
                this.pickupName = this.userDetails.name;
                this.pickupAddress1 = this.userDetails.branch.address_1;
                this.pickupAddress2 = this.userDetails.branch.address_2;
                this.pickupPostalCode = this.userDetails.branch.postal_code;
                this.pickupCity = this.userDetails.branch.city;
                this.pickupSuburb = this.userDetails.branch.suburb;
                this.pickupState = this.userDetails.branch.state;
                this.pickupCountry = this.userDetails.branch.country;
                this.pickupPhone = this.userDetails.branch.phone;
                this.pickupMobile = this.userDetails.mobile ? this.userDetails.mobile : '';
                this.pickupEmail = this.userDetails.email;
                this.pickupBranchName = this.userDetails.branch.branch_id;
                this.pickupCompanyName = 'World Health Organization';

            },
            fetchGoods() {
                this.axios.get('goods').
                then(response => {
                    this.fetchDispatchDetails(() => {
                        localStorage.setItem("goods", JSON.stringify(response.data.goods));
                        this.goodsList = response.data.goods;
                        let user = JSON.parse(localStorage.user);
                        if(user.goods_id) {
                            let itemId = user.goods_id;
                            this.c_good = response.data.goods.find(item => item.id == itemId);
                            this.itemType = this.c_good.type;
                        } else {
                            this.itemType = response.data.goods[0].type;
                        }
                    });  
                }).
                catch(error => {
                    console.log(error);
               })
            },
            fillPageDatails(id) {
                let courierDetails = JSON.parse(localStorage.courierDetails);
                let currentCourier = courierDetails.find(courier => courier.id == id);
                console.log('current: ', currentCourier);
                this.entryType = currentCourier.entry_type;
                if(this.entryType == 'batch') {
                    this.$refs.single.checked = 'checked'; 
                }
                else {
                    this.$refs.batch.checked = 'checked';
                }
                this.requesterName = currentCourier.requester_name;
                this.requesterBranch = currentCourier.branch_id;
                this.requestDate = currentCourier.request_date;
                this.modeOfDispatch = currentCourier.mode_of_dispatch;
                this.itemType = currentCourier.type_of_good;
                this.service = currentCourier.delivery_service;
                this.referenceNo = currentCourier.reference_no;
                this.hasPriority = currentCourier.has_priority;
                if(this.hasPriority) {
                    this.$refs.priorityFlag.checked = true;
                }
                this.PTAEO = currentCourier.p + '/' + currentCourier.t + '/' +
                             currentCourier.a + '/' + currentCourier.e + '/' +
                             currentCourier.o;

                this.pickupName = currentCourier.pickup_name; 
                this.pickupCompanyName = currentCourier.pickup_company; 
                this.pickupBranchName = currentCourier.pickup_branch; 
                this.pickupAddress1 = currentCourier.pickup_address_1; 
                this.pickupAddress2 = currentCourier.pickup_address_2; 
                this.pickupPostalCode = currentCourier.pickup_postal_code;
                this.pickupCity = currentCourier.pickup_city;
                this.pickupSuburb = currentCourier.pickup_suburb;
                this.pickupState = currentCourier.pickup_state;
                this.pickupCountry = currentCourier.pickup_country;
                this.pickupMobile = currentCourier.pickup_mobile;
                this.pickupPhone = currentCourier.pickup_phone;
                this.pickupEmail = currentCourier.pickup_email; 

                this.deliveryName = currentCourier.delivery_address[0].delivery_name;
                this.deliveryCompanyName = currentCourier.delivery_address[0].delivery_company; 
                this.deliveryBranchName = currentCourier.delivery_address[0].delivery_branch;
                this.deliveryAddress1 = currentCourier.delivery_address[0].delivery_address_1; 
                this.deliveryAddress2 = currentCourier.delivery_address[0].delivery_address_2; 
                this.deliveryPostalCode = currentCourier.delivery_address[0].delivery_postal_code;
                this.deliveryCity = currentCourier.delivery_address[0].delivery_city;
                this.deliverySuburb = currentCourier.delivery_address[0].delivery_suburb;
                this.deliveryState = currentCourier.delivery_address[0].delivery_state;
                this.deliveryCountry = currentCourier.delivery_address[0].delivery_country;
                this.deliveryMobile = currentCourier.delivery_address[0].delivery_mobile;
                this.deliveryPhone = currentCourier.delivery_address[0].delivery_phone;
                this.deliveryEmail = currentCourier.delivery_address[0].delivery_email;

                this.addProvider(currentCourier.mode_of_dispatch);

            },
            fillPickupDetails(selectedAddresses) {
                console.log(selectedAddresses);
                this.selectedAddresses = [];
                this.selectedAddresses = selectedAddresses;
                this.showAddressBook = false;
                if(this.pointOfCall == 'delivery-data')
                    this.courierBookingData.delivery_address = [];
                let addresses = JSON.parse(localStorage.addresses);
                selectedAddresses.map((addr) => {
                    addresses.map((address) => {
                        if(address.id == addr ) {
                            console.log('address is:', address);
                            if(this.pointOfCall == 'pickup-data') {
                                this.pickupPreviousSelection = selectedAddresses;
                                this.pickupId = address.id;
                                this.pickupName = address.name;
                                this.pickupCompanyName = address.company_name;
                                this.pickupBranchName = address.branch_name;
                                this.pickupAddress1 = address.address_1;
                                this.pickupAddress2 = address.address_2;
                                this.pickupPostalCode = address.postal_code;
                                this.pickupCity = address.city;
                                this.pickupSuburb = address.suburb ? address.suburb : '';
                                this.pickupState = address.state ? address.state : '';
                                this.pickupCountry = address.country ? address.country : '';
                                this.pickupPhone = address.phone;
                                this.pickupEmail = address.email;
                            }
                            else if(this.pointOfCall == 'delivery-data') {
                                this.deliverySelection = 'addressBook';
                                this.deliveryList = false;
                                this.deliveryPreviousSelection = selectedAddresses;
                                this.pickupAddressCount = selectedAddresses ? selectedAddresses.length: 0;
                                this.deliveryName = address.name;
                                this.deliveryId = address.id;
                                this.deliveryCompanyName = address.company_name;
                                this.deliveryBranchName = address.branch_name;
                                this.deliveryAddress1 = address.address_1;
                                this.deliveryAddress2 = address.address_2;
                                this.deliveryPostalCode = address.postal_code;
                                this.deliveryCity = address.city;
                                this.deliverySuburb = address.suburb ? address.suburb : '';
                                this.deliveryState = address.state ? address.state : '';
                                this.deliveryCountry = address.country ? address.country : '';
                                this.deliveryPhone = address.phone;
                                this.deliveryEmail = address.email;
                                this.storeDeliveryData();
                            }
                            else if(this.pointOfCall == 'service-data') {
                                localStorage.sender = JSON.stringify(address);
                                this.requesterName = address.name;
                                this.requesterBranch = address.branch_name;
                            }
                        }
                    });
                });

            },
            entryMethod(value) {
                if(value == 'single') {
                    this.entryType = 'single';
                }
                else {
                    this.entryType = 'batch';
                }
            },
            ShowAddressModal(point) {
                this.showAddressBook = true;
                this.pointOfCall = point;
                if(this.pointOfCall == 'pickup-data') {
                    this.previousSelection = this.pickupPreviousSelection;
                }
                else if(this.pointOfCall == 'delivery-data') {
                    this.previousSelection = this.deliveryPreviousSelection;
                }
            },
            fetchDispatchDetails(callback) {
                this.axios.get('dispatch').
                then((response) => {
                    if(callback) {
                        callback();
                    }
                    localStorage.setItem("dispatchDetails", JSON.stringify(response.data.mode_of_dispatch));
                    this.dispatchDetails = response.data.mode_of_dispatch;
                    // this.selectDeliveryServices();
                }).
                catch((error) => {
                    console.log(error)
                })
            },
            storeDeliveryData(){
                let deliverypoint = {
                    delivery_name : this.deliveryName,
                    delivery_company: this.deliveryCompanyName,
                    delivery_branch: this.deliveryBranchName,
                    delivery_address_1: this.deliveryAddress1,
                    delivery_address_2: this.deliveryAddress2,
                    delivery_postal_code: this.deliveryPostalCode,
                    delivery_city: this.deliveryCity,
                    delivery_suburb: this.deliverySuburb,
                    delivery_state: this.deliveryState,
                    delivery_country: this.deliveryCountry,
                    delivery_phone: this.deliveryPhone,
                    delivery_mobile: this.deliveryMobile,
                    delivery_email: this.deliveryEmail
                }
                this.courierBookingData.delivery_address.push(deliverypoint);
            },
            storeData() {
                // this.courierBookingData.delivery_address = [];
                let deliverypoint = {
                    delivery_name : this.deliveryName,
                    delivery_company: this.deliveryCompanyName,
                    delivery_branch: this.deliveryBranchName,
                    delivery_address_1: this.deliveryAddress1,
                    delivery_address_2: this.deliveryAddress2,
                    delivery_postal_code: this.deliveryPostalCode,
                    delivery_city: this.deliveryCity,
                    delivery_suburb: this.deliverySuburb,
                    delivery_state: this.deliveryState,
                    delivery_country: this.deliveryCountry,
                    delivery_phone: this.deliveryPhone,
                    delivery_mobile: this.deliveryMobile,
                    delivery_email: this.deliveryEmail
                }
                this.courierBookingData.delivery_address.splice(-1,1);
                this.courierBookingData.delivery_address.push(deliverypoint);


                this.courierBookingData.entry_type = this.entryType;
                this.courierBookingData.requester_name = this.requesterName;
                // let temp_branch = this.requesterBranch;
                let temp_company = JSON.parse(localStorage.companyDetails)[0].branches;
                let t = temp_company.find(item => item.branch_id == this.requesterBranch);
                this.courierBookingData.branch_id = t.id;
                this.courierBookingData.delivery_provider = this.delivery_provider;
                this.courierBookingData.provider_id = this.deliveryProviderId;
                this.courierBookingData.request_date = this.requestDate;
                this.courierBookingData.type_of_good = this.itemType;
                this.courierBookingData.mode_of_dispatch = this.modeOfDispatch;
                console.log('service', this.service);
                this.courierBookingData.delivery_service = this.service.split('@')[0];
                this.courierBookingData.service_id = this.service.split('@')[1];
                this.courierBookingData.pickup_name = this.pickupName;
                this.courierBookingData.pickup_company = this.pickupCompanyName;
                this.courierBookingData.pickup_branch = this.pickupBranchName;
                this.courierBookingData.pickup_address_1 = this.pickupAddress1;
                this.courierBookingData.pickup_address_2 = this.pickupAddress2;
                this.courierBookingData.pickup_postal_code = this.pickupPostalCode;
                this.courierBookingData.pickup_city = this.pickupCity;
                this.courierBookingData.pickup_suburb = this.pickupSuburb;
                this.courierBookingData.pickup_state = this.pickupState;
                this.courierBookingData.pickup_country = this.pickupCountry;
                this.courierBookingData.pickup_mobile= this.pickupMobile;
                this.courierBookingData.pickup_phone= this.pickupPhone;
                this.courierBookingData.pickup_email = this.pickupEmail;
                this.courierBookingData.reference_no = this.referenceNo;
                let PTAEO = this.PTAEO.split('/');
                this.courierBookingData.p = PTAEO[0];
                this.courierBookingData.t = PTAEO[1];
                this.courierBookingData.a = PTAEO[2];
                this.courierBookingData.e = PTAEO[3];
                this.courierBookingData.o = PTAEO[4];
                this.courierBookingData.has_priority = this.hasPriority? 1 : 0;

                console.log(this.courierBookingData);

                this.checkEmptyValue(deliverypoint);


                localStorage.courierBookingData = JSON.stringify(this.courierBookingData);



                localStorage.pickupDetails = JSON.stringify({
                    pickupName : this.pickupName ,
                    pickupCompanyName : this.pickupCompanyName ,
                    pickupBranchName : this.pickupBranchName ,
                    pickupAddress1 : this.pickupAddress1 ,
                    pickupAddress2 : this.pickupAddress2 ,
                    pickupPostalCode : this.pickupPostalCode ,
                    pickupCity : this.pickupCity ,
                    pickupSuburb : this.pickupSuburb  ? this.pickupSuburb : '',
                    pickupState : this.pickupState  ? this.pickupState : '',
                    pickupCountry : this.pickupCountry  ? this.pickupCountry : '',
                    pickupPhone : this.pickupPhone ,
                    pickupEmail : this.pickupEmail 
                })
            },
            addProvider(newValue) {
                this.providerDetails = [];
                let currentDispatch = this.dispatchDetails.find(item => item.name == newValue);
                console.log('CurrentDispatch:', currentDispatch);
                this.deliveryServices = [];
                let courierProvider;
                currentDispatch.providers.forEach(provider => {
                    this.providerDetails.push(provider);
                    if(currentDispatch.name == 'Courier' && provider.carrier_code == 'WHO') {
                        courierProvider = provider;
                        if(provider.services.length > 0) {
                            this.deliveryServices.push(provider.services[0]);
                        }
                    }
                });
                if(currentDispatch.name == 'Courier' && this.isUser) {
                    setTimeout(() => {
                        this.$refs[courierProvider.id].checked = true;
                        this.$refs[courierProvider.id][0].click();
                        this.service = courierProvider.services[0].name + '@' + courierProvider.services[0].id;
                    })
                }
                console.log('Provider details:', this.providerDetails);
            },
            checkEmptyValue(deliverypoint) {
                let flag = true;
                let errorMessage; 
                Object.keys(this.courierBookingData).forEach((key) => {
                    if(!this.courierBookingData[key] && key != 'pickup_mobile' && key != 'pickup_suburb' && key != 'pickup_email' && key != 'has_priority' && key != 'reference_no' && key != 'service_id' && key != 'delivery_provider' && key != 'provider_id' &&key != 'pickup_address_2' && key !='pickup_postal_code' && key != "pickup_state") {
                        console.log('key:', key);
                        if( key == 'p' || key == "t" || key == "a" || key == "e" || key == "o") {
                            key = "ptaeo";
                        }
                        this.warningBox(key);
                        flag = false;
                    }
                });
                this.checkDeliveryEmptyValue(deliverypoint, flag);
            },
            checkDeliveryEmptyValue(deliverypoint, flag) {
                console.log('delivery point :', deliverypoint);
                let deliveryErrorMessage;
                let deliveyAddressLength = this.courierBookingData.delivery_address.length;
                Object.keys(deliverypoint).forEach((key) => {
                    if(!deliverypoint[key]  && key != 'delivery_mobile' && key != 'delivery_email'  && key != 'delivery_suburb' && key != 'delivery_address_2' && key != 'delivery_postal_code' && key != 'delivery_state') {
                        console.log(key);
                        this.warningBox(key);
                        flag = false;
                    }
                });
                if(flag) {
                    localStorage.currentGoods = JSON.stringify(this.currentGoods);
                    console.log('currentGoods:', this.currentGoods);
                    this.createDraft();
                }
                else {
                    this.$toasted.show('Please fill all details', { 
                         theme: "primary", 
                         position: "bottom-right", 
                         type: 'error',
                         duration: 2000,
                         iconPack : 'material',
                         icon : {
                            name : 'close'
                         }
                    });
                }
            },
            warningBox(key) {
                // this.$refs[key].class = 'warning';
                this.$refs[key].classList.add('warning');
            },
            removeWarning(item) {
                this.$refs[item].classList.remove('warning');
            },
            createDraft() {

                let draftData = {
                    booking_type: localStorage.selectedServiceType != 'I'? (localStorage.selectedServiceType != 'D'? 'Messengerial':'Domestic'): 'International',
                    entry_type: this.courierBookingData.entry_type,
                    requester_name: this.courierBookingData.requester_name,
                    branch_id: this.courierBookingData.branch_id,
                    delivery_provider: this.courierBookingData.delivery_provider,
                    provider_id: this.courierBookingData.provider_id,
                    carrier_code: this.carrierCode,
                    request_date: this.courierBookingData.request_date,
                    type_of_good: this.courierBookingData.type_of_good,
                    mode_of_dispatch: this.courierBookingData.mode_of_dispatch,
                    delivery_service: this.courierBookingData.delivery_service,
                    service_id: this.courierBookingData.service_id,
                    pickup_name: this.courierBookingData.pickup_name,
                    pickup_company: this.courierBookingData.pickup_company,
                    pickup_branch: this.courierBookingData.pickup_branch,
                    pickup_address_1: this.courierBookingData.pickup_address_1,
                    pickup_address_2: this.courierBookingData.pickup_address_2,
                    pickup_postal_code: this.courierBookingData.pickup_postal_code,
                    pickup_city: this.courierBookingData.pickup_city,
                    pickup_suburb: this.courierBookingData.pickup_suburb,
                    pickup_state: this.courierBookingData.pickup_state,
                    pickup_country: this.courierBookingData.pickup_country,
                    pickup_mobile: this.courierBookingData.pickup_mobile,
                    pickup_phone: this.courierBookingData.pickup_phone,
                    pickup_email: this.courierBookingData.pickup_email,
                    reference_no: this.courierBookingData.reference_no,
                    p: this.courierBookingData.p,
                    t: this.courierBookingData.t,
                    a: this.courierBookingData.a,
                    e: this.courierBookingData.e,
                    o: this.courierBookingData.o,
                    has_priority: this.courierBookingData.has_priority,
                    temp_pickup_address_id: this.pickupId,
                    // delivery_address: this.courierBookingData.delivery_address

                };

                draftData.temp_delivery_address = [];
                if( this.deliverySelection == 'list') {
                    draftData.temp_delivery_address[0] = {};
                    draftData.temp_delivery_address[0].id = this.deliveryId;
                    draftData.temp_delivery_address[0].data = {
                            delivery_name: this.deliveryName,
                            delivery_company: this.deliveryCompanyName,
                            delivery_branch: this.deliveryBranchName,
                            delivery_address_1: this.deliveryAddress1,
                            delivery_address_2: this.deliveryAddress2,
                            delivery_postal_code: this.deliveryPostalCode,
                            delivery_city: this.deliveryCity,
                            delivery_suburb: this.deliverySuburb,
                            delivery_state: this.deliveryState,
                            delivery_country: this.deliveryCountry,
                            delivery_phone: this.deliveryPhone,
                            delivery_mobile: this.deliveryMobile,
                            delivery_email: this.deliveryEmail
                    }
                }
                else {
                     for (let i = 0; i< this.selectedAddresses.length; i++) {
                        draftData.temp_delivery_address[i] = {};
                        draftData.temp_delivery_address[i].id = this.selectedAddresses[i];
                        if(i == this.selectedAddresses.length-1) {
                            draftData.temp_delivery_address[i].data = {
                                delivery_name: this.deliveryName,
                                delivery_company: this.deliveryCompanyName,
                                delivery_branch: this.deliveryBranchName,
                                delivery_address_1: this.deliveryAddress1,
                                delivery_address_2: this.deliveryAddress2,
                                delivery_postal_code: this.deliveryPostalCode,
                                delivery_city: this.deliveryCity,
                                delivery_suburb: this.deliverySuburb,
                                delivery_state: this.deliveryState,
                                delivery_country: this.deliveryCountry,
                                delivery_phone: this.deliveryPhone,
                                delivery_mobile: this.deliveryMobile,
                                delivery_email: this.deliveryEmail
                            }
                        }
                        else {
                            draftData.temp_delivery_address[i].data = {};
                        }
                    }
                }

                console.log('Draft values are', draftData);
                if(this.draftId) {
                    this.axios.put(`draft/${this.draftId}/first`, draftData)
                    .then(response => {
                        console.log(response);
                        console.log('Draft updated');

                        router.push({ 
                            name: 'ShipmentDetails',
                            params: {
                                id: this.draftId
                            }
                        });
                    })
                    .catch(error => {
                        console.log(error.response);
                    });
                }
                else {
                    this.axios.post('draft', draftData)
                    .then(response => {
                        console.log(response);
                        if(response.data.status == 'ok') {
                            console.log('Successfully draft created.');
                            this.draftId = response.data.id;
                            localStorage.draftId = response.data.id;

                            router.push({ name: 'ShipmentDetails' });
                        }

                    })
                    .catch(error => {
                        console.log(error.response);
                    });
                }


            }


        }
	}
</script>


<style lang="scss" src="../assets/css/service.scss"></style>
