<template>
	<div id="login">
		<div class="col-md-5 left-div">
			<div class="black-overlay"></div>
			<img src="../assets/img/logos.PNG" class="digitalhub-logo" />
			<img src="../assets/img/who-logo.PNG" class="who-logo" />
			<img src="../assets/img/drake-logo.PNG" class="drake-logo" />
		</div>
		<div class="col-md-7 right-div">
			<h2>Create your account</h2>
			<br>
			<div class="row">
				<div class="col-md-6">
					<label>Full Name</label>
					<label class="name-warning" v-show="nameWarning">This filed is required</label>
					<br>
					<input type="text" name="fullName" v-model="fullName" :class="{ warningDiv : warningClass}" @focus="warningClass = false">
					<br>
				</div>
				<div class="col-md-6">
					<label>Choose Unit</label><br>
					<select v-model="currentBranch" @change="branchChange">
					  <option  v-for="branch in companyBranches" :value="branch.id" >{{ branch.branch_id }}</option>
					</select>
					<br>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-6">
					<label>Your Email Address</label>
					<label class="email-warning" v-show="emailWarning">Not a valid email Id</label>
					<br>
					<input type="email" name="email" v-model="email">
					<br>
				</div>
				<div class="col-md-6">
					<label>Enter Password</label>
					<label class="pass-warning" v-show="passWarning">This filed is required</label>
					<br>
					<input type="password" name="password" v-model="password" @focus="passWarning = false">
					<br>
				</div>
				<!-- <div class="col-md-6">
					<label>Choose Department</label><br>
					<select v-model="currentDepartment" >
					  <option v-for="department in departments" :value="department.id" >{{ department.name }}</option>
					</select>
					<br>
				</div> -->
			</div>
			<br>
			<div class="row">
				<div class="col-md-6">
					<br>
			 		<label>Confirm Password</label>
			 		<label class="pass-confirm-warning" v-show="passConfirmWarning">Password mismatch</label>
			 		<br>
					<input type="password" name="confirmPassword" v-model="confirmPassword">
					<br>
				</div>
				<div class="col-md-6">
					<label class="container">
					  <input type="checkbox" checked="checked">
					  <span class="checkmark"></span>Remember me
					</label>
					<br>
					<br>
					<button class="signin-btn":class= "{disableSignup: dataValid }" @click="createUser">CREATE NEW ACCOUNT</button>
					<img class="loader" src="../assets/img/preloader.svg" v-show="preloader">
					<br>
					<br>
					<span class="help-link">Already have an account? 
						<router-link to="/" exact> SIGN IN</router-link>
					</span>
				</div>
			</div>
			<br>
			<hr>
			<br>
			<div class="pp-txt">
				<span class="help-link">By clicking Sign Up you agree to the <router-link to="/terms-and-conditions"> Terms and Privacy Policy</router-link></span>
			</div>
		</div>
	</div>	
</template>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
	import router from '../router';
	const emailPattern = /^\w+\.?\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/;

	export default {
        name: 'signup',
        data() {
        	return {
        		fullName: '',
        		email: '',
        		password: '',
        		confirmPassword: '',
        		setPassword: '',
        		departments: [],
        		companyBranches: [],
        		currentBranch: '',
        		currentDepartment: '',
        		companyId:'',
        		nameWarning: false,
        		emailWarning: false,
        		passWarning: false,
        		passConfirmWarning: false,
        		dataValid: false,
        		warningClass: false,
        		preloader: false

        	}

        },
        watch: {
        	fullName: function(newValue, oldValue) {
        		this.nameWarning = (this.fullName == '') ? true : false;
        	},
        	email: function(newValue, oldValue) {
        		this.emailWarning = this.email.match(emailPattern) ? false : true;
        		
        	},
        	confirmPassword: function(newValue, oldValue) {
        		if (this.password === this.confirmPassword){
        			this.setPassword = this.password;
        			this.passConfirmWarning = false;
        		}
        		else{
        			this.setPassword = '';
        			this.passConfirmWarning = true;
        		}
        	}
        },
        mounted: function(){
        	this.fetchDetails();
        },
        methods: {
        	createUser() {
        		const user = {
        			name: this.fullName,
					email: this.email,
					password: this.setPassword ? this.setPassword : '',
					company_id: this.companyId,
					branch_id: this.currentBranch,
					// department_id: this.currentDepartment
				};
				console.log(user);
				if(!this.fullName) {
					 this.warningClass =true;
				}
				if(!this.password) {
					this.passWarning = true;
				}
				this.preloader = true;
        		//api call 
        		this.axios.post('user',user)
        		.then((response) => { 
        			if(response.data.status == 'ok') {
        				this.preloader = false;
        				this.$toasted.show("Successfully Registered.Please verify your email", { 
							 theme: "primary", 
							 position: "bottom-right", 
							 type: 'success',
							 duration: 2000,
							 iconPack : 'material',
							 icon : {
					            name : 'check'
					         }
						});
	        			setTimeout(() => {
	        				this.preloader = false;
	        				router.push({ name: 'login' });
	        			}, 3000);
        			}	
        		 })											
        		.catch((error) => { 
        			console.log(error.response);
        			this.preloader = false;
        			this.$toasted.show(error.response.data.msg.errors[0], { 
						 theme: "primary", 
						 position: "bottom-right", 
						 type: 'error',
						 duration: 2000,
						 iconPack : 'material',
						 icon : {
				            name : 'close'
				         }
					});

        		});  
        	},

        	fetchDetails() {
        		this.axios.get('fetch/company').
        		then((response) => {
        			console.log(response.data.company[0].branches);
        			localStorage.companyDetails= JSON.stringify(response.data.company); 
        			localStorage.branches = response.data.company[0].branches[0].name;
        			this.companyId = response.data.company[0].id;
        			this.companyBranches = response.data.company[0].branches;			
        		}).
        		catch((error) => {
        			console.log(error);
        		})
        	},
        	branchChange(event) {
        		console.log(event.target.value);
        		let branch = this.companyBranches.find(branch => {return branch.id === event.target.value});

        		this.departments = branch.departments;
        	}
        	
        }
    } 
</script>

<style lang="scss" scoped>
input:focus{
	
	outline: none;
}
.warningDiv {
	border-color: red !important;
}
/* The container */
.container {
    display: block;
    position: absolute;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    width: 50%;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1.5px solid rgba(0,0,0,0.8); 
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    border: 1.5px solid rgba(0,0,0,0.8);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 3px;
    top: 0px;
    width: 5px;
    height: 9px;
    border: solid rgba(0,0,0,0.8);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



#login{
	font-family: 'Roboto Condensed', sans-serif;
	.name-warning, .email-warning, .pass-warning, .pass-confirm-warning {
		color: red;
		float: right;
		margin-right: 20%;
	}
	.left-div{
		background-color: white;
		height: 100vh;
		padding: 0px;
		box-sizing: border-box;
		background-image: url('../assets/img/traffic.PNG');
		background-position: 50% 80%;
		background-repeat: no-repeat;
		.black-overlay{
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.9);
			position: absolute;
		}
		.digitalhub-logo{
			margin-left: auto;
			margin-right: auto;
			position: relative;
			top: 45%;
			display: block;
		}
		.who-logo{
			margin-left: auto;
			margin-right: auto;
			position: relative;
			top: 10%;
			width: 50%;
			display: block;
		}
		.drake-logo{
			margin-left: auto;
			margin-right: auto;
			position: relative;
			width: 30%;
			display: block;
			top: 65%;
		}
	}
	.right-div{
		padding-top: 5%;
		padding-left: 5%;
		.loader {
			display: block;
		    position: absolute;
		    left: 27%;
		    top: 18%;
		    width: 100px;
		}
		.option-box{
			width: 50%;
			font-size: 15px;
			margin-top: 2%;
			color: grey;
			a{float: right}
			input[type="checkbox"]{
				position: relative;
				margin-right: 2%;
				top: 2px;
			}
		}
		.container{
			padding-left: 6%;

		}
		.signin-btn{
			background-color: #ffd10a;
			width: 80%;
			outline: none;
			margin-top: 3%;
			border: none;
			padding: 3% 0% 3% 0%;
			font-weight: 600;
		}
		.signin-btn:hover{
			background-color: #f9cc0a;
		}
		.line{
			border-bottom: 1px solid rgba(0,0,0,0.1);
			width: 50%;
			height: 20px;
			background-color: transparent;
		}
		.help-box{
			margin-top: 2%;
			width: 50%;
			font-size: 15px;
			.help-link{
				float: left;
				color: grey;
			}
			.signup-link{
				float: right;
				color: grey;
			}
			
		}
 		a{color: rgba(0,0,0,0.7);font-weight: bold;cursor: pointer;}
 		a:hover{color: #ffd10a;}
	}
	input[type="text"],input[type="password"],input[type="email"]{
		width: 80%;
		height: 40px;
		padding: 2% 5% 2% 2%;
		border: 1px solid rgba(0,0,0,0.1);
	}
	select{
		width: 80%;
		height:40px;
		background: #fff;
		padding: 2% 5% 2% 5%;
		outline: none;
		border: 1px solid rgba(0,0,0,0.1);
		option{
			padding: 5%;
		}
	}
	label{
   		font-weight: normal;
		color: rgba(0,0,0,0.9);
	}

}	
.pp-txt{
	text-align: center;
	color: grey;
}
</style>

