<template>
<section class="mode-of-dispatch">
  <h2>User Management</h2>
  <hr>

  <div class="tab-div">
      <div class="tab-head">
            <button class="update" :class="{'active-tab':update_details}" @click="updateDetails">Add</button>
            <button class="view" :class="{'active-tab':view_details}"  @click="viewDetails">View</button>
      </div>
      <div class="tab-content-div">
        <div class="update-box" :class="{'hide-content': hide_update}">
          <div class="tab-row">
              <label for="hub-admin">Hub Admin</label> 
              <input type="radio" value="1" v-model="user.is_admin" id="hub-admin" name="is-hub-admin" class="radio-btn" >
              <label for="user">User</label> 
              <input type="radio" v-model="user.is_admin" value="0" id="user" name="is-hub-admin" class="radio-btn">
           </div>
            <div class="tab-row">
              <div class="tab-col">
                  <label>Name <span class="mandatory">*</span></label><br>
                  <input type="text" v-model="user.name">
              </div>
              <div class="tab-col">
                  <label>Email <span class="mandatory">*</span></label><br>
                  <input type="text" v-model="user.email">
              </div>
           </div>
           <div class="tab-row">
               <div class="tab-col">
                  <label>Password <span class="mandatory">*</span></label><br>
                  <input type="text" v-model="user.password">
              </div>
               <div class="tab-col">
                  <label>Branch Name <span class="mandatory">*</span></label><br>
                  <select v-model="user.branch_id" @change="fetchBranch">
                    <option v-for="(data,i) in branches" :key="'branch_'+i" :value="data.id">
                      {{data.name}}
                    </option>
                  </select>
              </div>
           </div>
           <div class="tab-row">
               <div class="tab-col">
                  <label>Address Line 1 <span class="mandatory">*</span></label><br>
                  <input type="text" v-model="branch.address_1" disabled>
              </div>
               <div class="tab-col">
                  <label>Address Line 2 <span class="mandatory">*</span></label><br>
                  <input type="text" v-model="branch.address_2" disabled>
              </div>
           </div>
           <div class="tab-row">
               <div class="tab-col">
                  <label>City <span class="mandatory">*</span></label><br>
                  <input type="text" v-model="branch.city" disabled>
              </div>
               <div class="tab-col">
                  <label>State <span class="mandatory">*</span></label><br>
                  <input type="text" v-model="branch.state" disabled>
              </div>
           </div>
           <div class="tab-row">
               <div class="tab-col">
                  <label>Suburb <span class="mandatory">*</span></label><br>
                  <input type="text" v-model="branch.suburb" disabled>
              </div>
               <div class="tab-col">
                  <label>Postal Code <span class="mandatory">*</span></label><br>
                  <input type="text" v-model="branch.postal_code" disabled>
              </div>
           </div>
            <div class="tab-row">
                <div class="tab-col">
                  <label>Country <span class="mandatory">*</span></label><br>
                  <input type="text" v-model="branch.country" disabled>
              </div>
              <div class="tab-col">
                  <label>Phone <span class="mandatory">*</span></label><br>
                  <input type="text" v-model="branch.phone" disabled>
              </div>
            </div>
            <button class="save-btn" @click="createUser">Save</button>
        </div>
        <div class="view-box" :class="{'hide-content': hide_view}">
            <table style="width: 100%;" class="table table-striped">
              <tr class="table-head">
                <th>NAME</th>	
                <th>EMAIL</th>	
                <th>BRANCH</th>	
                <!--<th>HUB	</th>-->
                <th>USER TYPE</th>	
                <th>ACTIONS</th>
              </tr>
              <tr v-for="(data,i) in users" :key="'user'+i">
                <td><input v-model="data.name" :disabled="!data.is_editable"></td>
                <td><input v-model="data.email" :disabled="!data.is_editable"></td>
                <td>
                  <select v-model="data.branch.id" :disabled="!data.is_editable">
                    <option v-for="(element,i) in branches" :key="'branch_user_'+i" :value="element.id">
                      {{element.name}}
                    </option>
                  </select>
                </td>
                <!--<td><input v-model="data.division.name" disabled></td>-->
                <td>
                  <p class="font-weight-bold">Hub Admin
                    <input type="radio" value="1" v-model="data.is_admin" :id="'hub-admin'+i" :name="'is-hub-admin'+i" class="radio-btn float-right" :disabled="!data.is_editable">
                  </p> 
                  <p class="font-weight-bold">
                    User
                    <input type="radio" v-model="data.is_admin" value="0" :id="'user'+i" :name="'is-hub-admin'+i" class="radio-btn float-right" :disabled="!data.is_editable">
                  </p>
                </td>
                <td>
                   <button class="action-btn" @click="data.is_editable = true" v-if="!data.is_editable">Edit</button> 
                   <button class="action-btn" @click="updateUser(data.id,i)" v-if="data.is_editable">Update</button>
                   <button class="action-btn" @click="deleteUser(data.id)">Delete</button>
                </td>
              </tr>
            </table>
        </div>    
      </div>  
  </div>
</section>
</template>

<script>

    export default {
        name: 'userManagement',
        created(){
          this.fetchBranches();
        },
        data() {
            return {
                isDisabled : false,
                update_details: true,
                hide_view: true,
                hide_update: false,
                view_details: false,
                pageDepth: ['User Management'],
                branches:[],
                user:{
                  name:"",
                  email:"",
                  password:"",
                  branch_id:"",
                  is_admin:""
                },
                branch:{
                  address_1:"",
                  address_2:"",
                  city:"",
                  state:"",
                  suburb:"",
                  postal_code:"",
                  country:""
                },
                users:[]
            }
        },  
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.$root.$emit('pageHierarchy', vm.pageDepth);
            });
        },
        methods:{
            updateDetails(){
                this.update_details = true;
                this.hide_view = true;
                this.hide_update = false;
                this.view_details = false;
                this.fetchBranches();
                this.resetFields();
            },
            viewDetails(){
                this.update_details = false;
                this.hide_view = false;
                this.hide_update = true;
                this.view_details = true;
                this.fetchAllUsers();
                this.fetchBranches();
            },
            fetchBranches(){
              this.axios.get("branch")
                  .then(response => {
                    this.branches = response.data.branches;
                    console.log(response.data.branches);
                  })
                  .catch(error => {
                    console.log(error);
                  });
            },
            fetchBranch(){
              this.axios.get("branch/"+this.user.branch_id)
                        .then(response => {
                          this.branch = response.data.branch;
                        })
                        .catch(error => {
                          console.log(error);
                        });
            },
            createUser(){
              this.axios.post("user",this.user)
                        .then(response => {
                          this.$toasted.show(response.data.msg, { 
                              theme: "primary", 
                              position: "bottom-right", 
                              type: 'error',
                              duration: 2000,
                              iconPack : 'material',
                              icon : {
                                  name : 'check'
                              }
                          });
                          this.resetFields();
                          this.viewDetails();
                        })
                        .catch(error => {
                          this.$toasted.show("Please fill all required data", { 
                              theme: "primary", 
                              position: "bottom-right", 
                              type: 'error',
                              duration: 2000,
                              iconPack : 'material',
                              icon : {
                                  name : 'close'
                              }
                          });
                        })
            },
            resetFields(){
              Object.keys(this.user).map(element => {
                  this.user[element] = "";
                });
                Object.keys(this.branch).map(element => {
                  this.branch[element] = "";
                });
            },
            fetchAllUsers(){
              this.axios.get("user/all")
                        .then(response => {
                          this.users = response.data.users.map(element => {
                            element.is_editable = false;
                            return element;
                          });
                        })
                        .catch(error => {
                          console.log(error);
                        });
            },
            updateUser(id,index){
              this.axios.put("user/"+id,{
                name:this.users[index].name,
                email:this.users[index].email,
                branch_id:this.users[index].branch.id,
                is_admin: this.users[index].is_admin
              }).then(response => {
                this.fetchAllUsers();
                this.$toasted.show(response.data.msg, { 
                              theme: "primary", 
                              position: "bottom-right", 
                              type: 'error',
                              duration: 2000,
                              iconPack : 'material',
                              icon : {
                                  name : 'check'
                              }
                            });
              }).catch(error => {
                this.$toasted.show("Some error occured", { 
                              theme: "primary", 
                              position: "bottom-right", 
                              type: 'error',
                              duration: 2000,
                              iconPack : 'material',
                              icon : {
                                  name : 'close'
                              }
                          });
              });
            },
            deleteUser(id){
              let confirmation = confirm("Are you sure you want to delete this user?");
              if(confirmation){
                this.axios.delete("user/"+id)
                          .then(response =>{
                            this.fetchAllUsers();
                          })
                          .catch(error => {
                            console.log(error);
                          });
              }
            }
        }
    }    
</script>

<style scoped>
/*table styles*/
.small-col{
  width: 15%;
}
.logo-preview {
  float: left;
}
.small-col input[type="checkbox"]{
  width: 20px !important;
}
.displayBtn {
  display: block !important;
}
table th, td{
  padding-left: 2%;
  width: 10%;
  background-color: whitesmoke;
}

table td{
  padding-bottom: 3%;
}
table .table-head{
  background-color: #323232;
  color: white;
  border-top: 3px solid #ffd20a;
}
table th{
   border-bottom: 1px solid rgba(0,0,0,0.1);
   padding: 3% 0% 3% 2%;
   background-color: #323232;
}
table td{
  padding-top: 2%;
}
td input{
  width: 100% !important;
  outline: none;
}
td input:disabled, select:disabled, textarea:disabled {
    background-color: #ececec;
}
.logo-preview{
  /*background-color: red;*/
  width: 100px;
  height: 50px;
  position: relative;

}
.logo-preview img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/*table styles end*/
.edit-btn, .cancel-btn{
  background-color: #ffd20a;
  border: none;
  outline: none;
  color: black;
  width: 60px;
  float: right;
  margin-bottom: 10px;
  margin-right: 8%;
  height: 30px;
  border-radius: 3px;
}
.edit-btn:hover, .cancel-btn:hover {
  background-color: #feb901;
}
.cancel-btn {
  display: none;
  margin-top: 5%;
}
.upload-col{
  position: relative;
}
.img-preview-div{
  background-color: whitesmoke;
  height: 100px;
  width: 200px;
  right: 10%;
  top: 0px; 
  position: absolute;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 2%;
  background-color: white;
}
.img-preview-div img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.edit-logo {
  height: 30px !important;
  width: 90px !important;
  font-size: 11px !important;
  margin-left: 5%;
  margin-top: 5%;
}
.upload-btn{
  border: none;
  outline: none;
  background-color: #ffd10a;
  border-radius: 3px;
  color: black;
  height: 40px;
  font-size: 17px;
  padding-left: 8%;
  padding-right: 8%;
}
.upload-btn:hover{
  background-color: #feb901;
}
.chips{
  color: white;
  margin-top: 3%;
  padding: 0.5% 1% 0.5% 1% !important;
  border-radius: 5px;
  margin-right: 1%;
}
.danger-chips{
    background-color: #ff580a;
}
.green-chips{
  background-color: #00d400;
}
.update-box{
  background-color: whitesmoke;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 5%;
  border-top: 3px solid #ffd20a;
}
select {
    height: 40px;
    width: 90%;
    background-color: #fff;
    outline: none;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.1);
    padding-left: 2%;
}
.view-box{
  border: 1px solid rgba(0,0,0,0.1);
  border-top: 0px;
  box-shadow: 2px 3px 8px rgba(0,0,0,0.1);
}
.view-box span{
    padding-left: 5%;
}
.view-box label{
  width: 20%;
}
.hide-content{
    display: none;
}
input[type="checkbox"]
{
    vertical-align:middle;
    margin-right: 10%;
    margin-top: 2px;
}
.view-box textarea{
  width: 250px  !important;
  resize: none;
  height: 
  70px !important;
}
.checkbox-row{
  display: flex;
  width:  100%;
  margin-bottom: 3%;

}
.first-col, .second-col, .third-col{
  width: 200px;
}

.checkbox-label{
  width: 120px;
}
.mode-of-dispatch{
  padding-left: 5%;
  padding-top: 10%;
  padding-bottom: 15%;
  height: 100%;
}

.tab-head{
    width: 90%;
    display: flex;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
}
.tab-head button{
    border: none;
    outline: none;
    padding-top: 1%;
    font-size: 20px;
    padding-bottom: 1%;
    background-color: whitesmoke;
    border:1px solid rgba(0,0,0,0.2);
    border-bottom: 0px;

   
}
.tab-head button:hover{
    background-color: #F5F5F5;
}

.active-tab{
    background-color: #323232 !important;
    color: white;
}
.tab-head .update{    
    flex: 45%;
    margin-right: 5%;
}
.tab-head .view{
    flex: 45%;
}
.tab-head button{
    width: 50%;
    margin: 0px;
}
.tab-content-div{
    background-color: white;
    padding: 0% 5% 5% 0%;
    width: 95%;
}
.tab-content-div .save-btn{
  background-color: #ffd10a;
  border: none;
  outline: none;
  height: 40px;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 3px;
  font-size: 18px; 
}
.save-btn:hover{
    background-color: #feb901;
}
.mode-of-dispatch h2{
  margin-bottom: 2%;
}
.mode-of-dispatch input, .dispatch-option, .description-box, textarea{
  height: 40px;
  resize: none;
  outline: none;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);
  padding-left: 2%;
}
.dispatch-option, .description-box{
   width: 90%;
}
.description-box{
  height: 80%;
}
.tab-row{
  display: flex;
  margin-bottom: 5%;
}
.tab-col{
  flex: 50%;
}
.tab-col-4{
  flex: 25%;
}

.tab-col-4 input[type="text"]{
  width: 80%;
}
.tab-col input[type="text"]{
  width: 90%;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  outline: none;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 3px; 
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #ffd10a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 6px;
    height: 13px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.p-0{
    padding:0 !important;
}

.mandatory{
  color:red !important;
}

.radio-btn{
  width: 20px !important;
  height: 20px !important;
  margin:0 20px !important;
}

.action-btn {
  background-color: #ffd20a;
  border: none;
  outline: none;
  padding:7px 10px;
  border-radius:15%;
  margin-right:10px;
  margin-bottom:5px;
}
.font-weight-bold{
  font-weight:bold;
}

.float-right{
  float:right;
}
</style>