<template>
<section class="cost-center">
  <h2>Cost Centers</h2>
  <hr>
  <div class="tab-div">
      <div class="tab-head">
            <button class="update" :class="{'active-tab':update_details}" @click="updateDetails">Add</button>
            <button class="view" :class="{'active-tab':view_details}"  @click="viewDetails">View</button>
      </div>
      <div class="tab-content-div">
        <div class="update-box" :class="{'hide-content': hide_update}">
           <div class="row">
             <div class="col-md-6">
                <label>Center Name</label>
                <br>
                <input type="text" name="" v-model= "costCenterName">
             </div>
             <div class="col-md-6">
               <label>Center Code</label>
                <br>
                <input type="text" name="" v-model= "costCenterCode">
             </div> 
           </div>
           <br>
            <button class="save-btn" @click ="saveCostCenter">Save</button>
            <br>
        </div>
        <div class="view-box" :class="{'hide-content': hide_view}">
            <table style="width: 100%;">
              <tr class="table-head">
                <th>Cost center Name</th>
                <th>Cost center Code</th>
                <th>&nbsp&nbsp</th>
              </tr>
              <tr v-for= "item in costCenterList">
                 <td><input type="text" 
                      :value = "item.name" 
                      :disabled = true
                      :ref = "'name_' + item.id"
                      ></td>
                 <td><input type="text" 
                      :value ="item.code" 
                      :disabled = true
                      :ref = "'code_' + item.id">
                 </td>
                 <td>
                    <button class="edit-btn" @click= "UpdateCostCenter(item.id)" :ref = "'edit_' + item.id">Edit</button>
                    <button class="cancel-btn" @click = "cancelChange(item.id)" :ref = "'cancel_' + item.id">Cancel</button>
                    <button class="edit-btn" @click= "DeleteCostCenter(item.id)" :ref = "'delete_' + item.id">Delete</button>
                  </td>
              </tr>
            </table>
        </div>
           
      </div>  
  </div>
  
</section>
</template>

<script>
    export default {
        name: 'cost-center',
        data() {
            return {
                update_details: true,
                hide_view: true,
                hide_update: false,
                view_details: false,
                costCenterName: null,
                costCenterCode: null,
                costCenterList: [],
                pageDepth: ['Master Data', 'Cost centers']
            }
        },
        methods: {
            updateDetails(){
                this.costCenterName = '';
                this.costCenterCode = '';
                this.update_details = true;
                this.view_details = false;
                this.hide_update = false;
                this.hide_view = true; 
            },
            viewDetails(){
                this.view_details = true;
                this.update_details = false;
                this.hide_update = true;
                this.hide_view = false; 

                this.axios.get('cost')
                .then((response) => {
                  console.log('response:', response);
                  if(response.status == 200) {
                    this.costCenterList = response.data.cost_centers;
                  }
                })
                .catch((error) => {
                  console.log('error:', error.response);
                });
            },
            saveCostCenter() {
                let data = {
                  name: this.costCenterName,
                  code: this.costCenterCode
                }
                if(this.costCenterName && this.costCenterCode) {
                  this.axios.post('cost', data)
                  .then((response) => {
                    console.log('response:', response);
                    if(response.status == 200) {
                      this.$toasted.show(response.data.msg, { 
                         theme: "primary", 
                         position: "bottom-right", 
                         type: 'success',
                         duration: 2000,
                         iconPack : 'material',
                         icon : {
                            name : 'check'
                         }
                      });

                      this.viewDetails();
                    }
                  })
                  .catch((error) => {
                    console.log('error:', error.response);
                    this.$toasted.show("error", { 
                         theme: "primary", 
                         position: "bottom-right", 
                         type: 'error',
                         duration: 2000,
                         iconPack : 'material',
                         icon : {
                            name : 'close'
                         }
                    });
                  });
                }
                else {
                  this.$toasted.show("Please fill All details", { 
                       theme: "primary", 
                       position: "bottom-right", 
                       type: 'error',
                       duration: 2000,
                       iconPack : 'material',
                       icon : {
                          name : 'close'
                       }
                  });
                }
            },
            UpdateCostCenter(id) {
              if(event.target.innerHTML == 'Update') {
                let data = {
                  name: this.$refs['name_' + id][0].value,
                  code: this.$refs['code_' + id][0].value
                }
                console.log('data', data);
                if(data.name && data.code) {
                    this.axios.put('cost/'+ id, data)
                    .then(response => {
                      console.log('response', response);
                      if(response.status == 200) {
                        this.$toasted.show(response.data.msg, { 
                           theme: "primary", 
                           position: "bottom-right", 
                           type: 'success',
                           duration: 2000,
                           iconPack : 'material',
                           icon : {
                                  name : 'check'
                               }
                        });

                        this.$refs['cancel_' + id][0].classList.remove('displayBtn');
                        this.$refs['edit_' + id][0].innerHTML = 'Edit';
                        this.$refs['name_' + id][0].disabled = true;
                        this.$refs['code_' + id][0].disabled = true;
                    }
                    else {
                        this.$toasted.show(response.data.msg, { 
                           theme: "primary", 
                           position: "bottom-right", 
                           type: 'error',
                           duration: 2000,
                           iconPack : 'material',
                           icon : {
                                  name : 'close'
                               }
                        });
                    }
                  })
                  .catch(error => {
                    console.log('error', error.response);
                    this.$toasted.show(error.response.data.msg.errors[0], { 
                       theme: "primary", 
                       position: "bottom-right", 
                       type: 'error',
                       duration: 2000,
                       iconPack : 'material',
                       icon : {
                              name : 'close'
                           }
                    });
                  });
                }
                else{
                  this.$toasted.show('Fields can not be empty', { 
                     theme: "primary", 
                     position: "bottom-right", 
                     type: 'error',
                     duration: 2000,
                     iconPack : 'material',
                     icon : {
                            name : 'close'
                         }
                  });
                }

              }
              else {
                event.target.innerHTML = "Update";
                console.log(id);
                this.$refs['cancel_' + id][0].classList.add('displayBtn');
                this.$refs['name_' + id][0].disabled = false;
                this.$refs['code_' + id][0].disabled = false;
              }

            },
            cancelChange(id) {
              event.target.classList.remove('displayBtn');
              this.$refs['edit_' + id][0].innerHTML = 'Edit';
              this.$refs['name_' + id][0].disabled = true;
              this.$refs['code_' + id][0].disabled = true;
            },
            DeleteCostCenter(id) {
              if(confirm('Are you sure to delete this cost center ?')) {
                this.axios.delete(`cost/${id}`)
                .then(response => {
                  console.log('response', response);
                  if(response.data.status == "ok") {
                    this.removeCostCenter(id);
                    this.$toasted.show(response.data.msg, { 
                       theme: "primary", 
                       position: "bottom-right", 
                       type: 'success',
                       duration: 2000,
                       iconPack : 'material',
                       icon : {
                              name : 'check'
                           }
                    });
                  }
                })
              .catch(error => {
                console.log('error', error.response);
              })
              }
            },
            removeCostCenter(id) {
                let index = this.costCenterList.findIndex(costCenter => costCenter.id === id);
                this.costCenterList.splice(index, 1);
            },
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.$root.$emit('pageHierarchy', vm.pageDepth);
            });
        }

    }    
</script>

<style scoped>
/*table styles*/
.small-col{
  width: 5%;
}
.displayBtn {
  display: block !important;
}
.cancel-btn {
  display: none;
}
.small-col input[type="checkbox"]{
  width: 20px !important;
}
table th, td{
  padding-left: 2%;
  width: 10%;
  background-color: whitesmoke;
}

table td{
  padding-bottom: 3%;
}
table .table-head{
  background-color: #323232;
  color: white;
  border-top: 3px solid #ffd20a;
}
table th{
   border-bottom: 1px solid rgba(0,0,0,0.1);
   padding: 3% 0% 3% 2%;
   background-color: #323232;
}
table td{
  padding-top: 2%;
}
td input{
  width: 100% !important;
}
input:disabled {
  background-color: #ececec;
}

/*table styles end*/
.edit-btn, .cancel-btn{
  background-color: #ffd20a;
  border: none;
  outline: none;
  color: black;
  width: 60px;
  float: right;
  margin-right: 8%;
  height: 30px;
  border-radius: 3px;
}
.edit-btn:hover, .cancel-btn:hover{
  background-color: #feb901;
}
.view-box span{
    padding-left: 5%;
}
.hide-content{
    display: none;
}
.cost-center{
  padding-left: 5%;
  padding-top: 10%;
  height: 100%;
}
.update-box{
  background-color: whitesmoke;
  border: 1px solid rgba(0,0,0,0.1);

  padding: 5%;
  border-top: 3px solid #ffd20a;
}
.view-box{
  border: 1px solid rgba(0,0,0,0.1);
  border-top: 0px;
  box-shadow: 2px 3px 8px rgba(0,0,0,0.1);
}


.tab-head{
    width: 90%;
    display: flex;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
}
.tab-head button{
    border: none;
    outline: none;
    padding-top: 1%;
    font-size: 20px;
    padding-bottom: 1%;
    background-color: whitesmoke;
    border:1px solid rgba(0,0,0,0.2);
    border-bottom: 0px;

   
}
.tab-head button:hover{
    background-color: #F5F5F5;
}

.active-tab{
    background-color: #323232 !important;
    color: white;
}
.tab-head .update{    
    flex: 45%;
    margin-right: 5%;
}
.tab-head .view{
    flex: 45%;
}
.tab-head button{
    width: 50%;
    margin: 0px;
}
.tab-content-div{
    background-color: white;
    padding: 0% 5% 5% 0%;
    width: 95%;
}
.tab-content-div .save-btn{
  background-color: #ffd10a;
  border: none;
  height: 40px;
  position: absolute;
 /* right: 8%;
*/  padding-left: 3%;
  padding-right: 3%;
  border-radius: 3px;
  font-size: 18px; 
}
.save-btn:hover{
    background-color: #feb901;
}
.cost-center h2{
  margin-bottom: 2%;
}
.cost-center input{
  width: 80%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);
  padding-left: 2%;
}
</style>