<template>
<section class="mode-of-dispatch">
  <h2>Mode of Dispatch</h2>
  <hr>
  <div class="tab-div">
      <div class="tab-head">
            <button class="update" :class="{'active-tab':update_details}" @click="updateDetails">Add</button>
            <button class="view" :class="{'active-tab':view_details}"  @click="viewDetails">View</button>
      </div>
      <div class="tab-content-div">
        <div class="update-box" :class="{'hide-content': hide_update}">
            <label>Name</label><br>
            <input type="text" name="" v-model= "dispatchName">
            <br>
            <br>
            <button class="save-btn" @click= "saveDispatch">Save</button>
        </div>
        <div class="view-box" :class="{'hide-content': hide_view}">
            <table style="width: 100%;">
              <tr class="table-head">
                <th>Name</th>
                <th>&nbsp&nbsp</th>
              </tr>
              <!-- @blur = "focusOut(item.id)" -->
              <tr v-for="item in modeOfDispatchList">
                 <td><input type="text" 
                      :id = "item.id" 
                      :value="item.name"          
                      :disabled = true
                      :ref = "'input_' + item.id"
                      >
                  </td>
                 <td>
                    <button class="edit-btn" @click = "UpdateModeOfDispatch(item.id)" :ref="'edit_' + item.id">Edit</button>
                    <button class="cancel-btn" @click = "cancelChange(item.id)" :ref="'cancel_' + item.id">Cancel</button>
                    <button class="edit-btn" @click = "deleteModeOfDispatch(item.id)" :ref="'delete_' + item.id">Delete</button>
                 </td>
              </tr>
            </table>
        </div>
           
      </div>  
  </div>
  
</section>
</template>

<script>
    export default {
        name: 'mode-of-dispatch',
        data() {
            return {
                dispatchName: '',
                update_details: true,
                hide_view: true,
                hide_update: false,
                view_details: false,
                showCancel: false,
                modeOfDispatchList: [],
                pageDepth: ['Master Data', 'Mode of Dispatch']

            }
        },
        methods: {
            updateDetails(){
                this.dispatchName = '';
                this.update_details = true;
                this.view_details = false;
                this.hide_update = false;
                this.hide_view = true; 
            },
            viewDetails(){
                this.view_details = true;
                this.update_details = false;
                this.hide_update = true;
                this.hide_view = false;

                this.axios.get('dispatch')
                .then((response) => {
                  console.log('response:', response);
                  if(response.status == 200) {
                    this.modeOfDispatchList = response.data.mode_of_dispatch;

                  }
                })
                .catch((error) => {
                  console.log('error:', error.response);
                });

            },
            saveDispatch() {

              let data = {
                name: this.dispatchName
              }
              if(data.name != '') {
                this.axios.post('dispatch', data)
                .then((response) => {
                  console.log('response:', response);
                  if(response.status == 200) {
                    this.$toasted.show(response.data.msg, { 
                       theme: "primary", 
                       position: "bottom-right", 
                       type: 'success',
                       duration: 2000,
                       iconPack : 'material',
                       icon : {
                          name : 'check'
                       }
                    });
                    this.viewDetails();
                  }
                })
                .catch((error) => {
                  console.log('error:', error.response);
                  this.$toasted.show("error", { 
                       theme: "primary", 
                       position: "bottom-right", 
                       type: 'error',
                       duration: 2000,
                       iconPack : 'material',
                       icon : {
                          name : 'close'
                       }
                  });
                });
              }
              else {
                this.$toasted.show("Please fill the name", { 
                     theme: "primary", 
                     position: "bottom-right", 
                     type: 'error',
                     duration: 2000,
                     iconPack : 'material',
                     icon : {
                        name : 'close'
                     }
                });
              }
            },
            UpdateModeOfDispatch(id) {
              if(event.target.innerHTML == 'Update') {
                let data = {
                  name: this.$refs['input_' + id][0].value
                }
                if(data.name) {
                    this.axios.put('dispatch/'+ id, data)
                    .then(response => {
                      console.log('response', response);
                      if(response.status == 200) {
                        this.$toasted.show(response.data.msg, { 
                           theme: "primary", 
                           position: "bottom-right", 
                           type: 'success',
                           duration: 2000,
                           iconPack : 'material',
                           icon : {
                                  name : 'check'
                               }
                        });

                        this.$refs['cancel_' + id][0].classList.remove('displayBtn');
                        this.$refs['edit_' + id][0].innerHTML = 'Edit';
                        this.$refs['input_' + id][0].disabled = true;
                    }
                    else {
                        this.$toasted.show(response.data.msg, { 
                           theme: "primary", 
                           position: "bottom-right", 
                           type: 'error',
                           duration: 2000,
                           iconPack : 'material',
                           icon : {
                                  name : 'close'
                               }
                        });
                    }
                  })
                  .catch(error => {
                    console.log('error', error.response);
                    this.$toasted.show(error.response.data.msg.errors[0], { 
                       theme: "primary", 
                       position: "bottom-right", 
                       type: 'error',
                       duration: 2000,
                       iconPack : 'material',
                       icon : {
                              name : 'close'
                           }
                    });
                  });
                }
                else{
                  this.$toasted.show('Name field can not be empty', { 
                     theme: "primary", 
                     position: "bottom-right", 
                     type: 'error',
                     duration: 2000,
                     iconPack : 'material',
                     icon : {
                            name : 'close'
                         }
                  });
                }

              }
              else {
                event.target.innerHTML = "Update";
                console.log(id);
                this.$refs['cancel_' + id][0].classList.add('displayBtn');
                this.$refs['input_' + id][0].disabled = false;
              }
            },
            cancelChange(id) {
              event.target.classList.remove('displayBtn');
              this.$refs['edit_' + id][0].innerHTML = 'Edit';
              this.$refs['input_' + id][0].disabled = true;
            },
            deleteModeOfDispatch(id) {
               if(confirm('Are you sure to delete this mode of dispatch ?')) {
                this.axios.delete(`dispatch/${id}`)
                .then(response => {
                  console.log('response', response);
                  if(response.data.status == "ok") {
                    this.removeModeOfDispatch(id);
                    this.$toasted.show(response.data.msg, { 
                       theme: "primary", 
                       position: "bottom-right", 
                       type: 'success',
                       duration: 2000,
                       iconPack : 'material',
                       icon : {
                              name : 'check'
                           }
                    });
                  }
                })
                .catch(error => {
                  console.log('error', error.response);
                })
               }
            },
            removeModeOfDispatch(id) {
                let index = this.modeOfDispatchList.findIndex(mode => mode.id === id);
                this.modeOfDispatchList.splice(index, 1);
            },
            focusOut(id) {
              document.getElementById(id).disabled = true;
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.$root.$emit('pageHierarchy', vm.pageDepth);
            });
        }
    }    
</script>

<style scoped>
/*table styles*/
table th, td{
  padding-left: 2%;
  width: 10%;
  background-color: whitesmoke;
}
table td{
  padding-bottom: 3%;
}
table .table-head{
  background-color: #323232;
  color: white;
  border-top: 3px solid #ffd20a;
}
table th{
   border-bottom: 1px solid rgba(0,0,0,0.1);
   padding: 3% 0% 3% 2%;
   background-color: #323232;
}
table td{
  padding-top: 2%;
}
td input{
  width: 100% !important;
  outline: none;
}
td input:disabled {
  background-color: #ececec;
}
.displayBtn {
  display: block !important;
}
/*table styles end*/
.edit-btn, .cancel-btn{
  background-color: #ffd20a;
  border: none;
  outline: none;
  color: black;
  width: 60px;
  height: 30px;
  float: right;
  margin-right: 8%;
  border-radius: 3px;
}
.cancel-btn {
  display: none;
}
.edit-btn:hover, .cancel-btn:hover {
  background-color: #feb901;
}
.view-box span{
    padding-left: 5%;
}
.hide-content{
    display: none;
}
.mode-of-dispatch{
  padding-left: 5%;
  padding-top: 10%;
  height: 100%;
}
.update-box{
  background-color: whitesmoke;
  border: 1px solid rgba(0,0,0,0.1);

  padding: 5%;
  border-top: 3px solid #ffd20a;
}
.view-box{
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 2px 3px 8px rgba(0,0,0,0.1);
}

.tab-head{
    width: 90%;
    display: flex;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
}
.tab-head button{
    border: none;
    outline: none;
    padding-top: 1%;
    font-size: 20px;
    padding-bottom: 1%;
    background-color: whitesmoke;
    border:1px solid rgba(0,0,0,0.2);
    border-bottom: 0px;

   
}
.tab-head button:hover{
    background-color: #F5F5F5;
}

.active-tab{
    background-color: #323232 !important;
    color: white;
}
.tab-head .update{    
    flex: 45%;
    margin-right: 5%;
}
.tab-head .view{
    flex: 45%;
}
.tab-head button{
    width: 50%;
    margin: 0px;
}
.tab-content-div{
    background-color: white;
    padding: 0% 5% 5% 0%;
    width: 95%;
}

.tab-content-div .save-btn{
  background-color: #ffd10a;
  border: none;
  height: 40px;
  position: relative;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 3px;
  font-size: 18px; 
}
.save-btn:hover{
    background-color: #feb901;
}
.mode-of-dispatch h2{
  margin-bottom: 2%;
}
.mode-of-dispatch input{
  width: 40%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);
  padding-left: 2%;
}
</style>