<template>
<section class="mode-of-dispatch">
  <h2>PTAEO</h2>
  <hr>
  <div class="tab-div">
      <div class="tab-head">
            <button :class="tabs.add_tab ? 'update bg-dark text-light':'update'" @click="switchTab('add_tab')">Add</button>
            <button :class="tabs.view_tab ? 'update bg-dark text-light':'update'" @click="switchTab('view_tab')">View</button>
      </div>
      <div class="tab-content-div">
        <div class="update-box" v-if="tabs.add_tab">
          <div class="row mb-3">
            <div class="col-xs-2">
              <label>P <span class="text-danger">*</span></label><br>
              <input type="text" v-model="ptaeo.p">
            </div>
            <div class="col-xs-2">
              <label>T <span class="text-danger">*</span></label><br>
              <input type="text" v-model="ptaeo.t">
            </div>
            <div class="col-xs-2">
              <label>A <span class="text-danger">*</span></label><br>
              <input type="text" v-model="ptaeo.a">
            </div>
            <div class="col-xs-2">
              <label>E <span class="text-danger">*</span></label><br>
              <input type="text" v-model="ptaeo.e">
            </div>
            <div class="col-xs-2">
              <label>O <span class="text-danger">*</span></label><br>
              <input type="text" v-model="ptaeo.o">
            </div>
          </div>
          <button class="save-btn" @click="save">Save</button>
        </div>
        <table style="width:100%;" v-if="tabs.view_tab">
          <tr class="table-head">
            <th>P</th>
            <th>T</th>
            <th>A</th>
            <th>E</th>
            <th>O</th>
            <th>&nbsp;</th>
          </tr>
          <tr v-for="(ptaeo,i) in ptaeo_list" :key="'key_'+i">
            <td><input type="text" v-model="ptaeo.p" :disabled="ptaeo.is_disabled"></td>
            <td><input type="text" v-model="ptaeo.t" :disabled="ptaeo.is_disabled"></td>
            <td><input type="text" v-model="ptaeo.a" :disabled="ptaeo.is_disabled"></td>
            <td><input type="text" v-model="ptaeo.e" :disabled="ptaeo.is_disabled"></td>
            <td><input type="text" v-model="ptaeo.o" :disabled="ptaeo.is_disabled"></td>
            <td class="action">
              <button v-if="ptaeo.is_editable" @click="edit(i)">Edit</button>
              <button v-if="ptaeo.is_updatable" @click="cancel(i)">Cancel</button>
              <button v-if="ptaeo.is_updatable" @click="update(i)">Update</button>
              <button @click="deletePtaeo(i)">Delete</button>
            </td>
          </tr>
        </table>
      </div>  
  </div>
  
</section>
</template>

<script>
    export default {
        name: 'Ptaeo',
        data() {
            return {
                ptaeo:{
                  p:"",
                  t:"",
                  a:"",
                  e:"",
                  o:""
                },
                pageDepth: ['Master Data', 'Ptaeo'],
                tabs:{
                  add_tab:true,
                  view_tab:false
                },
                ptaeo_list:[]
            }
        },
        methods: {
            save(){
              this.axios.post('ptaeo', this.ptaeo)
                  .then((response) => {
                    if(response.status == 200) {
                      this.$toasted.show(response.data.msg, { 
                         theme: "primary", 
                         position: "bottom-right", 
                         type: 'success',
                         duration: 2000,
                         iconPack : 'material',
                         icon : {
                            name : 'check'
                         }
                      });
                      Object.keys(this.ptaeo).forEach(element => {
                        this.ptaeo[element] = "";
                      });
                    }
                  })
                  .catch((error) => {
                    this.$toasted.show("Please check your inputs", { 
                         theme: "primary", 
                         position: "bottom-right", 
                         type: 'error',
                         duration: 2000,
                         iconPack : 'material',
                         icon : {
                            name : 'close'
                         }
                    });
                  });
            },
            switchTab(tab){
              Object.keys(this.tabs).forEach(element => {
                this.tabs[element] = false;
              });
              this.tabs[tab] = true;
              if(tab == 'view_tab'){
                this.fetchPtaeo();
              }
            },
            edit(index){
              this.ptaeo_list[index].is_disabled = false;
              this.ptaeo_list[index].is_editable = false;
              this.ptaeo_list[index].is_updatable = true;
            },
            update(index){
              let data = this.ptaeo_list[index];
              this.axios.put("ptaeo/"+data.id,{
                p:data.p,
                t:data.t,
                a:data.a,
                e:data.e,
                o:data.o
              }).then(response => {
                this.$toasted.show(response.data.msg, { 
                   theme: "primary", 
                   position: "bottom-right", 
                   type: 'success',
                   duration: 2000,
                   iconPack : 'material',
                   icon : {
                          name : 'check'
                       }
                });
                this.cancel(index);
              });
            },
            deletePtaeo(index){
              let confirmation = confirm("Are you sure you want to delete?");
              if(confirmation){
                this.axios.delete("ptaeo/"+this.ptaeo_list[index].id)
                        .then(response => {
                          this.$toasted.show(response.data.msg, { 
                            theme: "primary", 
                            position: "bottom-right", 
                            type: 'success',
                            duration: 2000,
                            iconPack : 'material',
                            icon : {
                                    name : 'check'
                                }
                          });
                          this.ptaeo_list.splice(index,1);
                          this.cancel(index);
                        });
              }
            },
            cancel(index){
              this.ptaeo_list[index].is_disabled = true;
              this.ptaeo_list[index].is_editable = true;
              this.ptaeo_list[index].is_updatable = false;
            },
            fetchPtaeo(){
              this.ptaeo_list = [];
              this.axios.get("ptaeo")
                        .then(response => {
                          this.ptaeo_list = response.data.ptaeo_details.map(element => {
                            element.is_disabled = true;
                            element.is_editable = true;
                            element.is_updatable = false;
                            return element;
                          });
                        });
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.$root.$emit('pageHierarchy', vm.pageDepth);
            });
        }
    }    
</script>

<style scoped>
/*table styles*/
table th, td{
  padding-left: 2%;
  width: 10%;
  background-color: whitesmoke;
}
table td{
  padding-bottom: 3%;
}
table .table-head{
  background-color: #323232;
  color: white;
  border-top: 3px solid #ffd20a;
}
table th{
   border-bottom: 1px solid rgba(0,0,0,0.1);
   padding: 3% 0% 3% 2%;
   background-color: #323232;
}
table td{
  padding-top: 2%;
}
td input{
  width: 100% !important;
  outline: none;
}
td input:disabled {
  background-color: #ececec;
}
.displayBtn {
  display: block !important;
}
/*table styles end*/
.edit-btn, .cancel-btn{
  background-color: #ffd20a;
  border: none;
  outline: none;
  color: black;
  width: 60px;
  height: 30px;
  float: right;
  margin-right: 8%;
  border-radius: 3px;
}
.cancel-btn {
  display: none;
}
.edit-btn:hover, .cancel-btn:hover {
  background-color: #feb901;
}
.view-box span{
    padding-left: 5%;
}
.hide-content{
    display: none;
}
.mode-of-dispatch{
  padding-left: 5%;
  padding-top: 10%;
  height: 100%;
}
.update-box{
  background-color: whitesmoke;
  border: 1px solid rgba(0,0,0,0.1);

  padding: 5%;
  border-top: 3px solid #ffd20a;
}
.view-box{
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 2px 3px 8px rgba(0,0,0,0.1);
}

.tab-head{
    width: 90%;
    display: flex;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
}
.tab-head button{
    border: none;
    outline: none;
    padding-top: 1%;
    font-size: 20px;
    padding-bottom: 1%;
    background-color: whitesmoke;
    border:1px solid rgba(0,0,0,0.2);
    border-bottom: 0px;

   
}
.tab-head button:hover{
    background-color: #F5F5F5;
}

.active-tab{
    background-color: #323232 !important;
    color: white;
}
.tab-head .update{    
    width:45%;
    margin-right:2rem;
}
.tab-head .view{
    flex: 45%;
}
.tab-head button{
    width: 50%;
    margin: 0px;
}
.tab-content-div{
    background-color: white;
    padding: 0% 5% 5% 0%;
    width: 95%;
}

.tab-content-div .save-btn{
  background-color: #ffd10a;
  border: none;
  height: 40px;
  position: relative;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 3px;
  font-size: 18px; 
}
.save-btn:hover{
    background-color: #feb901;
}
.mode-of-dispatch h2{
  margin-bottom: 2%;
}
.mode-of-dispatch input{
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);
  padding-left: 2%;
}
.mb-3{
  margin-bottom:1.5rem;
}

.bg-dark{
  background-color:#323232 !important;
}
.text-light{
  color:#fff;
}

.action button{
  background: #ffd10a;
  border: none;
  padding: 7px 20px;
  margin-bottom:0.7rem;
  font-size: 15px;
  width:80px;
}

</style>