<template>
<section class="mode-of-dispatch">
  <h2>Services</h2>
  <hr>
  <div class="tab-div">
      <div class="tab-head">
            <button class="update" :class="{'active-tab':update_details}" @click="updateDetails">Add</button>
            <button class="view" :class="{'active-tab':view_details}"  @click="viewDetails">View</button>
      </div>
      <div class="tab-content-div">
        <div class="update-box" :class="{'hide-content': hide_update}">
            <div class="tab-row">
              <div class="tab-col">
                  <label>Select carrier</label><br>
                  <select 
                      v-model="carrier" 
                      ref="provider_id"
                      @focus = "removeWarning('provider_id')">
                        <option value="selectCarrier" disabled = 'true'>Select Carrier</option>
                        <option v-for="deliveryProvider in deliveryProviderList" :value= "deliveryProvider.id">{{ deliveryProvider.name }}</option>
                  </select>
              </div>
              <div class="tab-col">
                
              </div>
           </div>

           <div class="tab-row">
              <div class="tab-col">
                <label>Service Name</label>
                <input type="text" name="" 
                    v-model = "serviceName" 
                    ref="name"
                    @focus= "removeWarning('name')">
              </div>
              <div class="tab-col">
                <label>Type</label>
                <select 
                    v-model = "type" 
                    ref="type"
                    @focus= "removeWarning('type')">
                    <option value="selectType" disabled = 'true'>Select Type</option>
                    <option value = "D" >Domestic</option>
                    <option value = "I" >International</option>
                    <option value = "M" >Messenger</option>
                </select>
              </div>
           </div>

            <button class="save-btn" @click="addService">Save</button>
        </div>
        <div class="view-box" :class="{'hide-content': hide_view}">
            <table style="width: 100%;">
              <tr class="table-head">
                <th>Carrier Name</th>
                <th>Service Name</th>
                <th>Type</th>
                <th>&nbsp&nbsp</th>
              </tr>
              <tr v-for= "(service, i) in servicesList">
                <td>
                    <select 
                        :value = "service.provider.id" 
                        :disabled = "true"
                        :ref = "'provider_' + service.id">
                        <option 
                            v-for = "item in deliveryProviderList" 
                            :value = "item.id" >{{ item.name }}
                        </option>
                    </select>
                <td>
                    <input type="text" 
                        :value="service.name" 
                        :disabled = "true"
                        :ref = "'name_' + service.id">
                </td>
                <td>
                    <select 
                        :value = "service.type ? service.type : 'D'" 
                        :disabled = "true"
                        :ref = "'service_' + service.id">
                        <option value = "D" >Domestic</option>
                        <option value = "I" >International</option>
                        <option value = "M" >Messenger</option>
                    </select>
                </td>
                <td>
                  <button class="edit-btn" @click = "UpdateServiceProvider(service)" :ref="'edit_' + service.id">Edit</button>
                  <button class="cancel-btn" @click = "cancelChange(service.id)" :ref="'cancel_' + service.id">Cancel</button>
                  <button class="edit-btn" @click = "deleteServiceProvider(service.id)" :ref="'edit_' + service.id">Delete</button>
                </td>
              </tr>
            </table>
        </div>    
      </div>  
  </div>
</section>
</template>

<script>
    export default {
        name: 'service-provider',
        data() {
            return {
                update_details: true,
                hide_view: true,
                hide_update: false,
                view_details: false,
                servicesList: [],
                deliveryProviderList: [],
                serviceName: null,
                service: {
                  name : []
                },
                carrier: null,
                type: 'selectType',
                pageDepth: ['Master Data', 'Services']
            }
        },
        methods: {
            updateDetails(){
                this.update_details = true;
                this.view_details = false;
                this.hide_update = false;
                this.hide_view = true; 

            },
            viewDetails(){
                this.view_details = true;
                this.update_details = false;
                this.hide_update = true;
                this.hide_view = false; 

                this.axios.get('service')
                .then((response) => {
                  console.log('response:', response);
                  if(response.status == 200) {
                    this.servicesList = response.data.services;
                  }
                })
                .catch((error) => {
                  console.log('error:', error.response);
                });
            },
            fetchCarrierDetails() {
              this.axios.get('provider')
              .then((response) => {
                console.log('response:', response);
                if(response.status == 200) {
                  this.deliveryProviderList = response.data.providers;
                  this.carrier = 'selectCarrier';           //this.deliveryProviderList[0].id;
                  console.log(this.carrier);

                }
              })
              .catch((error) => {
                console.log('error:', error.response);
              });
            },
            addService() {

              let data = {
                provider_id: this.carrier,
                name : this.serviceName,
                type: this.type
              }
              console.log(data);
              let valid = this.checkEmptyValue(data);

              if(valid) {
                this.axios.post('service', data)
                .then((response) => {
                  console.log('response:', response);
                  if(response.status == 200) {
                    this.$toasted.show(response.data.msg, { 
                       theme: "primary", 
                       position: "bottom-right", 
                       type: 'success',
                       duration: 2000,
                       iconPack : 'material',
                       icon : {
                              name : 'check'
                           }
                    });
                    this.resetFields();
                    this.viewDetails();
                  }
                })
                .catch((error) => {
                  console.log('error:', error.response);
                });
              }
            },
            checkEmptyValue(data) {
              let flag = true;
              Object.keys(data).forEach(key => {
                if(!data[key]) {
                  console.log(key);
                  this.warningBox(key);
                  flag = false;
                }
              });

              return flag;
            },
            warningBox(key) {

                this.$refs[key].classList.add('warning');

            },
            removeWarning(item) {

                this.$refs[item].classList.remove('warning');

            },
            UpdateServiceProvider(service) {

              if(event.target.innerHTML == 'Update') {

                let data = {

                  name: this.$refs['name_' + service.id][0].value,
                  provider_id: this.$refs['provider_' + service.id][0].value,
                  type: this.$refs['service_' + service.id][0].value

                }

                if(data.name && data.provider_id && data.type) {

                    this.axios.put('service/'+ service.id, data)
                    .then(response => {
                      console.log('response', response);
                      if(response.status == 200) {

                        this.$toasted.show(response.data.msg, { 
                           theme: "primary", 
                           position: "bottom-right", 
                           type: 'success',
                           duration: 2000,
                           iconPack : 'material',
                           icon : {
                                  name : 'check'
                               }

                        });

                        this.$refs['cancel_' + service.id][0].classList.remove('displayBtn');
                        this.$refs['edit_' + service.id][0].innerHTML = 'Edit';
                        this.$refs['name_' + service.id][0].disabled = true;
                        this.$refs['provider_' + service.id][0].disabled = true;
                        this.$refs['service_' + service.id][0].disabled = true;

                    }
                    else {

                        this.$toasted.show(response.data.msg, { 
                           theme: "primary", 
                           position: "bottom-right", 
                           type: 'error',
                           duration: 2000,
                           iconPack : 'material',
                           icon : {
                                  name : 'close'
                               }
                        });

                    }
                  })
                  .catch(error => {

                    console.log('error', error.response);
                    this.$toasted.show(error.response.data.msg.errors[0], { 
                       theme: "primary", 
                       position: "bottom-right", 
                       type: 'error',
                       duration: 2000,
                       iconPack : 'material',
                       icon : {
                              name : 'close'
                           }
                    });

                  });
                }
                else{

                  this.$toasted.show('Fields can not be empty', { 
                     theme: "primary", 
                     position: "bottom-right", 
                     type: 'error',
                     duration: 2000,
                     iconPack : 'material',
                     icon : {
                            name : 'close'
                         }
                  });

                }

              }
              else {

                event.target.innerHTML = "Update";
                console.log(service.id);
                this.$refs['cancel_' + service.id][0].classList.add('displayBtn');
                this.$refs['name_' + service.id][0].disabled = false;
                this.$refs['provider_' + service.id][0].disabled = false;
                this.$refs['service_' + service.id][0].disabled = false;

              }
            },
            cancelChange(id) {

              event.target.classList.remove('displayBtn');
              this.$refs['edit_' + id][0].innerHTML = 'Edit';
              this.$refs['name_' + id][0].disabled = true;
              this.$refs['provider_' + id][0].disabled = true;
              this.$refs['service_' + id][0].disabled = true;

            },
            resetFields() {
              this.carrier = 'selectCarrier',
              this.serviceName = '',
              this.type = 'selectType'

            },
            deleteServiceProvider(id) {
              if(confirm('Are you sure to delete this carrier service ?')) {
                this.axios.delete(`service/${id}`)
                .then(response => {
                  console.log('response', response);
                  if(response.data.status == "ok") {
                    this.$toasted.show(response.data.msg, { 
                       theme: "primary", 
                       position: "bottom-right", 
                       type: 'success',
                       duration: 2000,
                       iconPack : 'material',
                       icon : {
                              name : 'check'
                           }
                    });
                    this.removeServiceProvider(id);
                  }
                })
                .catch(error => {
                  console.log('error', error.response);
                })
              }
            },
            removeServiceProvider(id) {
                let index = this.servicesList.findIndex(service => service.id == id);
                console.log('index', index);
                this.servicesList.splice(index, 1);
            }

        },
        created() {
          this.fetchCarrierDetails();

        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.$root.$emit('pageHierarchy', vm.pageDepth);
            });
        }
    }    
</script>

<style scoped>
.warning {
  border-color: red !important;
}
/*table styles*/
.small-col{
  width: 5%;
}
.small-col input[type="checkbox"]{
  width: 20px !important;
}
table th, td{
  padding-left: 2%;
  width: 10%;
  background-color: whitesmoke;
}

table td{
  padding-bottom: 3%;
}
table .table-head{
  background-color: #323232;
  color: white;
  border-top: 3px solid #ffd20a;
}
table th{
   border-bottom: 1px solid rgba(0,0,0,0.1);
   padding: 3% 0% 3% 2%;
   background-color: #323232;
}
table td{
  padding-top: 2%;
}
td input{
  width: 100% !important;
}
td input:disabled {
  background-color: #ececec;
}
.displayBtn {
  display: block !important;
}

/*table styles end*/
.edit-btn, .cancel-btn{
  background-color: #ffd20a;
  border: none;
  outline: none;
  color: black;
  width: 60px;
  float: right;
  margin-right: 8%;
  height: 30px;
  border-radius: 3px;
}
.cancel-btn {
  display: none;
}
.edit-btn:hover, .cancel-btn:hover{
  background-color: #feb901;
}
.upload-col{
  position: relative;
}
.add-btn{
  background-color: #ffd20a;
  color: black;
  border-radius: 3px;
  border: none;
  outline: none;
  height: 40px;
  position: absolute;
  bottom: 0px;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 5%;
  margin-top: 9%;
}
.add-btn:hover{
  background-color: #feb901;
}
.img-preview-div{
  background-color: whitesmoke;
  height: 100px;
  width: 200px;
  right: 10%;
  top: 0px; 
  position: absolute;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 2%;
  background-color: white;
}
.img-preview-div img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.upload-btn{
  border: none;
  outline: none;
  background-color: #ffd10a;
  border-radius: 3px;
  color: black;
  height: 40px;
  font-size: 17px;
  padding-left: 8%;
  padding-right: 8%;
}
.upload-btn:hover{
  background-color: #feb901;
}
.chips{
  color: white;
  margin-top: 3%;
  padding: 0.5% 1% 0.5% 1% !important;
  border-radius: 5px;
  margin-right: 1%;
}
.danger-chips{
    background-color: #ff580a;
}
.green-chips{
  background-color: #00d400;
}
.update-box{
  background-color: whitesmoke;
  border: 1px solid rgba(0,0,0,0.1);

  padding: 5%;
  border-top: 3px solid #ffd20a;
}
.view-box{
  border: 1px solid rgba(0,0,0,0.1);
  border-top: 0px;
  box-shadow: 2px 3px 8px rgba(0,0,0,0.1);
}
.view-box span{
    padding-left: 5%;
}
.view-box label{
  width: 20%;
}
.hide-content{
    display: none;
}
input[type="checkbox"]
{
    vertical-align:middle;
    margin-right: 10%;
    margin-top: 2px;
}
.checkbox-row{
  display: flex;
  width:  100%;
  margin-bottom: 3%;

}
.first-col, .second-col, .third-col{
  width: 200px;

  
}

.checkbox-label{
  width: 120px;
}
.mode-of-dispatch{
  padding-left: 5%;
  padding-top: 10%;
  padding-bottom: 15%;
  height: 100%;
}

.tab-head{
    width: 90%;
    display: flex;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
}
.tab-head button{
    border: none;
    outline: none;
    padding-top: 1%;
    font-size: 20px;
    padding-bottom: 1%;
    background-color: whitesmoke;
    border:1px solid rgba(0,0,0,0.2);
    border-bottom: 0px;

   
}
.tab-head button:hover{
    background-color: #F5F5F5;
}

.active-tab{
    background-color: #323232 !important;
    color: white;
}
.tab-head .update{    
    flex: 45%;
    margin-right: 5%;
}
.tab-head .view{
    flex: 45%;
}
.tab-head button{
    width: 50%;
    margin: 0px;
}
.tab-content-div{
    background-color: white;
    padding: 0% 5% 5% 0%;
    width: 95%;
}
.tab-content-div .save-btn{
  background-color: #ffd10a;
  border: none;
  height: 40px;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 3px;
  font-size: 18px; 
}
.save-btn:hover{
    background-color: #feb901;
}
.mode-of-dispatch h2{
  margin-bottom: 2%;
}
.mode-of-dispatch input, .dispatch-option, .description-box, select{
  height: 40px;
  outline: none;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);
  padding-left: 2%;
}
select{
  width: 100%;
}
select:disabled {
  background-color: #ececec;
}
.dispatch-option, .description-box{
   width: 90%;
}
.description-box{
  height: 80%;
}
.tab-row{
  display: flex;
  margin-bottom: 5%;
  position: relative;
}
.tab-col{
  flex: 20%;
}
.tab-col-4{
  flex: 25%;
}

.tab-col-4 input[type="text"]{
  width: 80%;
}
.tab-col input[type="text"]{
  width: 90%;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 3px; 
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #ffd10a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 6px;
    height: 13px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
</style>