<template>
  <section class="mode-of-dispatch">
    <h2>Units</h2>
    <hr>
    <div class="tab-div">
      <div class="tab-head">
        <button class="update" :class="{'active-tab':update_details}" @click="updateDetails">Add</button>
        <button class="view" :class="{'active-tab':view_details}" @click="viewDetails">View</button>
      </div>
      <div class="tab-content-div">
        <div class="update-box" :class="{'hide-content': hide_update}">
          <div class="row">
            <div class="col-md-6">
                <label>Unit Name <span class="mandatory">*</span></label>
                <br>
                <input type="text" name="" v-model="unitName" ref="name" @focus="removeWarning('name')">
            </div>
            <div class="col-md-6">
                <label>Unit Code <span class="mandatory">*</span></label>
                <br>
                <input type="text" name="" v-model="unitCode" ref="branch_id" @focus="removeWarning('branch_id')">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
              <label>Division</label>
              <br>
              <select v-model="division" ref="division_id" @focus="removeWarning('division_id')">
                <option value="" disabled = 'true'>Select Division</option>
                <option v-for=" item in divisionList" :value="item.id">{{ item.name }}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label>Hub</label>
              <br>
              <select v-model="hub" ref="hub_id">
                <option value="" disabled = 'true'>Select Hub</option>
                <option v-for="item in hubList" :value="item.id">{{ item.name }}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label>Cost center</label>
              <br>
              <select v-model="costCenter" ref="cost_center_id">
                <option value="" disabled = 'true'>Select Cost center</option>
                <option v-for="item in costCenterList" :value="item.id">{{ item.name }}</option>
              </select>
            </div>
          </div>
          <br>
        <div class="row">
            <div class="col-md-6">
                <label>Address 1 <span class="mandatory">*</span></label>
                <br>
                <input type="text" name="" v-model="address1" ref="address_1" @focus="removeWarning('address_1')">
            </div>
            <div class="col-md-6">
                <label>Address 2 <span class="mandatory">*</span></label>
                <br>
                <input type="text" name="" v-model="address2" ref="address_2" @focus="removeWarning('address_2')">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <label>Suburb <span class="mandatory">*</span></label>
                <br>
                <input type="text" name="" v-model="suburb" ref="suburb" @focus="removeWarning('suburb')">
            </div>
            <div class="col-md-4">
                <label>City <span class="mandatory">*</span></label>
                <br>
                <input type="text" name="" v-model="city" ref="city" @focus="removeWarning('city')">
            </div>
            <div class="col-md-4">
                <label>State <span class="mandatory">*</span></label>
                <br>
                <input type="text" name="" v-model="state" ref="state" @focus="removeWarning('state')">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <label>Country <span class="mandatory">*</span></label>
                <br>
                <input type="text" name="" v-model="country" ref="country" @focus="removeWarning('country')">
            </div>
            <div class="col-md-4">
                <label>Post Code <span class="mandatory">*</span></label>
                <br>
                <input type="text" name="" v-model="postalCode" ref="postal_code" @focus="removeWarning('postal_code')">
            </div>
            <div class="col-md-4">
                <label>Phone No <span class="mandatory">*</span></label>
                <br>
                <input type="text" name="" v-model="phone" ref="phone" @focus="removeWarning('phone')">
            </div>
        </div>
          <br>
          <button class="save-btn" @click="addUnit">Save</button>
          <br>
        </div>
        <div class="view-box" :class="{'hide-content': hide_view}" style="overflow-x:scroll;width: 1000px;">
          <table>
            <tr class="table-head">
              <th>Unit Code</th>
              <th>Unit Name</th>
              <th>&nbsp&nbsp</th>
            </tr>
            <tr v-for=" unit in unitList">
              <td>
                    <input type="text" 
                        :value="unit.branch_id" 
                        :disabled = "true"
                        style="width: 200px !important;"
                        :ref = "'branch_' + unit.id">
                </td>
                <td>
                    <input type="text" 
                        :value = "unit.name" 
                        :disabled = "true"
                        style="width: 500px !important;"
                        :ref = "'name_' + unit.id">
                </td>
                <td>
                  <button class="edit-btn" @click = "UpdateUnit(unit)" :ref="'edit_' + unit.id">Edit</button>
                  <button class="cancel-btn" @click = "cancelChange(unit.id)" :ref="'cancel_' + unit.id">Cancel</button>
                  <button class="edit-btn" @click = "deleteUnit(unit.id)" :ref="'delete_' + unit.id">Delete</button>
                </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: 'unit',
  data() {
    return {
        update_details: true,
        hide_view: true,
        hide_update: false,
        view_details: false,
        division: null,
        divisionList: [],
        costCenter: null,
        costCenterList: [],
        hub: null,
        hubList: [],
        unitList: [],
        unitName: null,
        unitCode: null,
        address1: '',
        address2: '',
        suburb: '',
        city: '',
        state: '',
        country: '',
        postalCode: '',
        phone: '',
        pageDepth: ['Master Data', 'Units']
    }
  },
  methods: {
    updateDetails() {
      this.update_details = true;
      this.view_details = false;
      this.hide_update = false;
      this.hide_view = true;
    },
    viewDetails() {
      this.view_details = true;
      this.update_details = false;
      this.hide_update = true;
      this.hide_view = false;

      this.fetchUnitDetails();
    },
    fetchUnitDetails() {
      this.axios.get('fetch/company').
      then((response) => {
        console.log('respone', response.data.company[0].branches);
        if (response.status == 200) {
          this.unitList = response.data.company[0].branches.sort((a,b) => {
              return a.branch_id.localeCompare(b.branch_id);
          });
        }
      }).
      catch((error) => {
        console.log(error);
      })
    },
    fetchDivisions() {
      this.axios.get('division')
        .then((response) => {
          console.log('response:', response);
          if (response.status == 200) {
            this.divisionList = response.data.divisions;
            this.division = 'selectDivision';           //this.divisionList[0].id;
          }
        })
        .catch((error) => {
          console.log('error:', error.response);
        });
    },
    fetchHubs() {
      this.axios.get('hub')
        .then((response) => {
          console.log('response:', response);
          if (response.status == 200) {
            this.hubList = response.data.hubs;
            this.hub = 'selectHub';                     //this.hubList[0].id;
          }
        })
        .catch((error) => {
          console.log('error:', error.response);
        });
    },
    fetchCostCenters() {
      this.axios.get('cost')
        .then((response) => {
          console.log('response:', response);
          if (response.status == 200) {
            this.costCenterList = response.data.cost_centers;
            this.costCenter = 'selectCostCenter';      //this.costCenterList[0] ? this.costCenterList[0].id : null;
          }
        })
        .catch((error) => {
          console.log('error:', error.response);
        });
    },
    addUnit() {
        let data = {
            name: this.unitName,
            branch_id: this.unitCode,
            cost_center_id: this.costCenter,
            division_id: this.division,
            hub_id: this.hub,
            address_1: this.address1,
            address_2: this.address2,
            suburb: this.suburb,
            city: this.city,
            state: this.state,
            country: this.country,
            postal_code: this.postalCode,
            phone: this.phone
        }

      console.log('data', data);

      let valid = this.checkEmptyValue(data);
      console.log('valid', valid);
      if (valid) {
        this.axios.post('branch', data)
          .then((response) => {
            console.log('response:', response);
            if (response.status == 200) {
              this.$toasted.show(response.data.msg, {
                theme: "primary",
                position: "bottom-right",
                type: 'success',
                duration: 2000,
                iconPack: 'material',
                icon: {
                  name: 'check'
                }
              });
              this.resetFields();
              this.viewDetails();
            }
          })
          .catch((error) => {
            console.log('error:', error.response);
          });
      }
    },
    checkEmptyValue(data) {
      let flag = true;
      Object.keys(data).forEach(key => {
        if (!data[key] && key != 'cost_center_id' && key != 'division_id' && key != 'hub_id') {
          console.log(key);
          this.warningBox(key);
          flag = false;
        }
      });

      return flag;
    },
    warningBox(key) {
      // this.$refs[key].class = 'warning';
      this.$refs[key].classList.add('warning');
    },
    removeWarning(item) {
      this.$refs[item].classList.remove('warning');
    },
    UpdateUnit(unit) {

      if(event.target.innerHTML == 'Update') {

        let data = {

            name: this.$refs['name_' + unit.id][0].value,
            branch_id: this.$refs['branch_' + unit.id][0].value
        }
        console.log('data', data);
        if(data.name && data.branch_id) {

            this.axios.put('branch/'+ unit.id, data)
            .then(response => {
              console.log('response', response);
              if(response.status == 200) {

                this.$toasted.show(response.data.msg, { 
                   theme: "primary", 
                   position: "bottom-right", 
                   type: 'success',
                   duration: 2000,
                   iconPack : 'material',
                   icon : {
                          name : 'check'
                       }

                });

                this.$refs['cancel_' + unit.id][0].classList.remove('displayBtn');
                this.$refs['edit_' + unit.id][0].innerHTML = 'Edit';
                this.$refs['name_' + unit.id][0].disabled = true;
                this.$refs['branch_' + unit.id][0].disabled = true;
            }
            else {

                this.$toasted.show(response.data.msg, { 
                   theme: "primary", 
                   position: "bottom-right", 
                   type: 'error',
                   duration: 2000,
                   iconPack : 'material',
                   icon : {
                          name : 'close'
                       }
                });

            }
          })
          .catch(error => {

            console.log('error', error.response);
            this.$toasted.show(error.response.data.msg.errors[0], { 
               theme: "primary", 
               position: "bottom-right", 
               type: 'error',
               duration: 2000,
               iconPack : 'material',
               icon : {
                      name : 'close'
                   }
            });

          });
        }
        else{

          this.$toasted.show('Fields can not be empty', { 
             theme: "primary", 
             position: "bottom-right", 
             type: 'error',
             duration: 2000,
             iconPack : 'material',
             icon : {
                    name : 'close'
                 }
          });

        }

      }
      else {

        event.target.innerHTML = "Update";
        console.log(unit.id);
        this.$refs['cancel_' + unit.id][0].classList.add('displayBtn');
        this.$refs['name_' + unit.id][0].disabled = false;
        this.$refs['branch_' + unit.id][0].disabled = false;
      }
    },
    cancelChange(id) {

      event.target.classList.remove('displayBtn');
      this.$refs['edit_' + id][0].innerHTML = 'Edit';
      this.$refs['name_' + id][0].disabled = true;
      this.$refs['branch_' + id][0].disabled = true;
    },
    resetFields() {
      this.unitName = "";
      this.unitCode = "";
      this.costCenter = "";
      this.division = "";
      this.hub = "";
      this.address1 = "";
      this.address2 = "";
      this.suburb = "";
      this.city = "";
      this.state = "";
      this.country = "";
      this.postalCode = "";
      this.phone = "";
    },
    deleteUnit(id) {
      if(confirm('Are you sure to delete this unit?')) {
        this.axios.delete(`branch/${id}`)
        .then(response => {
          console.log('response', response);
          if(response.data.status == "ok") {
            this.$toasted.show(response.data.msg, { 
               theme: "primary", 
               position: "bottom-right", 
               type: 'success',
               duration: 2000,
               iconPack : 'material',
               icon : {
                      name : 'check'
                   }
            });
            this.removeUnit(id);
          }
        })
        .catch(error => {
          console.log('error', error.response);
        })
      }
    },
    removeUnit(id) {
        let index = this.unitList.findIndex(unit => unit.id == id);
        console.log('index', index);
        this.unitList.splice(index, 1);
    }
  },
  created() {
    this.fetchDivisions();
    this.fetchHubs();
    this.fetchCostCenters();

  },
  beforeRouteEnter (to, from, next) {
      next(vm => {
          vm.$root.$emit('pageHierarchy', vm.pageDepth);
      });
  }
}

</script>
<style scoped>
.warning {
  border-color: red !important;
}

/*table styles*/
.small-col {
  width: 5%;
}
.displayBtn {
    display: block !important;
}
.small-col input[type="checkbox"] {
  width: 20px !important;
}

table{
  width:100%;
}

table th,
td {
  padding: 1rem 3rem;
  background-color: whitesmoke;
}

table .table-head {
  background-color: #323232;
  color: white;
  border-top: 3px solid #ffd20a;
}

table th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  background-color: #323232;
}

td input {
  width: 100% !important;

}
td input:disabled, select:disabled {
    background-color: #ececec;
}

/*table styles end*/
.edit-btn, .cancel-btn {
  background-color: #ffd20a;
  border: none;
  outline: none;
  margin-bottom: 10px;
  color: black;
  width: 60px;
  float: right;
  margin-right: 8%;
  height: 30px;
  border-radius: 3px;
}

.edit-btn:hover, .cancel-btn:hover {
  background-color: #feb901;
}
.cancel-btn {
    display: none;
}

.view-box span {
  padding-left: 5%;
}

.hide-content {
  display: none;
}

.mode-of-dispatch {
  padding-left: 2%;
  padding-top: 10%;
  height: 100%;
}

.update-box {
  background-color: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.1);

  padding: 5%;
  border-top: 3px solid #ffd20a;
}

.view-box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 0px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
}


.tab-head {
  width: 90%;
  display: flex;
  color: black;
  padding-left: 8%;
  padding-right: 5%;
}

.tab-head button {
  border: none;
  outline: none;
  padding-top: 1%;
  font-size: 20px;
  padding-bottom: 1%;
  background-color: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 0px;


}

.tab-head button:hover {
  background-color: #F5F5F5;
}

.active-tab {
  background-color: #323232 !important;
  color: white;
}

.tab-head .update {
  flex: 45%;
  margin-right: 5%;
}

.tab-head .view {
  flex: 45%;
}

.tab-head button {
  width: 50%;
  margin: 0px;
}

.tab-content-div {
  background-color: white;
  padding: 0% 5% 5% 0%;
  width: 95%;
}

.tab-content-div .save-btn {
  background-color: #ffd10a;
  border: none;
  height: 40px;
  position: absolute;
  /* right: 8%;
*/
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 3px;
  font-size: 18px;
}

.save-btn:hover {
  background-color: #feb901;
}

.mode-of-dispatch h2 {
  margin-bottom: 2%;
}

.mode-of-dispatch input,
select {
  outline: none;
  background-color: #fff;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 2%;
}

.mandatory{
  color:red;
}
</style>
