<template>
	<!-- Add new contact screen -->
	<div class="new-contact" v-show="modalStatus">
		<div>
			<h4>Add Contact</h4>
		</div>
		<i class="material-icons close-icon" @click = "closeModal">close</i>
		<div class="row">
			<label>Choose a Category</label>
			<select v-model = "category" ref="category">
				<option value="My Unit">My Unit</option>
				<option value="Other Unit">Other Unit</option>
				<option value="Global Address">Global Addresse</option>	
			</select>
			<hr>
			<br>
			<br>
			<div class="inner-row">
				<div class="col-md-6">
					<label>Full name <span class="text-danger">*</span> </label>
					<!-- <label class="name-warning" v-show="true">This filed is required</label> -->
					<br>
					<input type="text" name="" placeholder = "Name" 
							v-model = "fullName" 
							ref="name"
							@focus="removeWarning('name')">
				</div>
				<div class="col-md-6">
					<label>Branch Name <span class="text-danger">*</span></label>
					<br>
					<input type="text" name="" :value = "branchName"  
							v-show = "category == 'My Unit'" 
							ref="branch_name"
							@focus="removeWarning('branch_name')" 
							disabled>
					<select 
							v-show = "category == 'Other Unit'" 
							v-model= "otherUnitName"
							ref="branch_name" 
							@focus="removeWarning('branch_name')">
						<option v-for="item in companyBranches" :value ="item" >{{ item }}</option>				
					</select>
					<input type="text" name="" placeholder = "Name"  
							v-show = "category == 'Global Address'"
							ref="branch_name"
							@focus= "removeWarning('branch_name')">
				</div>
			</div>
			<div class="inner-row">
				<div class="col-md-6">
					<label>Address 1 <span class="text-danger">*</span></label>
					<br>
					<textarea placeholder="Enter your address.." 
							v-model = "address1" 
							ref="address_1"
							@focus= "removeWarning('address_1')"></textarea>
				</div>
				<div class="col-md-6">
					<label>Address 2</label>
					<br>
					<textarea placeholder = "" 
							v-model = "address2" 
							ref="address_2"
							@focus= "removeWarning('address_2')">		
					</textarea>
				</div>
			</div>
			<div class="inner-row">
				<div class="col-md-6">
					<label>Postal Code</label>
					<br>
					<input type="text" name="" placeholder = "" 
							v-model = "postalCode" 
							ref="postal_code"
							@focus= "removeWarning('postal_code')">
				</div>
				<div class="col-md-6">
					<label>City <span class="text-danger">*</span></label>
					<br>
					<input type="text" name="" placeholder = "" 
							v-model = "city" 
							ref="city"
							@focus= "removeWarning('city')">
				</div>
			</div>
			<div class="inner-row">
				<div class="col-md-6">
					<label>Suburb</label>
					<br>
					<input type="text" name="" placeholder = "" 
							v-model = "suburb" 
							ref="suburb"
							@focus= "removeWarning('suburb')">
				</div>
				<div class="col-md-6">
					<label>Street</label>
					<br>
					<input type="text" name="" placeholder = "" 
							v-model = "street" 
							ref="street"
							@focus= "removeWarning('street')">
				</div>
			</div>
			<div class="inner-row">
				<div class="col-md-6">
					<label>Company <span class="text-danger">*</span></label>
					<br>
					<input type="text" name="" placeholder = "Company" 
							v-model = "companyName" 
							ref="company_name"
							@focus= "removeWarning('company_name')">
				</div>
				<div class="col-md-6">
					<label>State/Province</label>
					<br>
					<input type="text" name="" placeholder = "" 
							v-model = "state" 
							ref="state"
							@focus= "removeWarning('state')">
				</div>
			</div>
			<div class="inner-row">
				<div class="col-md-6">
					<label>Phone <span class="text-danger">*</span></label>
					<br>
					<input type="text" name="" placeholder = "" v-model = "phone" ref="phone" @focus= "removeWarning('phone')">
				</div>
				<div class="col-md-6">
					<label>Country <span class="text-danger">*</span></label>
					<br>
					<select  
							v-model = "country" 
							ref="country"
							@focus= "removeWarning('country')">
						<option :value = "c" v-for = "c in countryList">{{ c }}</option>
						<!-- <option>Australia</option>
						<option>Srilanka</option> -->	
					</select>
					<!-- <div class="form-horizontal">
					    <div class="form-group">
					      <label for="country-select" class="col-sm-3 control-label">
					        Select country:
					      </label>
					      <div class="col-sm-5">
					        <vue-country-select class="vue-country-select" name="country-select"
					                            :model.sync="result" language="en-US">
					        </vue-country-select>
					      </div>
					      <div class="col-sm-4">
					        <p class="form-control-static">
					          Selected country: <span class="vue-result">{{result}}</span>
					        </p>
					      </div>
					    </div>-->
					</div>
				</div>
				<div class="inner-row">
					<div class="col-md-6">
						<label>Email</label>
						<!-- <label class="emailWarning" v-show="emailWarning">email address is not valid</label> -->
						<br>
						<input type="text" name="" placeholder="" v-model = "email" :class="{ warning: emailWarning }" ref="email">
					</div>
					<div class="col-md-6">
						<button class="contact-save-button" @click = "storeAddress">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import router from '../router';
	const emailPattern = /^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/;

	export default {
		name: 'add-contact',
		components: {
		    "vue-country-select": require("vue-country-select")
		},
		data() {
			return {
				result: null,
				modalStatus: true,
				category: 'My Unit',
				fullName: '',
				companyName: 'WHO',
				address1: '',
				address2: '',
				postalCode: '',
				state: '',
				branchName: JSON.parse(localStorage.user).branch.branch_id,
				otherUnitName: '',
				city: '',
				suburb: '',
				street: '',
				phone: '',
				country: '',
				email: '',
				emailWarning: '',
				otherBranch: '',
				globalAddresse: '',
				companyBranches: [],
				countryList: [
						'Afghanistan',
				 		'Åland Islands',
				 		'Albania',
				 		'Algeria',
				 		'American Samoa',
				 		'Andorra',
				        'Angola',
				        'Anguilla',
				 		'Antarctica',
				 		'Antigua and Barbuda',
				 		'Argentina',
				        'Armenia',
				 		'Aruba',
				 		'Australia',
				 		'Austria',
				 		'Azerbaijan',
				 		'Bahamas',
				 		'Bahrain',
				 		'Bangladesh',
				 		'Barbados',
				 		'Belarus',
				 		'Belgium',
				 		'Belize',
				 		'Benin',
				 		'Bermuda',
				 		'Bhutan',
				 		'Bolivia, Plurinational State of',
						'Bonaire, Sint Eustatius and Saba',
				 		'Bosnia and Herzegovina',
				 		'Botswana',
				 		'Bouvet Island',
				 		'Brazil',
				 		'British Indian Ocean Territory',
				 		'Brunei Darussalam',
				 		'Bulgaria',
				 		'Burkina Faso',
				 		'Burundi',
				 		'Cambodia',
				 		'Cameroon',
				 		'Canada',
				 		'Cape Verde',
				 		'Cayman Islands',
				 		'Central African Republic',
				 		'Chad',
				 		'Chile',
				 		'China',
				 		'Christmas Island',
				 		'Cocos (Keeling) Islands',
				 		'Colombia',
				 		'Comoros',
				 		'Congo',
				 		'Congo, the Democratic Republic of the',
				 		'Cook Islands',
				 		'Costa Rica',
				 		'Côte d"Ivoire',
				 		'Croatia',
				 		'Cuba',
				 		'Curaçao',
				 		'Cyprus',
				 		'Czech Republic',
				 		'Denmark',
				 		'Djibouti',
				 		'Dominica',
				 		'Dominican Republic',
				 		'Ecuador',
				 		'Egypt',
				 		'El Salvador',
				 		'Equatorial Guinea',
				 		'Eritrea',
				 		'Estonia',
				 		'Ethiopia',
				 		'Falkland Islands (Malvinas)',
					 	'Faroe Islands',
					 	'Fiji',
					 	'Finland',
					 	'France',
					 	'French Guiana',
					 	'French Polynesia',
					 	'French Southern Territories',
					 	'Gabon',
					 	'Gambia',
					 	'Georgia',
					 	'Germany',
					 	'Ghana',
					 	'Gibraltar',
					 	'Greece',
					 	'Greenland',
					 	'Grenada',
					 	'Guadeloupe',
					 	'Guam',
					 	'Guatemala',
					 	'Guernsey',
					 	'Guinea',
					 	'Guinea-Bissau',
					 	'Guyana',
					 	'Haiti',
					 	'Heard Island and McDonald Islands',
					 	'Holy See (Vatican City State)',
					 	'Honduras',
					 	'Hong Kong',
					 	'Hungary',
					 	'Iceland',
					 	'India',
					 	'Indonesia',
					 	'Iran, Islamic Republic of',
					 	'Iraq',
					 	'Ireland',
					 	'Isle of Man',
					 	'Israel',
					 	'Italy',
					 	'Jamaica',
					 	'Japan',
					 	'Jersey',
					 	'Jordan',
					 	'Kazakhstan',
					 	'Kenya',
					 	'Kiribati',
					 	'Korea, Republic',
					 	'Kuwait',
					 	'Kyrgyzstan',
					 	'Lao People"s Democratic Republic',
					 	'Latvia',
					 	'Lebanon',
					 	'Lesotho',
					 	'Liberia',
					 	'Libya',
					 	'Liechtenstein',
					 	'Lithuania',
					 	'Luxembourg',
					 	'Macao',
					 	'Macedonia',
					 	'Madagascar',
					 	'Malawi',
					 	'Malaysia',
					 	'Maldives',
					 	'Mali',
						'Malta',
						'Marshall Islands',
						'Martinique',
						'Mauritania',
						'Mauritius',
						'Mayotte',
						'Mexico',
						'Micronesia, Federated States of',
						'Moldova, Republic of',
						'Monaco',
						'Mongolia',
						'Montenegro',
						'Montserrat',
						'Morocco',
						'Mozambique',
						'Myanmar',
						'Namibia',
						'Nauru',
						'Nepal',
						'Netherlands',
						'New Caledonia',
						'New Zealand',
						'Nicaragua',
						'Niger',
						'Nigeria',
						'Niue',
						'Norfolk Island',
						'Northern Mariana Islands',
						'Norway',
						'Oman',
						'Pakistan',
						'Palau',
						'Palestinian Territory, Occupied',
					 	'Panama',
					 	'Papua New Guinea',
					 	'Paraguay',
					 	'Peru',
					 	'Philippines',
					 	'Pitcairn',
					 	'Poland',
					 	'Portugal',
					 	'Puerto Rico',
					 	'Qatar',
					 	'Réunion',
					 	'Romania',
					 	'Russian Federation',
					 	'Rwanda',
					 	'Saint Barthélemy',
					 	'Saint Helena, Ascension and Tristan da Cunha',
					 	'Saint Kitts and Nevis',
					 	'Saint Lucia',
					 	'Saint Martin (French part)',
					 	'Saint Pierre and Miquelon',
					 	'Saint Vincent and the Grenadines',
					 	'Samoa',
					 	'San Marino',
					 	'Sao Tome and Principe',
					 	'Saudi Arabia',
					 	'Senegal',
					 	'Serbia',
					 	'Seychelles',
					 	'Sierra Leone',
					 	'Singapore',
					 	'Sint Maarten (Dutch part)',
					 	'Slovakia',
					 	'Slovenia',
					 	'Solomon Islands',
					 	'Somalia',
					 	'South Africa',
					 	'South Georgia and the South Sandwich Islands',
					 	'South Sudan',
					 	'Spain',
					 	'Sri Lanka',
					 	'Sudan',
					 	'Suriname',
					 	'Svalbard and Jan Mayen',
					 	'Swaziland',
					 	'Sweden',
					 	'Switzerland',
					 	'Syrian Arab Republic',
					 	'Taiwan, Province of China',
					 	'Tajikistan',
					 	'Tanzania, United Republic of',
					 	'Thailand',
					 	'Timor-Leste',
					 	'Togo',
					 	'Tokelau',
					 	'Tonga',
					 	'Trinidad and Tobago',
					 	'Tunisia',
					 	'Turkey',
					 	'Turkmenistan',
					 	'Turks and Caicos Islands',
					 	'Tuvalu',
					 	'Uganda',
					 	'Ukraine',
					 	'United Arab Emirates',
					 	'United Kingdom',
					 	'United States',
					 	'United States Minor Outlying Islands',
					 	'Uruguay',
					 	'Uzbekistan',
					 	'Vanuatu',
					 	'Venezuela, Bolivarian Republic of',
					 	'Viet Nam',
					 	'Virgin Islands, British',
					 	'Virgin Islands, U.S.',
					 	'Wallis and Futuna',
					 	'Western Sahara',
					 	'Yemen',
					 	'Zambia',
					 	'Zimbabwe'
				]

			}
		},
		created() {
			this.setbranch();
			// this.companyBranches = companyBranches;
		},
		mounted: function() {
		},
		watch : {
			email(newValue, oldValue) {
				this.emailWarning = this.email.match(emailPattern) ? false : true;
			},
			category(newValue, oldValue) {
				if(newValue == 'My Unit' || newValue == 'Other Unit') {
					this.companyName = 'WHO';
				}
				else {
					this.companyName = null;
				}
			}
		},
		methods: {
			setbranch() {
				let branches = JSON.parse(localStorage.companyDetails)[0].branches;
				let currentBranch = localStorage.branches;
				console.log(this.otherUnitName);
				branches.map(branch => {
					if(branch.name != currentBranch) {
						this.companyBranches.push(branch.name);
					}
				});
			},
			closeModal() {
				this.modalStatus = !this.modalStatus;
				this.$emit('closeModal', this.modalStatus);
			},
			storeAddress() {
				let flag = true;
				let categoryType;
				if (this.category == 'My Unit' || this.category == 'Other Unit') {
					categoryType = 'U';
				}
				else {
					categoryType = 'G';
				}
				const address = {
        			category: categoryType,
					name: this.fullName, 
					company_name: this.companyName,
					address_1: this.address1,
					address_2: this.address2,
					postal_code: this.postalCode,
					state: this.state,
					branch_name: this.branchName,
					city: this.city,
					suburb: this.suburb,
					street: this.street,
					phone: this.phone,
					country: this.country,
					email:this.email
				};
				console.log(address);
				for(var key in address) {
					if(address[key] == '' && key != 'email' && key != 'address_2' && key != 'postal_code' && key != 'suburb' && key != 'state' && key != 'street') {
						console.log(key);
						this.warningBox(key);
						flag = false;
					}
				}
				if(flag) {
					this.axios.post(baseUrl + '/address', address)
					.then((response) => { 
						if(response.data.status == 'ok') {
	                        this.$toasted.show("Contact added.", { 
	                             theme: "primary", 
	                             position: "bottom-right", 
	                             type: 'success',
	                             duration: 2000,
	                             iconPack : 'material',
	                             icon : {
	                                name : 'check'
	                             }
	                        });
	                    }
	                    this.$emit('addressSaved', this.modalStatus);
	                    console.log('varunnund')
						this.$root.$emit('closeAddressBox', this.modalStatus);
					 })
					.catch((error) => { 
						console.log(error);
						this.$toasted.show("Please fill required details", { 
                             theme: "primary", 
                             position: "bottom-right", 
                             type: 'error',
                             duration: 2000,
                             iconPack : 'material',
                             icon : {
                                name : 'close'
                             }
                        });
					});
				}
			},
			warningBox(key) {
				// this.$refs[key].class = 'warning';
				this.$refs[key].classList.add('warning');
			},
			removeWarning(key) {
				this.$refs[key].classList.remove('warning');
			}
		}
	}
</script>

<style lang="scss" scoped>
	.emailWarning {
		color: red;
	}
	.warning {
		border-color: red !important;
	}
	.new-contact{
		width: 100%;
		height: 100%;
		/*display: none;*/
		background-color: white;
		z-index: 22;
		transition: 1s ease;
		/*border: 1px solid rgba(0,0,0,0.1);*/
		border-radius: 5px;	
		box-shadow: 5px 10px 20px rgba(0,0,0,0.1);
		position: absolute;
		top: 0px;
		padding: 5% 0% 5% 5%;
		hr{
			position: relative;
			left: -5%;
			width: 100%;
		}
		h4 {
			text-align: center;
		    text-transform: uppercase;
		    width: 95%;
		    margin-left: 0%;
		    padding-bottom: 20px;
		    border-bottom: 1px solid rgba(0,0,0,0.1);
		}
		.row{
			padding-left: 3%;
			overflow-y: scroll;
			height: 90%;
			width: 100%;
			select{
				border: 0.5px solid rgba(0,0,0,0.2);
				margin-left: 5%;
				padding: 1% 5% 1% 1%;
				width: 40%;
			}
		}
		.contact-save-button{
				background-color: #ffd10a;
				border: none;
				outline: none;
				color: white;
				border-radius: 3px;
				top: 18px;
				position: absolute;
				padding: 3% 34% 3% 34%;
			}
		.inner-row{
			padding-left: 0px;
			// overflow: hidden;
			margin-bottom: 3%;
			input,select{
				border: 0.5px solid rgba(0,0,0,0.2);
				outline: none;
				padding: 2% 3% 2% 3%;
				width: 80%;
				margin-left: 0%;
				margin-bottom: 3%;
				
			}
		}

		/* width */
		.row::-webkit-scrollbar {
		    width: 5px;
		}

		/* Track */
		.row::-webkit-scrollbar-track {
		    background: whitesmoke; 
		}

		/* Handle */
		.row::-webkit-scrollbar-thumb {
		    background: #BDBDBD; 
		    border-radius: 5px;
		}

		/* Handle on hover */
		.row::-webkit-scrollbar-thumb:hover {
		    background: grey; 
		}
		label{
			font-weight: 400;
			font-size: 14px;
		
				
		}
		textarea{
			border: 0.5px solid rgba(0,0,0,0.2);
			outline: none;
			resize: none;
			padding: 2% 3% 2% 3%;
			width: 80%;
			height: 80px;
		}
		
		.close-icon{
			position: absolute;
			right: 1%;
			top: 2%;
			opacity: 0.3;
			cursor: pointer;
		}
	}
</style>