<template>

	<div class="courier-booking-modal" id="courier-booking-modal">
	    <div class="modal-box">
	        <i class="material-icons close-modal" id="close-modal" @click= "modalClose" >close</i>
	        <img class="courier-icon" src="../assets/img/courier-icon.PNG" alt="booking-icon" />
	        <h3 class="text-center">{{ type }}</h3>
	        <router-link to="/home/service" class="bookingButton" exact>
	            <button class="domestic-booking" @click="modalClose">
		            <img src="../assets/img/domestic-icon.PNG" alt="domestic-icon"/>{{ buttonName1 }}
		        </button>
	        </router-link>
	        <router-link to="/home/booking" class="booking-button" exact>
		        <button class="international-booking" @click="modalClose">
		            <img src="../assets/img/international-icon.PNG" alt="international-icon"/>{{ buttonName2}}
		        </button>
		    </router-link>
		    <router-link to="/home/service" class="bookingButton" exact>
		        <button class="international-booking" v-show="type == 'COURIER BOOKING' ? 'COURIER BOOKING' : false" @click="modalClose">
		            <img src="../assets/img/messenger-icon.PNG" alt="international-icon"/>{{ buttonName3}}
		        </button>
		    </router-link>
	    </div>	    
	</div>

</template>

<script>
	export default {
		name: 'booking-modal',
		props:[],
		data(){
			return {
				modalStatus : false
			}
		},
		props: ['type', 'buttonName1', 'buttonName2','buttonName3'],
		methods: {
			modalClose() {
				this.modalStatus = !this.modalStatus;
				this.$emit('closeModal', this.modalStatus);
				console.log('hi');
			}
		}
	}
</script>

<style lang="scss">
	
.courier-booking-modal{
	display: block;
	width: 100%;
    left: 0;
    top: 0;
    height: 100vh;
    position: absolute;
    z-index: 9999999;
    background-color: rgba(0, 0, 0, 0.4);
	.modal-box{
		position: absolute;
	    left: 26%;
	    top: 30%;
	    padding: 1% 1% 3% 1%;
	    height: 280px;
	    width: 50%;
	    border: 1px solid #000;
	    background-color: #fcfcfc;
	    .booking-button {
	    	width: 10%;
	    }
	    .close-modal{
	    	position: absolute;
	    	right: 2%;
	    	top: 4%;
	    	color: #000;
	    	font-size: 26px;
	    }
	    .close-modal:hover{
	    	cursor: pointer;
	    }
	    .courier-icon{
	    	display: block;
	    	margin-left: 44%;
	    	margin-top: 2%;
	    }
	    h3{
	    	font-weight: bold;
	    }
	    button{
	    	width: 29%;
		    height: 32%;
		    outline: none;
		    font-weight: bold;
		    margin: 2%;
		    border: 1px solid #fff;
		    color: #000;
		    background-color: #ffc807;
		    img{
		    	/*width: 54px;*/
		    	margin-right: 8%;
		    }
	    }
	}
}
</style>
