<template>
     <div class="courier-modal-box">
        <div class="courier-modal">
            <div class="mb-1 header">
                Comment Diary #{{courier.booking_id}}
                <span class="closecomment" @click="$router.go(0)">X</span>
            </div>
            <div class="courier-comment-list" :style="user.is_admin == 1 || user.is_super_admin == 1 ? '':'height:85%;border:1px solid rgb(182, 182, 182);'">
                <div v-if="!loading && comments.length > 0">
                <div class="row single-comment" v-for="(commentdata,i) in comments" :key="'comment-container-'+i">
                    <div class="col-xs-12 mb-1">
                        <div class="row">
                            <div class="col-xs-5">
                                <small class="font-weight-bold">{{commentdata.user.name}}</small>
                            </div>
                            <div class="col-xs-7">
                                <div class="col-xs-10">
                                    <small>On {{moment(commentdata.created_at).format("DD MMMM YYYY")}}</small>
                                </div>
                                <div class="col-xs-2">
                                    <i class="material-icons delete-icon" v-if="commentdata.user.id === user.id" @click="deleteComment(commentdata.courier_comment_id)">delete</i>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <pre>{{commentdata.comment}}</pre>
                    </div>
                </div>
                </div>
                <p v-if="loading">Please Wait...</p>
                <p v-if="!loading && comments.length == 0">No comments found</p>
            </div>
            <div class="courier-comment-field-bar" v-if="user.is_admin == 1 || user.is_super_admin == 1">
                <textarea type="text" rows="2" class="form-control mb-05" v-model="comment.comment"></textarea>
                <button class="btn btn-sm btn-danger" @click="addComment">Add Comment</button>
            </div>
        </div>
    </div>
</template>

<script>
import moment from "moment";
export default {
  name: "CourierCommentModal",
  props:['courier'],
  created(){
      this.fetchComments();
  },
  data(){
      return {
          loading:true,
          comments:[],
          comment:{
              courier_id:"",
              comment:""
          },
          user:JSON.parse(localStorage.user)
      }
  },
  methods:{
      addComment(){
          this.comment.courier_id = this.courier.id;
          this.axios.post("courier/comment",this.comment)
                    .then(response => {
                        console.log(response);
                        this.comment.comment = "";
                        this.fetchComments();
                    })
                    .catch(error => {
                        console.log(error);
                        this.$toasted.show("Some error occured..Please try again..", { 
                             theme: "primary", 
                             position: "bottom-right", 
                             type: 'error',
                             duration: 2000,
                             iconPack : 'material',
                             icon : {
                                name : 'error'
                             }
                        });
                    })
      },
      fetchComments(){
          this.loading = true;
            this.axios.get("courier/"+this.courier.id+'/comments/viewall')
                .then(response => {
                    this.loading = false;
                    this.comments = response.data.comments;
                    //this.comments = [];
                })
                .catch(error => {
                    console.log(error);
                    this.loading = false;
                    this.$toasted.show("Some error occured..Please try again..", { 
                             theme: "primary", 
                             position: "bottom-right", 
                             type: 'error',
                             duration: 2000,
                             iconPack : 'material',
                             icon : {
                                name : 'error'
                             }
                        });
                });
      },
      deleteComment(commentid){
          let confirmation = confirm("Are you sure to delete this comment?");
          if(confirmation){
              this.axios.delete("courier/comments/"+commentid)
                        .then(response => {
                            this.fetchComments();
                        })
                        .catch(error => {
                            console.log(error);
                            this.$toasted.show("Some error occured..Please try again..", { 
                                theme: "primary", 
                                position: "bottom-right", 
                                type: 'error',
                                duration: 2000,
                                iconPack : 'material',
                                icon : {
                                    name : 'error'
                                }
                            });
                        });
          }
      }
  }
};
</script>

<style lang="scss" scoped>
.courier-modal-box {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:10000;
  background-color: rgba(0, 0, 0, 0.7);
}
.courier-modal {
  width: 40%;
  background-color: white;
  position: absolute;
  border-radius: 3px;
  padding:20px;
  left: 30%;
  top: 20%;
  height:60%;
  z-index:10001;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}
.courier-comment-list{
    border:1px solid rgb(182, 182, 182);
    border-bottom:none;
    padding:15px 25px;
    overflow-y:auto;
    height:60%;
}
.courier-comment-field-bar{
    border:1px solid rgb(182, 182, 182);
    padding:10px 15px;
    overflow-y:auto;
    height:34%;
}
.header{
    height:6%;
}
.single-comment{
    border:1px solid rgb(211, 211, 211);
    padding:10px;
}
.mb-1{
    margin-bottom:10px;
}

.mb-05{
    margin-bottom:5px;
}
.delete-icon{
    font-size:15px;
    cursor:pointer;
}
.closecomment{
    float:right;
    cursor:pointer;
}

.font-weight-bold{
    font-weight:bold;
}
pre{
    font-family: sans-serif;
    font-size: 13px;
    padding:0;
    margin:0;
    line-height: 1.42857143;
    color: #333;
    background:#fff;
    border:none;
    white-space: pre-wrap;
}
</style>