<template>
	<div class="domestic-slider-div" id="domestic-slider">
        <div :class="['slidecontainer', activePage]">
          <input type="range" min="0" max="2" value="1" class="slider" id="myRange">
          <ul>
              <li :class="{serviceOptionsListItem: activePage == 'serviceOptions'}" style="margin-left: 0px;"><span class="service-span">SERVICE OPTIONS</span></li>
              <li :class="{shipmentDetailsListItem: activePage == 'shipmentDetails' }" style="margin-left: 48.4%;"><span class="address-span">SHIPMENT DETAILS</span></li>
              <li :class="{confirmShipmentListItem: activePage == 'confirmShipment' }" style="margin-left: 50%;"><span class="confirm-span">CONFIRM SHIPMENT</span></li>

          </ul>
        </div>
    </div>
</template>

<script>
  var vm;
	export default vm = {
		name: 'domestic-slider',
    props: ['activePage'],
    data() {
      return {
        
      }
    },
    watch: {
      activePage: function() {
        console.log(this.activePage);
        if(this.activePage == 'serviceOptions') {
          console.log('1');
          this.serviceList = true;
        }
        else if(this.activePage == 'shipmentDetails') {
          console.log('2');
          this.shipmentList = true;
        }
      }
    }
    
	}
  

</script>

<style lang="scss">
	.domestic-slider-div{
      background-color: #181818;
      width: 100%;
      position: relative;
      box-sizing: border-box;
      padding: 5%;
      padding-right: 7%;
      margin-bottom: 2%;
      .range-points{
        width: 25px;
          height: 25px;
          border-radius: 50%;
          background: #121212;
          border:5px solid #ffd10a;
          position: absolute;
      }

      .slidecontainer input::after{
        content: '';
        width: 0%;
        height: 8px;
        left: 5.5%;
        background-color: #ffd10a;
        position: absolute;
      }
      .serviceOptions input::after {
        width: 0%;
      }
      .shipmentDetails input::after {
        width: 43.4%;
      }
      .confirmShipment input::after {
        width: 87.4%;
      }
      .serviceOptionsListItem::before{
        background-color: black !important;
        border: 5px solid #ffd10a !important;
      }
      .shipmentDetailsListItem::before{
        background-color: black !important;
        border: 5px solid #ffd10a !important;
      }
      .confirmShipmentListItem::before{
        background-color: black !important;
        border: 5px solid #ffd10a !important;
      }

      .slidecontainer {
          width: 100%;
          .service-option{position: absolute;left: 0px;color: white;bottom: 10%;}
          ul{padding-left: 0px;list-style-type: none;}
          ul li{
            float: left;
            /*width: 22%;*/
            text-align: left;
            margin-left: 24%;
            padding-top: 3%;
            color: white;
            span{position: absolute;font-size: 12px;width: 200px;top: 70%;}
            .service-span{
              left: 3%;
            }
            .address-span{
              left: 44%;
            }
                    .confirm-span{
                        left:85%;
                    }      

          }
          ul li::before{
            content: " ";
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: whitesmoke;
            border:5px solid grey;
            position: absolute;
            bottom: 43%;
                  z-index: 2;
            cursor: pointer;

          }
      }

      .slider {
          -webkit-appearance: none;
          width: 100%;
          height: 8px;
          background: #2c2c2c;
          outline: none;
          opacity: 1;
          -webkit-transition: .2s;
          transition: opacity .2s;
      }

      .slider:hover {
          opacity: 1;
      }

      .slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          display: none;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background: #121212;
          border:5px solid #ffd10a;
          cursor: pointer;
          position: relative;
          z-index: 3;
      }

      .slider::-moz-range-thumb {
          width: 25px;
          height: 25px;
          visibility: hidden;
          border-radius: 50%;
          background: #121212;
          border:5px solid #ffd10a;
          cursor: pointer;
      }

    }
</style>