<template>

	<div class="consignment-booking-modal" id="consignment-booking-modal"  @click = "closeModal" v-show="modalStatus">

	    <div class="modal-box">
	    	<div class="modal-header">
	    		<a class="close-consignment-modal" @click = "closeModal">
	    			<i class="material-icons" >close</i>
	    		</a>
	    	</div>

	        <div class="modal-body">
	        	<div class="row first-row">
	       	<div class="col-md-4 remove-padding">
	       		<div class="company-details-div">
	       			<div class="logo-div"></div>
	       			<p v-model = "email" >E-mail: info@dbsa.asia</p>
	       			<p v-model = "webAddress">Web: http://www.dbsa.asia</p>
	       		</div>
	       	</div>
	       	<div class="col-md-2 remove-padding">
	       		<div class="date-div">
	       			<p class="date-head" >DATE</p>
	       			<p>{{ date }}</p>
	       			<p class="date-head">ACCOUNT NUMBER</p>
	       			<p v-model = "accountNumber" >KWM</p>
	       		</div>
	       	</div>
	       	<div class="col-md-2 remove-padding">
	       		<div class="date-div">
	       			<p class="date-head">PIECES</p>
	       			<p>{{ pieces }}</p>
	       			<p class="date-head">WEIGHT</p>
	       			<p>{{ weight }} Kgs</p>
	       		</div>
	       	</div>
	       	<div class="col-md-4 remove-padding">
	       		<div class="date-div">
	       			<p class="date-head">TRACKING NO</p>
	       			<img src="../../img/barcode.PNG" class="barcode-img" v-model = "barcode"/>
	       		</div>
	       	</div>
	       </div>

	       <div class="row second-row">
	       		<div class="col-md-6 shipper-row">
	       			<div class="head-details">SENDER</div>
	       			<div class="sub-details">
	       				FROM:<span class="from-span" v-model = "shipperName" > {{ currentCourier.requester_name }} </span>
	       				SHIPPER REF:<span class="ref-span">{{ currentCourier.reference_no }}</span>
	       			</div>
	       			<div class="address-details" v-model = "shipperAddress" >
	       				{{currentCourier.requester_address_1 }}<br>
	       				{{currentCourier.requester_address_2}}<br>
	       				{{ currentCourier.requester_city }}, {{ currentCourier.requester_state}}  <br>
	       				{{ currentCourier.requester_postal_code }}<br>
	       				{{ currentCourier.requester_country }}<br>

	       			</div>
	       			<div class="number-details">
	       				<h6>BOOKED BY : <span v-model = "BookedBy">{{ userDetails.name }}</span></h6>
	       				<h6>PHONE NUMBER:<span v-model = "BookedPhoneNo"> {{ userDetails.phone }}</span></h6>
	       			</div>
	       		</div>
	       		<div class="col-md-6 shipper-row">
	       			<div class="head-details">RECEIVER</div>
	       			<div class="sub-details">
	       				TO: <span class="from-span" > {{ currentCourier.delivery_address[0].delivery_name }}</span>
	       				<!-- <span class="ref-span">SHIPPER REF:602-0022384</span> -->
	       			</div>
	       			<div class="address-details">
	       				{{ currentCourier.delivery_address[0].delivery_address_1 }}<br>
	       				{{ currentCourier.delivery_address[0].delivery_address_2}}<br>
	       				{{ currentCourier.delivery_address[0].delivery_city }}, {{ currentCourier.delivery_address[0].delivery_state }}  <br>
	       				{{ currentCourier.delivery_address[0].delivery_postal_code }}<br>
	       				{{ currentCourier.delivery_address[0].delivery_country }}<br>
	       			</div>
	       			<div class="number-details">
	       				<h6>P.O BOXADDRESS WILL REQUIRE RECEIPIENT'S PHONE NUMBER </h6>
	       				<h6>PHONE NUMBER:<span>{{ currentCourier.delivery_address[0].delivery_phone }}</span></h6>
	       			</div>
	       		</div>
	       </div>

	       <div class="row third-row">
	       		<div class="col-md-4 content-description">
	       			DESCRIPTIONS OF CONTENTS<br>
	       			<span>AN INVOICE REQUIRED FOR NON-DOCUMENT SHIPMENT OUTSIDE THE COUNTRY</span><br>
	       			{{ bookingDetails.type_of_good}}
	       		</div>
	       		<div class="col-md-3 value-for-customer">
	       			<div class="value-box">
	       				<p class="value-head">VALUE FOR CUSTOMS</p>

	       			</div>
	       		</div>
	       		<div class="col-md-5 instructions">
	       			<div class="value-box">
	       				<p class="value-head">SPECIAL DELIVERY INSTRUCTIONS</p>
	       				<p class="value-content">{{ bookingDetails.pickup_instructions }}</p>
	       			</div>
	       		</div>
	       </div>

	       <div class="fourth-row">
	       		<div class="row receiver-title">RECEIVED BY</div>
	       		<div class="col-md-3 bottom-col">
	       			SIGN:
	       		</div>
	       		<div class="col-md-3 bottom-col">
	       			PRINT NAME:
	       		</div>
	       		<div class="col-md-3 bottom-col">
	       			DATE:
	       		</div>
	       		<div class="col-md-3">
	       			TIME:
	       		</div>
	       </div>

	       <div class="fifth-row">
	       		<p>THIS IS A NON-NEGOTIABLE AWB ISSUED SUBJECT TO THE COMPANY'S STANDARD TRADING CONDITIONS, A COPY OF WHICH IS AVAILABLE ON REQUEST</p>
	       </div>
	        </div>			
	       
	    </div>	    
	</div>

</template>

<script>
	export default {
		name: 'edit-consignment-modal',
		data() {
			return {
				modalStatus: true,
				senderId: '',
				senderDetails: '',
				sender: '',
				bookingDetails: {},
				userDetails: '',
				deliveryDetails: [],
				email:'',
				webAddress: '',
				date: '',
				accountNumber: '',
				pieces: '',
				weight: '',
				barcode: '',
				shipperName: '',
				shipperRef: '',
				shipperAddress: '',
				BookedBy: '',
				BookedPhoneNo: '',
				consigneeName: '',
				consigneeAddress: '',
				bookedTo: '',
				bookedToPhone: '',
				deliveryName: '',
				deliveryAddress1: '',
				deliveryAddress2: '',
				deliveryCity: '',
				deliveryState: '',
				deliveryPostalCode: '',
				deliveryCountry: '',
				deliveryPhone: '',
				currentCourier: {}

			}
		},
		created() {
		},
		mounted() {
			this.fillDetails();
		},
		methods: {
			closeModal() {
				this.modalStatus = false;
				this.$emit('closeModal', this.modalStatus);
			},
			fillDetails() {
				this.currentCourier = JSON.parse(localStorage.currentCourier);
				console.log(this.currentCourier);
				this.userDetails = JSON.parse(localStorage.user);
			}
		}
	}
</script>

<style lang="scss">
	
.consignment-booking-modal{
	display: block;
	width: 100%;
    left: 0;
    top: 0;
    height: 100vh;
    position: fixed;
    z-index: 9999999;
    background-color: rgba(0, 0, 0, 0.4);
    /* width */
	.modal-body::-webkit-scrollbar {
	    width: 5px;
	}

	/* Track */
	.modal-body::-webkit-scrollbar-track {
	    box-shadow: inset 0 0 5px #E0E0E0; 
	    border-radius: 20px;
	}

	/* Handle */
	.modal-body::-webkit-scrollbar-thumb {
	    background: #BDBDBD; 
	    border-radius: 20px;
	}
	.modal-box{
		position: absolute;
	    left: 26%;
	    top: 5%;
	    height: 580px;
	    overflow: hidden;
	    width: 750px;
	    border: 1px solid #757575;
	    background-color: white;
	    padding: 1% 1% 5% 1%;
	    .modal-header{
	    	width: 730px;
	    	height: 30px;
	    	position: fixed;
	    	background-color: white;
	    	z-index: 5;
	    	border-bottom: 0px;
	    	.close-consignment-modal{
	    		position: absolute;
	    		right: 0%;
	    		top: 1%;
	    		cursor: pointer;
	    		color: black;
	    	}
	    }

	    .modal-body{
	    	height: 550px;
	    	overflow-y: scroll;
	    }
	    .first-row{
	    	margin: 0px;
	    	padding-top: 3%;	
	    	.company-details-div{
	    		.logo-div{
	    			background-color: #fcbc0f;
	    			width: 100%;
	    			height: 70px;
	    			margin-bottom: 5%;
	    			background-image: url("../../img/drake.PNG");
	    			background-size: 100% 100%;
	    		}
	    		p{
	    			font-size: 12px;
	    			font-weight: 500;
	    			line-height: 5px;
	    		}
	    	}
	    	.remove-padding{
	    		padding: 3px;
	    	}
	    	.date-div{
	    		width: 100%;
	    		height: 120px;
	    		border: 1px solid #fcbc0f;
	    		text-align: center;
	    		.date-head{
	    			width: 100%;
	    			background-color: #fcbc0f;
	    			font-size: 12px;
	    			font-weight: 600;
	    		}
	    		P{font-weight: 600;}
	    		.barcode-img{
	    			width: 130px;
	    			height: auto;
	    		}

	    	}
	    }
	    .second-row{
	    	padding-left: 2%;
	    	padding-top: 1%;
	    	.shipper-row{
	    		width: 48%;
	    		margin-right: 1.5%;
	    		border: 1px solid #fcbc0f;
	    		padding: 0px;
	    		.head-details{
	    			width: 100%;
	    			background-color: #fcbc0f;
	    			font-weight: 600;
	    			font-size: 12px;
	    			padding: 1% 1% 1% 3%;
	    		}
	    		.sub-details{
	    			border-bottom: 1px solid #fcbc0f;
	    			padding: 2% 2% 2% 3%;
	    			font-weight: 600;
	    			.from-span{
	    				text-align: left;
	    				margin-right: 10%;
	    			}
	    		}
	    		.address-details{
	    			padding: 3%;
	    			font-size: 11px;
	    			font-weight: 600;
	    			border-bottom: 1px solid #fcbc0f;
	    		}
	    		.number-details{
	    			padding-left: 3%;
	    			padding-bottom: 1%;
	    			span{
	    				font-weight: bold;
	    			}
	    		}
	    	}
	    }
	    .third-row{
	    	padding-left: 2%;
	    	margin-top: 1%;
	    	.content-description{
	    		background-color: #fcbc0f;
	    		padding: 1% 3% 1% 2%; 
	    		font-weight: 600;
	    		height: 100px;
	    		span{font-size: 8px;}
	    	}
	    	.value-for-customer{
	    		padding: 0% 0% 0% 1%;
	    	}
	    	.instructions{
	    		padding: 0% 2.5% 0% 1%;
	    	}
	    	.value-box{
	    		height: 100px;
	    		border: 1px solid #fcbc0f;
	    		.value-head{
	    			background-color: #fcbc0f;
	    			width: 100%;
	    			font-size: 12px;
	    			font-weight: 600;
	    			padding: 1% 1% 1% 3%;

	    		}
	    		.value-content{
	    			padding-left: 3%;
	    			font-size: 14px;
	    			
	    		}
	    	}
	    }

	    .fourth-row{
	    	border: 1px solid #fcbc0f;
	    	margin-top: 1%;
	    	padding-left: 2%;
	    	height: 100px;
	    	padding-right: 2%;
	    	.receiver-title{
	    		background-color: #fcbc0f;
	    		padding-left: 2%;
	    		font-weight: 600;
	    		height: 25px;

	    	}
	    	.bottom-col{
	    		border-right: 1px solid #fcbc0f;
	    		height: 74px;
	    	}
	    }

	    .fifth-row{
	    	font-weight: 600;
	    	font-size: 10px;
	    	margin-top: 1%;
	    	text-align: center;
	    }
	   
	}
}
</style>