<template>
	<div>
	<div class="black-overlay" v-show="modalStatus"></div>	
	<div class="rate-card-modal" v-show="modalStatus">
		<i class="material-icons close-icon" @click = "closeModal">close</i>
		<img class="rate-card" :src="image" alt="rate-card" />
	</div>
</div>
</template>

<script>
	import router from '../router';


    export default {
		name: 'rate-card',
		props:['image'],
    	components: {
    	},
        data() {
            return {
            	modalStatus: true
            }
        },
        watch: {
        },
        methods: {
        	closeModal() {
        		this.$emit('closeRateCard', 'hello');
        	}
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                
            });
        },

    }    
</script>
<style lang="scss" scoped>
	.expand{
		height: auto !important;
	}
	.black-overlay{
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.7);
			position: fixed;
			left: 0px;
			top: 0px;
			z-index: 2;
		}
	.rate-card-modal{
		overflow-y:auto;
		background-color: white;
		position: relative;
		width: 60%;
		top: 20%;
		left: 25%;
		bottom:20%;
		z-index: 55;
		// min-height: 650px;
		padding:1%;
		height: auto;
		border: 1px solid rgba(0,0,0,0.1);
		box-shadow: 4px 8px 20px rgba(0,0,0,0.1);
		position: fixed;
		border-radius: 3px;
		box-sizing: border-box;
		.close-icon {
			position: absolute;
			right: 10px;
			top: 10px;
		}
		.close-icon:hover {
			cursor: pointer;
		}
		img {
			margin: 0% 10%;
			width: 80%;
		}
	}
</style>
