<template>

	<div class="consignment-booking-modal" id="consignment-booking-modal" v-show="modalStatus">

	    <div class="modal-box">
	    	<div class="modal-header">
	    		<button class="print-btn" @click= "printConsignment">	
	    			<img src="../assets/img/print.PNG"/>
	    			Print
	    		</button>
	    		<a class="close-consignment-modal" @click = "closeModal">
	    			<i class="material-icons" >close</i>
	    		</a>
	    	</div>

	        <div class="modal-body">
	        	
	        	<div class="row first-row">
	       	<div class="col-md-4 remove-padding">
	       		<div class="company-details-div">
	       			<div class="logo-div">
						   <img src="../../img/drake.PNG">
					   </div>
	       			<p v-model = "email" >E-mail: info@dbsa.asia</p>
	       			<p v-model = "webAddress">Web: http://www.dbsa.asia</p>
	       		</div>
	       	</div>
	       	<div class="col-md-2 remove-padding date-branch-code">
	       		<div class="date-div">
	       			<p class="date-head" >DATE</p>
	       			<p>{{ bookingDetails.request_date | moment("DD-MM-YYYY") }}</p>
	       			<p class="date-head">BRANCH CODE</p>
	       			<p >{{ bookingDetails.branch.branch_id }}</p>
	       		</div>
	       	</div>
	       	<div class="col-md-2 remove-padding pieces-weight">
	       		<div class="date-div">
	       			<p class="date-head">PIECES</p>
	       			<p>{{ bookingDetails.item_qty }}</p>
	       			<p class="date-head">WEIGHT</p>
	       			<p>{{ bookingDetails.item_weight * bookingDetails.item_qty }} Kgs</p>
	       		</div>
	       	</div>
	       	<div class="col-md-4 remove-padding tracking-no">
	       		<div class="date-div">
	       			<p class="date-head">TRACKING NO</p>
	       			<barcode :value="'WHO' + bookingDetails.booking_id" 
	       				format="CODE128" 
	       				width="2" 
	       				height="70" 
	       				marginTop="2" >
					  Cannot load barcode.
					</barcode>	       				
	       		</div>
	       	</div>
	       </div>

	       <div class="row second-row">
	       		<div class="col-md-6 shipper-row">
	       			<div class="head-details">SENDER</div>
	       			<div class="sub-details">
	       				FROM:<span class="from-span" v-model = "shipperName" > {{ bookingDetails.requester_name }} </span>
	       				SHIPPER REF:<span class="ref-span" v-model = "shipperRef" >{{ bookingDetails.reference_no }}</span>
	       			</div>
	       			<div class="address-details" v-model = "shipperAddress" >
	       				{{ bookingDetails.pickup_address_1 }}<br>
	       				{{bookingDetails.pickup_address_2}}<br>
	       				{{ bookingDetails.pickup_postal_code }} {{ bookingDetails.pickup_city}}<br>
	       				{{ bookingDetails.pickup_country }}<br>
	       			</div>
	       			<div class="number-details">
	       				<h6>BOOKED BY : <span v-model = "BookedBy">{{ bookingDetails.requester_name }}</span></h6>
	       				<h6>PHONE NUMBER:<span v-model = "BookedPhoneNo"> {{ bookingDetails.requester_phone }}</span></h6>
	       			</div>
	       		</div>
	       		<div class="col-md-6 shipper-row">
	       			<div class="head-details">RECEIVER</div>
	       			<div class="sub-details">
	       				TO: <span class="from-span" v-model = "consigneeName"> {{ bookingDetails.delivery_name }}</span>
	       				<!-- <span class="ref-span">SHIPPER REF:602-0022384</span> -->
	       			</div>
	       			<div class="address-details">
	       				{{ bookingDetails.delivery_address_1 }}<br>
	       				{{ bookingDetails.delivery_address_2}}<br>
	       				{{ bookingDetails.delivery_postal_code }} {{ bookingDetails.delivery_city }}<br>
	       				{{ bookingDetails.delivery_country }}<br>
	       			</div>
	       			<div class="number-details">
	       				<h6>P.O BOXADDRESS WILL REQUIRE RECEIPIENT'S PHONE NUMBER </h6>
	       				<h6>PHONE NUMBER:<span>{{ bookingDetails.delivery_phone }}</span></h6>
	       			</div>
	       		</div>
	       </div>

	       <div class="row third-row">
	       		<div class="col-md-4 content-description">
	       			DESCRIPTIONS OF CONTENTS<br>
	       			<span>{{ bookingDetails.goods_description ? bookingDetails.goods_description.slice(0,50) : null}}</span><br>
	       			<span class="goods-type">TYPE OF GOODS -{{ bookingDetails.type_of_good}}</span>
	       		</div>
	       		<div class="col-md-3 value-for-customer">
	       			<div class="value-box">
	       				<p class="value-head">VALUE FOR CUSTOMS</p>
	       			</div>
	       		</div>
	       		<div class="col-md-5 instructions">
	       			<div class="value-box">
	       				<p class="value-head">SPECIAL DELIVERY INSTRUCTIONS</p>
	       				<p class="value-content">{{ bookingDetails.pickup_instructions }}</p>
	       			</div>
	       		</div>
	       </div>

	       <div class="fourth-row">
	       		<div class="row receiver-title">RECEIVED BY</div>
	       		<div class="col-md-3 bottom-col">
	       			SIGN:
	       		</div>
	       		<div class="col-md-3 bottom-col">
	       			PRINT NAME:
	       		</div>
	       		<div class="col-md-3 bottom-col">
	       			DATE:
	       		</div>
	       		<div class="col-md-3 print-class">
	       			TIME:
	       		</div>
	       </div>

	       <div class="fifth-row">
	       		<p>THIS IS A NON-NEGOTIABLE AWB ISSUED SUBJECT TO THE COMPANY'S STANDARD TRADING CONDITIONS, A COPY OF WHICH IS AVAILABLE ON REQUEST</p>
	       </div>
	        </div>			
	       
	    </div>	    
	</div>

</template>

<script>
	import VueBarcode from 'vue-barcode';
	export default {
		name: 'single-consignment-modal',
		components: {
		    'barcode': VueBarcode
		},
		props: ['bookingDetails'],
		data() {
			return {
				modalStatus: true,
				senderId: '',
				senderDetails: '',
				sender: '',
				userDetails: '',
				deliveryDetails: [],
				email:'',
				webAddress: '',
				date: '',
				accountNumber: '',
				pieces: '',
				weight: '',
				barcode: '',
				shipperName: '',
				shipperRef: '',
				shipperAddress: '',
				BookedBy: '',
				BookedPhoneNo: '',
				consigneeName: '',
				consigneeAddress: '',
				bookedTo: '',
				bookedToPhone: '',
				deliveryName: '',
				deliveryAddress1: '',
				deliveryAddress2: '',
				deliveryCity: '',
				deliveryState: '',
				deliveryPostalCode: '',
				deliveryCountry: '',
				deliveryPhone: '',
				bookingId: '',
				courierDetails: {},
				barCodeData : 'WHO12345678',
				companyBranches: '',
				courierBookingData: ''
			}
		},
		created() {
			this.courierBookingData = JSON.parse(localStorage.courierDetails);
			this.companyBranches = JSON.parse(localStorage.companyDetails)[0].branches;

			this.$root.$on('viewConsignment', (id) => {
				console.log('evide ethi');
				this.currentCourier = this.courierBookingData.find(courier => courier.id == id);
				let currentBranch = this.companyBranches.find(item => item.id == this.currentCourier.branch_id);
				this.accountNumber = currentBranch.branch_id;
              });
			// this.senderId = JSON.parse(localStorage.senderDetails)[0];
			// this.deliveryId = JSON.parse(localStorage.deliveryDetails)[0];
			// this.addresses = JSON.parse(localStorage.addresses);
			// this.bookingDetails = JSON.parse(localStorage.courierBookingData);
		},
		mounted() {
		},
		beforeDestroy() {
			this.$root.$off('viewConsignment');
		},
		methods: {
			closeModal() {
				this.modalStatus = false;
				this.$emit('closeSingleModal', this.modalStatus);
			},
			printConsignment() {;
				window.print();
			},
			fillDetails() {
				this.deliveryDetails = this.bookingDetails.delivery_address;
				this.deliveryName = this.deliveryDetails[0].delivery_name;
				this.deliveryAddress1 = this.deliveryDetails[0].delivery_address_1;
				this.deliveryAddress2 = this.deliveryDetails[0].delivery_address_2;
				this.deliveryCity = this.deliveryDetails[0].delivery_city;
				this.deliveryState = this.deliveryDetails[0].delivery_state;
				this.deliveryPostalCode = this.deliveryDetails[0].delivery_postal_code;
				this.deliveryCountry = this.deliveryDetails[0].delivery_country;
				this.deliveryPhone = this.deliveryDetails[0].delivery_phone;
				this.date = this.bookingDetails.request_date;
				this.pieces = this.bookingDetails.item_qty;
				this.weight = this.bookingDetails.item_weight * this.bookingDetails.item_qty;
				this.shipperName = this.bookingDetails.requester_name;
				this.shipperRef = this.bookingDetails.item_reference;

				this.userDetails = JSON.parse(localStorage.user);
			},
			getRndInteger(min, max) {
			    return Math.floor(Math.random() * (max - min)) + min;
			}
		}
	}
</script>

<style lang="scss">
@media print {
	#side-nav, #top-nav, #sub-nav {
		display: none!important;
	}
	.print-heading {
		display: block;
		margin-top: -20px;
		h5{
			text-align: center;
		}
	}
	.top-filter-bar,.booking-list {
		display: none;
	}
	.print-btn {
		display: none;
	}
	.update-booking {
		display: none;
	}
	.content-box {
		margin-left: 0%;
		width: 100%;
	}
	.modal-box {
		position: relative;
	    left: 0% !important;
	    top: 5%;
	    height: auto !important;
	    overflow: hidden;
	    width: 100% !important;
	}
	.modal-body {
		height: auto !important;
	}
	.consignment-booking-modal {
		position: fixed;
		width: auto;
	}
	.company-details-div {
		width: 25%;
		float: left;
	}
	.date-div {
		width: 15% !important;
		float: left;
	    height: 120px;
	    border: 1px solid #fcbc0f !important;
	    text-align: center;
	}
	.head-details {
		background-color: #fcbc0f !important;
		-webkit-print-color-adjust: exact;
	}
	.date-head {
		background-color: #fcbc0f !important;
		-webkit-print-color-adjust: exact;
		border-color:#fcbc0f!important;
		border-style: solid!important;
		border-width:1px!important;
		border-top:0!important; 
	}
	.shipper-row {
		width : 30%;
		float: left;
	}
	.date-branch-code {
		margin-top: -5px !important;
		left: 10px !important;
	}
	.pieces-weight {
		top: -5px !important;
		left: 20px !important;
	}
	.tracking-no {
		.date-div {
			width: 100% !important;
		}
		.date-head {
			width: 100% !important;
		}
		float: left;
		top: -10px !important;
		left: 34px !important;
		width: 40% !important;
	}
	.third-row {
		width: auto !important;
		display: flex !important;
		height:100px !important;
		margin-left:0!important;
		justify-content:space-between!important;
		-webkit-print-color-adjust: exact;
		padding-left:0!important;
		
	}
	.content-description {
		height:100px !important;
		top:0px;
		background-color: #fcbc0f !important;
		-webkit-print-color-adjust: exact;
		display: block !important;
		width: 33% !important;
		border: 1px solid #fcbc0f !important;
		box-sizing:border-box!important;
		float:none!important;
	}

	.value-for-customer {
		height:100px !important;
		top: 0px !important;
		display: block !important;
		width: 33% !important;
		box-sizing:border-box!important;
		float:none!important;
	}
	.value-head {
		background-color: #fcbc0f !important;
		-webkit-print-color-adjust: exact;
	}
	.instructions {
		height:100px !important;
		top: 0px !important;
		display: block !important;
		width: 33% !important;
		box-sizing:border-box!important;
		float:none!important;
	}
	.fourth-row {
		margin-top: 10px !important;
		width: 100% !important;
	}
	.receiver-title {
		background-color: #fcbc0f !important;
		-webkit-print-color-adjust: exact;
		border-color:#fcbc0f!important;
		border-style: solid!important;
		border-width:1px!important;
		border-top:0!important; 
	}
	.bottom-col,.print-class {
		display: inline-block !important;
		width: 20% !important
	}
}
.print-heading {
	display: block;
	margin-top: -20px;
	h5{
		text-align: center;
	}
}	
.vue-barcode-element{
	position: relative;
	width : 220px;
	top: -6px
}
.consignment-booking-modal{
	display: block;
	width: 100%;
    left: 0;
    top: 0;
    height: 100vh;
    position: fixed;
    z-index: 9999999;
    background-color: rgba(0, 0, 0, 0.4);
    /* width */
	.modal-body::-webkit-scrollbar {
	    width: 5px;
	}

	/* Track */
	.modal-body::-webkit-scrollbar-track {
	    box-shadow: inset 0 0 5px #E0E0E0; 
	    border-radius: 20px;
	}

	/* Handle */
	.modal-body::-webkit-scrollbar-thumb {
	    background: #BDBDBD; 
	    border-radius: 20px;
	}
	.modal-box{
		position: absolute;
	    left: 26%;
	    top: 5%;
	    height: 580px;
	    overflow: hidden;
	    width: 750px;
	    border: 1px solid #757575;
	    background-color: white;
	    padding: 1% 1% 5% 1%;
	    .modal-header{
	    	width: 730px;
	    	height: 30px;
	    	position: fixed;
	    	background-color: white;
	    	z-index: 5;
	    	border-bottom: 0px;
	    	.print-btn {
	    		position: absolute;
			    width: 18%;
			    outline: none;
			    top: -5px;
			    padding: 5px 0;
			    right: 5%;
			    background-color: #fcbc0f;
			    border: none;
			    img {
			    	width: 14px;
				    margin-top: -3px;
				    margin-right: 5px;
			    }
	    	}
	    	.close-consignment-modal{
	    		position: absolute;
	    		right: 0%;
	    		top: -3px;
	    		cursor: pointer;
	    		color: black;
	    	}
	    }

	    .modal-body{
	    	height: 550px;
	    	overflow-y: scroll;
	    }
	    .first-row{
	    	margin: 0px;
	    	padding-top: 3%;	
	    	.company-details-div{
	    		.logo-div{
	    			background-color: #fcbc0f;
	    			width: 100%;
	    			height: 70px;
					margin-bottom:15px;
					img{
						height:100%;
						width:100%;
					}
	    		}
	    		p{
	    			font-size: 12px;
	    			font-weight: 500;
	    			line-height: 5px;
	    		}
	    	}
	    	.remove-padding{
	    		padding: 3px;
	    	}
	    	.date-div{
	    		width: 100%;
	    		height: 120px;
	    		border: 1px solid #fcbc0f;
	    		text-align: center;
	    		.date-head{
	    			width: 100%;
	    			background-color: #fcbc0f;
	    			font-size: 12px;
	    			font-weight: 600;
	    		}
	    		P{font-weight: 600;}
	    		.barcode-img{
	    			width: 130px;
	    			height: auto;
	    		}

	    	}
	    }
	    .second-row{
	    	padding-left: 2%;
	    	padding-top: 1%;
	    	.shipper-row{
	    		width: 48%;
	    		min-height: 235px;
	    		margin-right: 1.5%;
	    		border: 1px solid #fcbc0f;
	    		padding: 0px;
	    		.head-details{
	    			width: 100%;
	    			background-color: #fcbc0f;
	    			font-weight: 600;
	    			font-size: 12px;
	    			padding: 1% 1% 1% 3%;
	    		}
	    		.sub-details{
	    			border-bottom: 1px solid #fcbc0f;
	    			padding: 2% 2% 2% 3%;
	    			min-height: 54px;
	    			font-weight: 600;
	    			.from-span{
	    				text-align: left;
	    				margin-right: 10%;
	    			}
	    		}
	    		.address-details{
	    			padding: 3%;
	    			font-size: 11px;
	    			font-weight: 600;
	    			border-bottom: 1px solid #fcbc0f;
	    		}
	    		.number-details{
	    			padding-left: 3%;
	    			padding-bottom: 1%;
	    			span{
	    				font-weight: bold;
	    			}
	    		}
	    	}
	    }
	    .third-row{
	    	padding-left: 2%;
	    	margin-top: 1%;
	    	.content-description{
	    		background-color: #fcbc0f;
	    		padding: 1% 3% 1% 2%; 
	    		font-weight: 600;
	    		height: 100px;
	    		span{font-size: 12px;}
	    		.goods-type {
	    			position: absolute;
	    			bottom: 4px;
					font-size: 12px;
				}
	    	}
	    	.value-for-customer{
	    		padding: 0% 0% 0% 1%;
	    	}
	    	.instructions{
	    		padding: 0% 2.5% 0% 1%;
	    	}
	    	.value-box{
	    		height: 100px;
	    		border: 1px solid #fcbc0f;
	    		.value-head{
	    			background-color: #fcbc0f;
	    			width: 100%;
	    			font-size: 12px;
	    			font-weight: 600;
	    			padding: 1% 1% 1% 3%;

	    		}
	    		.value-content{
	    			padding-left: 3%;
	    			font-size: 14px;
	    			
	    		}
	    	}
	    }

	    .fourth-row{
	    	border: 1px solid #fcbc0f;
	    	margin-top: 1%;
	    	padding-left: 2%;
	    	height: 100px;
	    	padding-right: 2%;
	    	.receiver-title{
	    		background-color: #fcbc0f;
	    		padding-left: 2%;
	    		font-weight: 600;
	    		height: 25px;

	    	}
	    	.bottom-col{
	    		border-right: 1px solid #fcbc0f;
	    		height: 74px;
	    	}
	    }

	    .fifth-row{
	    	font-weight: 600;
	    	font-size: 10px;
	    	margin-top: 1%;
	    	text-align: center;
	    }
	   
	}
}
</style>
