<template>
	<div class="black-overlay"v-show="modalStatus">
		<div class="update-status-modal">
		    <header>
		     	UPDATE STATUS
		    </header>

		    <section>
		      <div class="row select-status-row">
						<select class="statusFilter" v-model="status" ref = "status" @change="autofillName">
								<option value="" disabled selected>Select status</option>
								<option value="all">All</option>
								<option value="Arrived" >Arrived</option>
								<option value="Bad Address" >Bad Address</option>
								<option value="Cancelled" >Cancelled</option>
								<option value="Deleted" >Deleted</option>
								<option value="Delivered" >Delivered</option>
								<option value="Dispatched" >Dispatched</option>
								<option value="Draft" >Draft</option>
								<option value="Hand Over" >Hand Over</option>
								<option value="Picked Up" >Picked Up</option>
								<option value="Printed" >Printed</option>
								<option value="Scanned In" >Scanned In</option>
								<option value="Sent to RAM" >Sent to RAM</option>
						</select>
		      </div>
		      <div class="row inputs-row">
		        <div class="col-md-4">
		        	<label>Name <span class="mandatory">*</span></label><br>
		        	<input type="text" name="" v-model="statusName" ref="created_by">
		        </div>
		        <div class="col-md-4">
		         	<label>Date <span class="mandatory">*</span></label><br>
							 <flat-pickr v-model="statusDate" ref="date"></flat-pickr>
		        </div>
		        <div class="col-md-4">
		         	<label>Time <span class="mandatory">*</span></label><br>
							 <flat-pickr
										v-model="statusTime"
										ref="time"
										:config="{enableTime: true,noCalendar: true,dateFormat: 'H:i',time_24hr: false}"
										@focus="removeWarning('pickup_time')"
								/>
		        </div>
		      </div>
		      <div class="row comments-row">
		       	<label>Comment</label><br>
		        <textarea v-model="statusComment" ref="note"></textarea>
		      </div>
		    </section>
		    <footer class="modal-foot">
		      <button class="cancel-btn" @click= "closeModal" >CANCEL</button>
		      <button class="update-btn" @click= "updateStatus">UPDATE</button>
		    </footer>
	  	</div>	
	</div>
</template>

<script>
	import flatPickr from "vue-flatpickr-component";
  import "flatpickr/dist/flatpickr.css";
	const token = localStorage.token;

	export default {
		name: 'update-status',
		components:{ flatPickr },
		data() {
			return {
				id: '',
				bookingId: '',
				modalStatus: true,
				status: '',
				statusName: 'RAM',
				statusDate: '',
				statusTime: '',
				statusComment: ''
			}
		},
		created() {
			this.$root.$on('updateConsignmentStatus', (data) => {
				this.status = ''
				this.bookingId = data.bookingId;
				this.id = data.id;
				console.log('data', data);
				this.showUpdatePopup = false;
              });
		},
		methods : {
			closeModal() {
				this.modalStatus = false;
				this.$root.$emit('closeUpdateModal', this.modalStatus);
				console.log(this.modalStatus);
			},
			checkEmptyValue(data) {
				let flag = false;
				Object.keys(data).forEach((key) => {
					console.log(key,data[key]);
					if(data[key] == '' && key != 'note') {
						flag = true;
					}
				});
				return flag;
			},
			autofillName(){
				if(this.status == "Delivered"){
					this.statusName = "";
				}else{
					this.statusName = "RAM";
				}
			},
			updateStatus() {
				let bookingId = this.bookingId;
				let data = {
					status: this.status,
					created_by: this.statusName,
					date: this.statusDate,
					time: this.statusTime,
					note: this.statusComment
				};
				let emptyValue = this.checkEmptyValue(data);
				console.log(data,emptyValue);
				if(!emptyValue) {
					this.axios.post('courier/WHO' + bookingId + '/status', data).
					then(response => {
						console.log(response);
						if(response.data.status == 'ok') {
							this.$root.$emit('changedStatus', { changedStatus: data.status,id: this.id });
							setTimeout(() => {
		        				this.closeModal();
		        				this.statusName = '';
		        				this.statusDate = '';
		        				this.statusTime = '';
		        				this.statusComment = '';

		        			},1000);
							this.$toasted.show("Status Updated", { 
								 theme: "primary", 
								 position: "bottom-right", 
								 type: 'success',
								 duration: 2000,
								 iconPack : 'material',
								 icon : {
						            name : 'check'
						         }
							});
						}
					}).
					catch(error => {
						console.log(error.response);
						this.$toasted.show("Some Error occured..Please check your input", { 
								 theme: "primary", 
								 position: "bottom-right", 
								 type: 'error',
								 duration: 2000,
								 iconPack : 'material',
								 icon : {
						            name : 'error'
						         }
							});
						// this.closeModal();
					});
				}
				else {
					this.$toasted.show("Please fill all mandatory fields", { 
						 theme: "primary", 
						 position: "bottom-right", 
						 type: 'error',
						 duration: 2000,
						 iconPack : 'material',
						 icon : {
				            name : 'close'
				         }
					});
				}
			},
			beforeDestroy() {
				this.$root.$off('updateConsignmentStatus');
			}
		}
	}
	
</script>

<style lang="scss">
	.mandatory {
		color: red;
	}
	/******* update status modal styles ***********/
	.black-overlay {
		position: fixed;
		width: 100%;
		height: 100vh;
		z-index: 1111;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.5);

		.update-status-modal{
			width: 500px;
			position: relative;
			z-index: 999;
			padding-bottom: 2%;
			top: 30%;
			left: 36%;
			background-color: white;
			box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
			header{
				background-color: black;
				color: #ffd10a;
				width: 100%;
				text-align: center;
				padding-top: 3%;
				padding-bottom: 3%;

				
			}
			.select-status-row{
				margin: 0px;
				padding: 3%;
				padding-left: 20%;
				padding-right: 20%;
				select{
					background-color: white;			//#ffd10a
					border: 1px solid rgba(0,0,0,0.1);
					outline: none;
					width: 100%;
					height: 40px;
					padding: 3% 5% 3% 5%;
				}

			}
			.inputs-row{
				margin: 0px;
				input{
					background-color: whitesmoke;
					border: none;
					outline: none;
					border: 1px solid rgba(0,0,0,0.1);
					width: 100%;
					padding: 2% 5%;
				}
			}
			.comments-row{
				margin: 0px;
				padding: 3%;
				textarea{
					width: 100%;
					padding:1% 2%;
					outline: none;
					background-color: whitesmoke;
					border: none;
					height: 80px;
					border: 1px solid rgba(0,0,0,0.1);
				}
			}
			.modal-foot{
				padding-left: 15%;
				.cancel-btn, .update-btn{
					width: 35%;
					border: none;
					outline: none;
					padding: 2%;
					margin-left: 5%;

				}
				.cancel-btn{
					background-color: black;
					color: #ffd10a;
				}
				.update-btn{
					background-color: #ffd10a;
					color: black;
				}
			}
		}
	}
	/******** updtae modal ends ******************/
	
</style>