<template>
	<div class="black-overlay">
		<div class="update-status-modal">
		    <header>
		     	UPDATE PASSWORD
		    </header>

		    <section>
		      <div class="row select-status-row">
                <label>Name</label>
		        <input type="text" class="form-control mb-3" v-model="user.name" disabled>
                <label>Enter new Password</label>
		        <input type="password" class="form-control mb-3" v-model="password.password">
                <label>Confirm new Password</label>
		        <input type="password" class="form-control mb-3" v-model="password.confirm_password">
		      </div>
		    </section>
		    <footer class="modal-foot">
		      <button class="cancel-btn" @click="$emit('close')">CANCEL</button>
		      <button class="update-btn" @click="updatePwd">UPDATE</button>
		    </footer>
	  	</div>	
	</div>
</template>

<script>
	export default {
        name: 'updatePassword',
        data(){
            return {
                password:{
                    password:"",
                    confirm_password:""
                }
            };
        },
        methods:{
            updatePwd(){
                this.axios.put("user/updatepassword/"+this.user.id,this.password)
                        .then(response => {
                            this.$emit('close');
                            this.$toasted.show("Password updated successfully", { 
                                theme: "primary", 
                                position: "bottom-right", 
                                type: 'success',
                                duration: 2000,
                                iconPack : 'material',
                                icon : {
                                        name : 'check'
                                    }
                            });
                        })
                        .catch(error => {
                            this.$toasted.show('Please check your inputs', { 
                                theme: "primary", 
                                position: "bottom-right", 
                                type: 'error',
                                duration: 2000,
                                iconPack : 'material',
                                icon : {
                                    name : 'close'
                                }
                            });
                        });
            }
        },
        props:['user']
	}
	
</script>

<style lang="scss">
	.mandatory {
		color: red;
	}
	/******* update status modal styles ***********/
	.black-overlay {
		position: fixed;
		width: 100%;
		height: 100vh;
		z-index: 1111;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.5);

		.update-status-modal{
			width: 500px;
			position: relative;
			z-index: 999;
			padding-bottom: 2%;
			top: 30%;
			left: 36%;
			background-color: white;
			box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
			header{
				background-color: black;
				color: #ffd10a;
				width: 100%;
				text-align: center;
				padding-top: 3%;
				padding-bottom: 3%;

				
			}
			.select-status-row{
				margin: 0px;
				padding: 3%;
				padding-left: 20%;
				padding-right: 20%;
				select{
					background-color: white;			//#ffd10a
					border: 1px solid rgba(0,0,0,0.1);
					outline: none;
					width: 100%;
					height: 40px;
					padding: 3% 5% 3% 5%;
				}

			}
			.inputs-row{
				margin: 0px;
				input{
					background-color: whitesmoke;
					border: none;
					outline: none;
					border: 1px solid rgba(0,0,0,0.1);
					width: 100%;
					padding: 2% 5%;
				}
			}
			.comments-row{
				margin: 0px;
				padding: 3%;
				textarea{
					width: 100%;
					padding:1% 2%;
					outline: none;
					background-color: whitesmoke;
					border: none;
					height: 80px;
					border: 1px solid rgba(0,0,0,0.1);
				}
			}
			.modal-foot{
				padding-left: 15%;
				.cancel-btn, .update-btn{
					width: 35%;
					border: none;
					outline: none;
					padding: 2%;
					margin-left: 5%;

				}
				.cancel-btn{
					background-color: black;
					color: #ffd10a;
				}
				.update-btn{
					background-color: #ffd10a;
					color: black;
				}
			}
		}
	}
    .mb-3{
        margin-bottom:1.5rem;
    }
	/******** updtae modal ends ******************/
	
</style>